<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L07_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{75,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{75,22}}</string>
                <key>sourceSize</key>
                <string>{83,30}</string>
            </dict>
            <key>L07_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{112,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,73}}</string>
                <key>sourceSize</key>
                <string>{112,75}</string>
            </dict>
            <key>L07_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,216},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>L07_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,453},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{36,55}</string>
            </dict>
            <key>L07_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,476},{30,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{30,82}}</string>
                <key>sourceSize</key>
                <string>{34,84}</string>
            </dict>
            <key>L07_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{38,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,71}}</string>
                <key>sourceSize</key>
                <string>{38,71}</string>
            </dict>
            <key>L07_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,153},{61,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,50}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>L07_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,257},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{57,62}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>L07_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,357},{55,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,31}}</string>
                <key>sourceSize</key>
                <string>{57,31}</string>
            </dict>
            <key>L07_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{43,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,118}}</string>
                <key>sourceSize</key>
                <string>{45,118}</string>
            </dict>
            <key>L07_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,79},{71,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,73}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>L07_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,390},{79,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{79,84}}</string>
                <key>sourceSize</key>
                <string>{81,92}</string>
            </dict>
            <key>L07_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,79},{50,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,72}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>L07_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>L07_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,390},{94,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,51}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>L07_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,155},{100,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,74}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>L07_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,486},{54,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{54,23}}</string>
                <key>sourceSize</key>
                <string>{56,25}</string>
            </dict>
            <key>L07_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,345},{43,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,55}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>L07_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,342},{45,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,60}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>L07_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,389},{53,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,62}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>L07_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,229},{26,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,55}}</string>
                <key>sourceSize</key>
                <string>{28,57}</string>
            </dict>
            <key>L07_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,257},{98,55}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{98,55}}</string>
                <key>sourceSize</key>
                <string>{100,63}</string>
            </dict>
            <key>L07_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{48,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>L07_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,309},{49,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>L07_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,257},{86,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>L07_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,248},{51,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,59}}</string>
                <key>sourceSize</key>
                <string>{51,61}</string>
            </dict>
            <key>L07_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,453},{56,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{56,44}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>L07_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,154},{73,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>L07_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,321},{19,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{19,58}}</string>
                <key>sourceSize</key>
                <string>{23,58}</string>
            </dict>
            <key>L07_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{116,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,56}}</string>
                <key>sourceSize</key>
                <string>{118,58}</string>
            </dict>
            <key>L07_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,75},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>L07_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,151}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{114,151}}</string>
                <key>sourceSize</key>
                <string>{116,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L07_word.pvr.ccz</string>
            <key>size</key>
            <string>{304,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eed4b29f913f82a5057a1230a92d0132$</string>
            <key>textureFileName</key>
            <string>L07_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
