<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L02_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,196},{71,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,56}}</string>
                <key>sourceSize</key>
                <string>{71,56}</string>
            </dict>
            <key>L02_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,475},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>L02_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,195},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>L02_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,80},{73,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,45}}</string>
                <key>sourceSize</key>
                <string>{73,45}</string>
            </dict>
            <key>L02_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{70,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,116}}</string>
                <key>sourceSize</key>
                <string>{70,116}</string>
            </dict>
            <key>L02_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,314},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>L02_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,196},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>L02_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{72,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,46}}</string>
                <key>sourceSize</key>
                <string>{72,46}</string>
            </dict>
            <key>L02_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{30,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,114}}</string>
                <key>sourceSize</key>
                <string>{30,114}</string>
            </dict>
            <key>L02_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,485},{51,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>L02_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,69},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>L02_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{48,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,80}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>L02_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>L02_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{55,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,43}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
            <key>L02_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,399},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>L02_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,196},{70,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,85}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>L02_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>L02_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,283},{27,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,76}}</string>
                <key>sourceSize</key>
                <string>{27,76}</string>
            </dict>
            <key>L02_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,192}}</string>
                <key>sourceSize</key>
                <string>{96,192}</string>
            </dict>
            <key>L02_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,155},{39,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,70}}</string>
                <key>sourceSize</key>
                <string>{39,70}</string>
            </dict>
            <key>L02_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,396},{77,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>L02_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,312},{85,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,39}}</string>
                <key>sourceSize</key>
                <string>{85,39}</string>
            </dict>
            <key>L02_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,312},{69,82}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{69,82}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>L02_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,80},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>L02_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,143},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>L02_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,412},{91,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,71}}</string>
                <key>sourceSize</key>
                <string>{91,71}</string>
            </dict>
            <key>L02_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,475},{32,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,70}}</string>
                <key>sourceSize</key>
                <string>{32,70}</string>
            </dict>
            <key>L02_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,269},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>L02_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,269},{61,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,26}}</string>
                <key>sourceSize</key>
                <string>{61,26}</string>
            </dict>
            <key>L02_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,156},{63,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>L02_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,76},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>L02_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L02_word.pvr.ccz</string>
            <key>size</key>
            <string>{376,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a10b84ce220dd5a6985db8ca247922f6$</string>
            <key>textureFileName</key>
            <string>L02_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
