<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L08_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{92,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,44}}</string>
                <key>sourceSize</key>
                <string>{92,44}</string>
            </dict>
            <key>L08_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,204},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>L08_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{105,57}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{105,57}}</string>
                <key>sourceSize</key>
                <string>{105,65}</string>
            </dict>
            <key>L08_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,363},{43,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,53}}</string>
                <key>sourceSize</key>
                <string>{43,53}</string>
            </dict>
            <key>L08_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,262},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>L08_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,271},{159,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,115}}</string>
                <key>sourceSize</key>
                <string>{159,115}</string>
            </dict>
            <key>L08_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,204},{37,78}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{37,78}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>L08_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,96},{97,94}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{97,94}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>L08_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{63,53}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{63,53}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>L08_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,432},{78,155}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,155}}</string>
                <key>sourceSize</key>
                <string>{80,157}</string>
            </dict>
            <key>L08_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,197},{83,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,61}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>L08_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{78,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,188}}</string>
                <key>sourceSize</key>
                <string>{78,190}</string>
            </dict>
            <key>L08_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,284},{40,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,132}}</string>
                <key>sourceSize</key>
                <string>{40,132}</string>
            </dict>
            <key>L08_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,109},{57,86}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{57,86}}</string>
                <key>sourceSize</key>
                <string>{63,94}</string>
            </dict>
            <key>L08_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,267}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,267}}</string>
                <key>sourceSize</key>
                <string>{140,267}</string>
            </dict>
            <key>L08_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,282},{64,59}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{64,59}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>L08_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>L08_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,67},{53,53}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{53,53}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>L08_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,197},{40,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,67}}</string>
                <key>sourceSize</key>
                <string>{40,67}</string>
            </dict>
            <key>L08_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,343},{60,56}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{60,56}}</string>
                <key>sourceSize</key>
                <string>{78,66}</string>
            </dict>
            <key>L08_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,303},{58,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,63}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>L08_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{159,108}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{159,108}}</string>
                <key>sourceSize</key>
                <string>{163,114}</string>
            </dict>
            <key>L08_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,284},{93,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,106}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>L08_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,401},{39,42}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{39,42}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>L08_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,112},{90,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,141}}</string>
                <key>sourceSize</key>
                <string>{90,141}</string>
            </dict>
            <key>L08_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,461},{46,45}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{46,45}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>L08_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,197},{69,80}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{69,80}}</string>
                <key>sourceSize</key>
                <string>{75,86}</string>
            </dict>
            <key>L08_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,122},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>L08_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{84,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{84,48}}</string>
                <key>sourceSize</key>
                <string>{114,64}</string>
            </dict>
            <key>L08_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,392},{53,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{53,32}}</string>
                <key>sourceSize</key>
                <string>{73,38}</string>
            </dict>
            <key>L08_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,271},{188,35}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{188,35}}</string>
                <key>sourceSize</key>
                <string>{190,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L08_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7313a15340ca59c0207d9b352f90f0aa$</string>
            <key>textureFileName</key>
            <string>L08_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
