<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L07_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{120,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{120,93}}</string>
                <key>sourceSize</key>
                <string>{122,93}</string>
            </dict>
            <key>L07_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,434},{41,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{41,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L07_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,359},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L07_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,106},{84,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,81}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>L07_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,434},{71,53}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{71,53}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L07_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,277},{80,49}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{80,49}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>L07_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,247},{47,67}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{47,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L07_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,110},{90,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,98}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>L07_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,192},{57,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{57,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>L07_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{84,65}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,65}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>L07_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,199}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{39,199}}</string>
                <key>sourceSize</key>
                <string>{75,201}</string>
            </dict>
            <key>L07_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,354},{70,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>L07_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{102,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{102,71}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>L07_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,325},{77,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,107}}</string>
                <key>sourceSize</key>
                <string>{77,107}</string>
            </dict>
            <key>L07_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{106,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,80}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>L07_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,82},{69,51}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{69,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L07_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,168},{77,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{77,65}}</string>
                <key>sourceSize</key>
                <string>{79,75}</string>
            </dict>
            <key>L07_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{108,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{108,45}}</string>
                <key>sourceSize</key>
                <string>{112,75}</string>
            </dict>
            <key>L07_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,389},{79,41}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{79,41}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>L07_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,273},{79,49}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{79,49}}</string>
                <key>sourceSize</key>
                <string>{79,75}</string>
            </dict>
            <key>L07_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,192},{79,53}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{79,53}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>L07_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,434},{57,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{57,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L07_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,88},{78,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{78,69}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>L07_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,434},{104,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,73}}</string>
                <key>sourceSize</key>
                <string>{104,75}</string>
            </dict>
            <key>L07_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{67,57}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{67,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L07_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,71},{57,53}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,21},{57,53}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L07_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,202},{55,100}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{55,100}}</string>
                <key>sourceSize</key>
                <string>{75,102}</string>
            </dict>
            <key>L07_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,434},{45,75}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{45,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L07_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,304},{70,83}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>L07_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{78,49}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{78,49}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>L07_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{71,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L07_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,153},{55,63}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{55,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L07_word.pvr.ccz</string>
            <key>size</key>
            <string>{405,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35548beafb525a2fa26489ba5129084d$</string>
            <key>textureFileName</key>
            <string>L07_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
