<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui01_btn_deluxe.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,354},{296,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,60}}</string>
                <key>sourceSize</key>
                <string>{296,60}</string>
            </dict>
            <key>ui01_btn_deluxe_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,869},{308,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,72}}</string>
                <key>sourceSize</key>
                <string>{308,72}</string>
            </dict>
            <key>ui01_btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,47},{106,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,74}}</string>
                <key>sourceSize</key>
                <string>{106,74}</string>
            </dict>
            <key>ui01_btn_more_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,189},{124,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,90}}</string>
                <key>sourceSize</key>
                <string>{124,90}</string>
            </dict>
            <key>ui01_btn_new_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,292},{296,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,60}}</string>
                <key>sourceSize</key>
                <string>{296,60}</string>
            </dict>
            <key>ui01_btn_new_game_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,559},{308,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,72}}</string>
                <key>sourceSize</key>
                <string>{308,72}</string>
            </dict>
            <key>ui01_btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,559},{402,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,82}}</string>
                <key>sourceSize</key>
                <string>{402,82}</string>
            </dict>
            <key>ui01_btn_play_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,559},{419,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,99}}</string>
                <key>sourceSize</key>
                <string>{419,99}</string>
            </dict>
            <key>ui01_btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,155},{402,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,82}}</string>
                <key>sourceSize</key>
                <string>{402,82}</string>
            </dict>
            <key>ui01_btn_resume_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,559},{419,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,99}}</string>
                <key>sourceSize</key>
                <string>{419,99}</string>
            </dict>
            <key>ui01_btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,963},{296,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,60}}</string>
                <key>sourceSize</key>
                <string>{296,60}</string>
            </dict>
            <key>ui01_btn_setting_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,416},{308,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,72}}</string>
                <key>sourceSize</key>
                <string>{308,72}</string>
            </dict>
            <key>ui01_btn_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,963},{296,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,60}}</string>
                <key>sourceSize</key>
                <string>{296,60}</string>
            </dict>
            <key>ui01_btn_settings_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,416},{308,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,72}}</string>
                <key>sourceSize</key>
                <string>{308,72}</string>
            </dict>
            <key>ui01_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{774,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{774,290}}</string>
                <key>sourceSize</key>
                <string>{774,290}</string>
            </dict>
            <key>ui09_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,292},{702,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,40}}</string>
                <key>sourceSize</key>
                <string>{702,40}</string>
            </dict>
            <key>ui09_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{724,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{724,40}}</string>
                <key>sourceSize</key>
                <string>{724,40}</string>
            </dict>
            <key>ui09_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,0},{208,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,45}}</string>
                <key>sourceSize</key>
                <string>{208,45}</string>
            </dict>
            <key>ui10_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,292},{678,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,259}}</string>
                <key>sourceSize</key>
                <string>{678,259}</string>
            </dict>
            <key>ui10_popup_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,124},{158,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,63}}</string>
                <key>sourceSize</key>
                <string>{158,63}</string>
            </dict>
            <key>ui10_popup_button_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,47},{170,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,75}}</string>
                <key>sourceSize</key>
                <string>{170,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>load-home.pvr.ccz</string>
            <key>size</key>
            <string>{1022,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:417144f33636178096448dd03b2d8280$</string>
            <key>textureFileName</key>
            <string>load-home.pvr.ccz</string>
        </dict>
    </dict>
</plist>
