<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui05_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{822,585}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{822,585}}</string>
                <key>sourceSize</key>
                <string>{822,585}</string>
            </dict>
            <key>ui07_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,587},{415,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,7}}</string>
                <key>sourceSize</key>
                <string>{415,7}</string>
            </dict>
            <key>ui07_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,661},{467,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,42}}</string>
                <key>sourceSize</key>
                <string>{467,42}</string>
            </dict>
            <key>ui07_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,587},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>ui07_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,587},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>ui07_close_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,587},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>ui07_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,719},{282,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,60}}</string>
                <key>sourceSize</key>
                <string>{282,60}</string>
            </dict>
            <key>ui07_delete_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,719},{294,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,72}}</string>
                <key>sourceSize</key>
                <string>{294,72}</string>
            </dict>
            <key>ui07_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,587},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>ui07_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,296},{479,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,81}}</string>
                <key>sourceSize</key>
                <string>{479,81}</string>
            </dict>
            <key>ui07_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,587},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>ui08_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,121},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>ui08_btn_buy_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,0},{120,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,119}}</string>
                <key>sourceSize</key>
                <string>{120,119}</string>
            </dict>
            <key>ui08_btn_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,719},{282,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,60}}</string>
                <key>sourceSize</key>
                <string>{282,60}</string>
            </dict>
            <key>ui08_btn_restore_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,0},{294,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,72}}</string>
                <key>sourceSize</key>
                <string>{294,72}</string>
            </dict>
            <key>ui08_deluxe.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,238},{479,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,82}}</string>
                <key>sourceSize</key>
                <string>{479,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pop-window.pvr.ccz</string>
            <key>size</key>
            <string>{1018,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79c90f6949b9da27f448e4ad7c12f7c0$</string>
            <key>textureFileName</key>
            <string>pop-window.pvr.ccz</string>
        </dict>
    </dict>
</plist>
