<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6x6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1263},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>6x6_01_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,124},{114,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,112}}</string>
                <key>sourceSize</key>
                <string>{114,112}</string>
            </dict>
            <key>6x6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1304},{120,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>6x6_02_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1056},{137,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,106}}</string>
                <key>sourceSize</key>
                <string>{137,106}</string>
            </dict>
            <key>6x6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,330},{188,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,115}}</string>
                <key>sourceSize</key>
                <string>{188,115}</string>
            </dict>
            <key>6x6_03_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,0},{205,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,133}}</string>
                <key>sourceSize</key>
                <string>{205,133}</string>
            </dict>
            <key>6x6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1345},{106,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,112}}</string>
                <key>sourceSize</key>
                <string>{106,112}</string>
            </dict>
            <key>6x6_04_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1061},{124,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,129}}</string>
                <key>sourceSize</key>
                <string>{124,129}</string>
            </dict>
            <key>6x6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,267},{190,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,111}}</string>
                <key>sourceSize</key>
                <string>{190,111}</string>
            </dict>
            <key>6x6_05_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,135},{207,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,130}}</string>
                <key>sourceSize</key>
                <string>{207,130}</string>
            </dict>
            <key>6x6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,757},{133,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,166}}</string>
                <key>sourceSize</key>
                <string>{133,166}</string>
            </dict>
            <key>6x6_06_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,380},{151,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,184}}</string>
                <key>sourceSize</key>
                <string>{151,184}</string>
            </dict>
            <key>6x6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,135},{84,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,156}}</string>
                <key>sourceSize</key>
                <string>{84,156}</string>
            </dict>
            <key>6x6_07_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,533},{103,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,174}}</string>
                <key>sourceSize</key>
                <string>{103,174}</string>
            </dict>
            <key>6x6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,820},{166,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,121}}</string>
                <key>sourceSize</key>
                <string>{166,121}</string>
            </dict>
            <key>6x6_08_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,135},{184,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,139}}</string>
                <key>sourceSize</key>
                <string>{184,139}</string>
            </dict>
            <key>6x6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,557},{174,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,106}}</string>
                <key>sourceSize</key>
                <string>{174,106}</string>
            </dict>
            <key>6x6_09_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,204},{191,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,124}}</string>
                <key>sourceSize</key>
                <string>{191,124}</string>
            </dict>
            <key>6x6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,947},{150,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,135}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>6x6_10_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,665},{167,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,153}}</string>
                <key>sourceSize</key>
                <string>{167,153}</string>
            </dict>
            <key>6x6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,635},{92,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,113}}</string>
                <key>sourceSize</key>
                <string>{92,113}</string>
            </dict>
            <key>6x6_11_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,989},{108,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,130}}</string>
                <key>sourceSize</key>
                <string>{108,130}</string>
            </dict>
            <key>6x6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,750},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>6x6_12_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,954},{106,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>6x6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1047},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>6x6_13_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,825},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>6x6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1084},{137,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,135}}</string>
                <key>sourceSize</key>
                <string>{137,135}</string>
            </dict>
            <key>6x6_14_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,764},{155,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,152}}</string>
                <key>sourceSize</key>
                <string>{155,152}</string>
            </dict>
            <key>6x6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,638},{140,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,98}}</string>
                <key>sourceSize</key>
                <string>{140,98}</string>
            </dict>
            <key>6x6_15_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,943},{157,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,116}}</string>
                <key>sourceSize</key>
                <string>{157,116}</string>
            </dict>
            <key>6x6_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,780},{153,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,116}}</string>
                <key>sourceSize</key>
                <string>{153,116}</string>
            </dict>
            <key>6x6_16_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,577},{171,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>6x6_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,635},{168,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,120}}</string>
                <key>sourceSize</key>
                <string>{168,120}</string>
            </dict>
            <key>6x6_17_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{184,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,137}}</string>
                <key>sourceSize</key>
                <string>{184,137}</string>
            </dict>
            <key>6x6_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,111},{91,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,210}}</string>
                <key>sourceSize</key>
                <string>{91,210}</string>
            </dict>
            <key>6x6_18_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,0},{109,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,226}}</string>
                <key>sourceSize</key>
                <string>{109,226}</string>
            </dict>
            <key>6x6_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1221},{109,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,122}}</string>
                <key>sourceSize</key>
                <string>{109,122}</string>
            </dict>
            <key>6x6_19_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1048},{128,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,139}}</string>
                <key>sourceSize</key>
                <string>{128,139}</string>
            </dict>
            <key>6x6_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1224},{125,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,119}</string>
            </dict>
            <key>6x6_20_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,909},{141,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,137}}</string>
                <key>sourceSize</key>
                <string>{141,137}</string>
            </dict>
            <key>6x6_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1187},{123,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,129}}</string>
                <key>sourceSize</key>
                <string>{123,129}</string>
            </dict>
            <key>6x6_21_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,766},{141,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,147}}</string>
                <key>sourceSize</key>
                <string>{141,147}</string>
            </dict>
            <key>6x6_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1426},{105,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,112}}</string>
                <key>sourceSize</key>
                <string>{105,112}</string>
            </dict>
            <key>6x6_22_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1099},{123,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,129}}</string>
                <key>sourceSize</key>
                <string>{123,129}</string>
            </dict>
            <key>6x6_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1164},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>6x6_23_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1178},{129,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,124}}</string>
                <key>sourceSize</key>
                <string>{129,124}</string>
            </dict>
            <key>6x6_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1316},{111,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>6x6_24_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1062},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>6x6_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1312},{112,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,123}}</string>
                <key>sourceSize</key>
                <string>{112,123}</string>
            </dict>
            <key>6x6_25_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,345},{131,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,141}}</string>
                <key>sourceSize</key>
                <string>{131,141}</string>
            </dict>
            <key>6x6_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1193},{128,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,121}}</string>
                <key>sourceSize</key>
                <string>{128,121}</string>
            </dict>
            <key>6x6_26_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,626},{145,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,138}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>6x6_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,283},{141,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,181}}</string>
                <key>sourceSize</key>
                <string>{141,181}</string>
            </dict>
            <key>6x6_27_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,124},{157,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,198}}</string>
                <key>sourceSize</key>
                <string>{157,198}</string>
            </dict>
            <key>6x6_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,712},{161,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,111}}</string>
                <key>sourceSize</key>
                <string>{161,111}</string>
            </dict>
            <key>6x6_28_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,447},{178,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,128}}</string>
                <key>sourceSize</key>
                <string>{178,128}</string>
            </dict>
            <key>6x6_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,935},{119,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,126}}</string>
                <key>sourceSize</key>
                <string>{119,126}</string>
            </dict>
            <key>6x6_29_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,488},{136,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,143}}</string>
                <key>sourceSize</key>
                <string>{136,143}</string>
            </dict>
            <key>6x6_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,389},{75,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,161}}</string>
                <key>sourceSize</key>
                <string>{75,161}</string>
            </dict>
            <key>6x6_30_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,426},{93,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,178}}</string>
                <key>sourceSize</key>
                <string>{93,178}</string>
            </dict>
            <key>6x6_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,293},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>6x6_31_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,840},{98,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,112}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>6x6_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,892},{158,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,95}}</string>
                <key>sourceSize</key>
                <string>{158,95}</string>
            </dict>
            <key>6x6_32_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,521},{175,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,112}}</string>
                <key>sourceSize</key>
                <string>{175,112}</string>
            </dict>
            <key>6x6_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1332},{95,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,87}}</string>
                <key>sourceSize</key>
                <string>{95,87}</string>
            </dict>
            <key>6x6_33_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,238},{113,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,105}}</string>
                <key>sourceSize</key>
                <string>{113,105}</string>
            </dict>
            <key>6x6_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,29},{272,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,104}}</string>
                <key>sourceSize</key>
                <string>{272,104}</string>
            </dict>
            <key>6x6_34_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,0},{289,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,122}}</string>
                <key>sourceSize</key>
                <string>{289,122}</string>
            </dict>
            <key>6x6_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,638},{161,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,124}}</string>
                <key>sourceSize</key>
                <string>{161,124}</string>
            </dict>
            <key>6x6_35_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,415},{178,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,140}}</string>
                <key>sourceSize</key>
                <string>{178,140}</string>
            </dict>
            <key>6x6_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1151},{134,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,110}}</string>
                <key>sourceSize</key>
                <string>{134,110}</string>
            </dict>
            <key>6x6_36_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,918},{152,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,127}}</string>
                <key>sourceSize</key>
                <string>{152,127}</string>
            </dict>
            <key>l03_Jigsaw_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{297,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,27}}</string>
                <key>sourceSize</key>
                <string>{297,27}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,552},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>puzzle6x6.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1531}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:844bf20bb139774290723999dc40b729$</string>
            <key>textureFileName</key>
            <string>puzzle6x6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
