<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L14_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,295},{52,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,88}}</string>
                <key>sourceSize</key>
                <string>{52,88}</string>
            </dict>
            <key>L14_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{138,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{138,76}</string>
            </dict>
            <key>L14_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,226},{58,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,77}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
            <key>L14_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{86,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{86,102}</string>
            </dict>
            <key>L14_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,356},{36,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>L14_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,166},{74,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,91}}</string>
                <key>sourceSize</key>
                <string>{74,91}</string>
            </dict>
            <key>L14_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,356},{54,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,81}}</string>
                <key>sourceSize</key>
                <string>{54,81}</string>
            </dict>
            <key>L14_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,186},{107,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{107,28}}</string>
                <key>sourceSize</key>
                <string>{107,44}</string>
            </dict>
            <key>L14_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,355},{88,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,79}}</string>
                <key>sourceSize</key>
                <string>{88,79}</string>
            </dict>
            <key>L14_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{44,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,176}}</string>
                <key>sourceSize</key>
                <string>{44,176}</string>
            </dict>
            <key>L14_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,440},{89,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,55}}</string>
                <key>sourceSize</key>
                <string>{89,55}</string>
            </dict>
            <key>L14_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,305},{47,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,78}}</string>
                <key>sourceSize</key>
                <string>{47,78}</string>
            </dict>
            <key>L14_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,266},{65,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,88}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>L14_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>L14_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,90},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{74,92}</string>
            </dict>
            <key>L14_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,182}}</string>
                <key>sourceSize</key>
                <string>{139,182}</string>
            </dict>
            <key>L14_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,350},{139,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,128}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>L14_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,349},{89,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,42}}</string>
                <key>sourceSize</key>
                <string>{89,44}</string>
            </dict>
            <key>L14_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,108},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>L14_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,440},{56,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,65}}</string>
                <key>sourceSize</key>
                <string>{56,65}</string>
            </dict>
            <key>L14_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,182},{82,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>L14_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,186},{106,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,58}}</string>
                <key>sourceSize</key>
                <string>{106,58}</string>
            </dict>
            <key>L14_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,142},{42,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,90}}</string>
                <key>sourceSize</key>
                <string>{44,90}</string>
            </dict>
            <key>L14_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,436},{88,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{88,74}</string>
            </dict>
            <key>L14_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,305},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>L14_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,113},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>L14_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,186},{162,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,120}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
            <key>L14_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{109,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,65}}</string>
                <key>sourceSize</key>
                <string>{109,65}</string>
            </dict>
            <key>L14_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,354},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>L14_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,169},{59,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
            <key>L14_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{146,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,79}}</string>
                <key>sourceSize</key>
                <string>{146,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L14_word.pvr.ccz</string>
            <key>size</key>
            <string>{497,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:879d56d78f8416fe2c15a0150a8ca76b$</string>
            <key>textureFileName</key>
            <string>L14_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
