<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L11_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,424},{90,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,74}}</string>
                <key>sourceSize</key>
                <string>{90,74}</string>
            </dict>
            <key>L11_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,286},{60,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,129}}</string>
                <key>sourceSize</key>
                <string>{60,129}</string>
            </dict>
            <key>L11_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,525},{67,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{67,64}</string>
            </dict>
            <key>L11_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,386},{44,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,97}}</string>
                <key>sourceSize</key>
                <string>{44,97}</string>
            </dict>
            <key>L11_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,175},{38,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,136}}</string>
                <key>sourceSize</key>
                <string>{44,136}</string>
            </dict>
            <key>L11_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,359},{59,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,68}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>L11_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,388},{57,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,92}}</string>
                <key>sourceSize</key>
                <string>{57,92}</string>
            </dict>
            <key>L11_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,149},{49,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,136}}</string>
                <key>sourceSize</key>
                <string>{49,136}</string>
            </dict>
            <key>L11_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,71},{93,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,104}}</string>
                <key>sourceSize</key>
                <string>{93,104}</string>
            </dict>
            <key>L11_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{71,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,120}}</string>
                <key>sourceSize</key>
                <string>{71,120}</string>
            </dict>
            <key>L11_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,359},{94,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,63}}</string>
                <key>sourceSize</key>
                <string>{94,63}</string>
            </dict>
            <key>L11_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,469},{60,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>L11_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,447},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>L11_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{169,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,97}}</string>
                <key>sourceSize</key>
                <string>{169,97}</string>
            </dict>
            <key>L11_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,264},{22,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{22,93}}</string>
                <key>sourceSize</key>
                <string>{44,93}</string>
            </dict>
            <key>L11_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,261},{118,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,96}}</string>
                <key>sourceSize</key>
                <string>{118,96}</string>
            </dict>
            <key>L11_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>L11_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,348},{38,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,125}}</string>
                <key>sourceSize</key>
                <string>{44,125}</string>
            </dict>
            <key>L11_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{83,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,99}}</string>
                <key>sourceSize</key>
                <string>{83,99}</string>
            </dict>
            <key>L11_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,369},{42,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,98}}</string>
                <key>sourceSize</key>
                <string>{44,98}</string>
            </dict>
            <key>L11_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,166},{103,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,93}}</string>
                <key>sourceSize</key>
                <string>{103,93}</string>
            </dict>
            <key>L11_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,420},{68,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,42}}</string>
                <key>sourceSize</key>
                <string>{68,44}</string>
            </dict>
            <key>L11_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{67,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,108}}</string>
                <key>sourceSize</key>
                <string>{67,108}</string>
            </dict>
            <key>L11_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{101,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{101,38}}</string>
                <key>sourceSize</key>
                <string>{101,44}</string>
            </dict>
            <key>L11_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,500},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>L11_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,175},{28,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{28,87}}</string>
                <key>sourceSize</key>
                <string>{44,87}</string>
            </dict>
            <key>L11_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,287},{97,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,46}}</string>
                <key>sourceSize</key>
                <string>{97,46}</string>
            </dict>
            <key>L11_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,544},{63,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>L11_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,215},{134,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,69}}</string>
                <key>sourceSize</key>
                <string>{134,69}</string>
            </dict>
            <key>L11_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,223}}</string>
                <key>sourceSize</key>
                <string>{145,223}</string>
            </dict>
            <key>L11_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,464},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>L11_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{119,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,164}}</string>
                <key>sourceSize</key>
                <string>{119,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L11_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,609}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf2fa8c355f25d8a67433c246e14aa68$</string>
            <key>textureFileName</key>
            <string>L11_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
