<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L15_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,145},{73,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,51}}</string>
                <key>sourceSize</key>
                <string>{73,51}</string>
            </dict>
            <key>L15_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,308},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
            <key>L15_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,198},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>L15_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,387},{76,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,103}}</string>
                <key>sourceSize</key>
                <string>{76,103}</string>
            </dict>
            <key>L15_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,388},{59,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,106}}</string>
                <key>sourceSize</key>
                <string>{59,106}</string>
            </dict>
            <key>L15_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,472},{67,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{67,38}}</string>
                <key>sourceSize</key>
                <string>{67,44}</string>
            </dict>
            <key>L15_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,86},{57,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,81}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>L15_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,488},{74,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{74,22}}</string>
                <key>sourceSize</key>
                <string>{74,44}</string>
            </dict>
            <key>L15_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,210},{89,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,81}}</string>
                <key>sourceSize</key>
                <string>{89,81}</string>
            </dict>
            <key>L15_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{117,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,59}}</string>
                <key>sourceSize</key>
                <string>{117,59}</string>
            </dict>
            <key>L15_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>L15_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,309},{44,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,71}}</string>
                <key>sourceSize</key>
                <string>{44,71}</string>
            </dict>
            <key>L15_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,107},{101,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,83}}</string>
                <key>sourceSize</key>
                <string>{101,83}</string>
            </dict>
            <key>L15_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,353},{28,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{28,89}}</string>
                <key>sourceSize</key>
                <string>{44,89}</string>
            </dict>
            <key>L15_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,223}}</string>
                <key>sourceSize</key>
                <string>{124,223}</string>
            </dict>
            <key>L15_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,145},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>L15_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,353},{59,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>L15_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,266},{40,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{44,70}</string>
            </dict>
            <key>L15_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{127,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,98}}</string>
                <key>sourceSize</key>
                <string>{127,98}</string>
            </dict>
            <key>L15_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,383},{53,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,103}}</string>
                <key>sourceSize</key>
                <string>{53,103}</string>
            </dict>
            <key>L15_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{48,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,100}}</string>
                <key>sourceSize</key>
                <string>{48,100}</string>
            </dict>
            <key>L15_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,301},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>L15_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,145},{55,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{55,48}</string>
            </dict>
            <key>L15_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,227},{124,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,95}}</string>
                <key>sourceSize</key>
                <string>{124,95}</string>
            </dict>
            <key>L15_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,388},{108,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,76}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>L15_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,375},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>L15_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{51,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,103}}</string>
                <key>sourceSize</key>
                <string>{51,103}</string>
            </dict>
            <key>L15_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,382},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>L15_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,210},{97,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,73}}</string>
                <key>sourceSize</key>
                <string>{97,73}</string>
            </dict>
            <key>L15_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{141,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,159}}</string>
                <key>sourceSize</key>
                <string>{141,159}</string>
            </dict>
            <key>L15_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,131},{38,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,91}}</string>
                <key>sourceSize</key>
                <string>{44,91}</string>
            </dict>
            <key>L15_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,131},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L15_word.pvr.ccz</string>
            <key>size</key>
            <string>{510,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:497a52a9cf97797f14c24274f1a162c6$</string>
            <key>textureFileName</key>
            <string>L15_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
