<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L16_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,275},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>L16_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,360},{61,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{61,34}}</string>
                <key>sourceSize</key>
                <string>{61,44}</string>
            </dict>
            <key>L16_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,339},{51,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>L16_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,360},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>L16_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,74},{50,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,111}}</string>
                <key>sourceSize</key>
                <string>{50,111}</string>
            </dict>
            <key>L16_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,414},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>L16_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,216},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>L16_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>L16_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,219},{65,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,105}}</string>
                <key>sourceSize</key>
                <string>{65,105}</string>
            </dict>
            <key>L16_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,347},{74,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{74,32}}</string>
                <key>sourceSize</key>
                <string>{74,44}</string>
            </dict>
            <key>L16_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,234}}</string>
                <key>sourceSize</key>
                <string>{120,234}</string>
            </dict>
            <key>L16_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,347},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>L16_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,184},{57,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,89}}</string>
                <key>sourceSize</key>
                <string>{57,89}</string>
            </dict>
            <key>L16_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,424},{84,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,103}}</string>
                <key>sourceSize</key>
                <string>{84,103}</string>
            </dict>
            <key>L16_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{184,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,138}}</string>
                <key>sourceSize</key>
                <string>{184,138}</string>
            </dict>
            <key>L16_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{70,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,114}}</string>
                <key>sourceSize</key>
                <string>{70,114}</string>
            </dict>
            <key>L16_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,347},{92,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,65}}</string>
                <key>sourceSize</key>
                <string>{92,65}</string>
            </dict>
            <key>L16_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,424},{78,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,63}}</string>
                <key>sourceSize</key>
                <string>{78,63}</string>
            </dict>
            <key>L16_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,424},{42,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,86}}</string>
                <key>sourceSize</key>
                <string>{44,86}</string>
            </dict>
            <key>L16_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{58,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,124}}</string>
                <key>sourceSize</key>
                <string>{58,124}</string>
            </dict>
            <key>L16_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,286},{59,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,99}}</string>
                <key>sourceSize</key>
                <string>{59,99}</string>
            </dict>
            <key>L16_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{127,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,144}}</string>
                <key>sourceSize</key>
                <string>{127,144}</string>
            </dict>
            <key>L16_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,355},{67,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,44}</string>
            </dict>
            <key>L16_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,148},{139,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,88}}</string>
                <key>sourceSize</key>
                <string>{139,88}</string>
            </dict>
            <key>L16_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,238},{32,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{32,115}}</string>
                <key>sourceSize</key>
                <string>{44,115}</string>
            </dict>
            <key>L16_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,74},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>L16_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{107,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>L16_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,238},{120,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>L16_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,283},{74,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,54}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>L16_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,126},{91,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,106}}</string>
                <key>sourceSize</key>
                <string>{91,106}</string>
            </dict>
            <key>L16_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,139},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>L16_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,128},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L16_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fec5d81b7c0a6d14dba8b15132af631e$</string>
            <key>textureFileName</key>
            <string>L16_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
