<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L07_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{191,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,108}}</string>
                <key>sourceSize</key>
                <string>{191,108}</string>
            </dict>
            <key>L07_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,112},{32,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,102}}</string>
                <key>sourceSize</key>
                <string>{32,102}</string>
            </dict>
            <key>L07_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,551},{56,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>L07_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,467},{97,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{97,82}}</string>
                <key>sourceSize</key>
                <string>{97,86}</string>
            </dict>
            <key>L07_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>L07_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,315},{76,119}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{76,119}}</string>
                <key>sourceSize</key>
                <string>{76,127}</string>
            </dict>
            <key>L07_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{112,127}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{112,127}}</string>
                <key>sourceSize</key>
                <string>{114,131}</string>
            </dict>
            <key>L07_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,426},{78,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,43}}</string>
                <key>sourceSize</key>
                <string>{82,49}</string>
            </dict>
            <key>L07_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,506},{85,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,73}}</string>
                <key>sourceSize</key>
                <string>{85,73}</string>
            </dict>
            <key>L07_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,124},{90,143}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,143}}</string>
                <key>sourceSize</key>
                <string>{90,147}</string>
            </dict>
            <key>L07_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{69,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,132}</string>
            </dict>
            <key>L07_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,112},{142,157}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,157}}</string>
                <key>sourceSize</key>
                <string>{146,157}</string>
            </dict>
            <key>L07_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,333},{109,39}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{109,39}}</string>
                <key>sourceSize</key>
                <string>{127,39}</string>
            </dict>
            <key>L07_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{76,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,49}}</string>
                <key>sourceSize</key>
                <string>{76,51}</string>
            </dict>
            <key>L07_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,216},{115,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,24}}</string>
                <key>sourceSize</key>
                <string>{115,24}</string>
            </dict>
            <key>L07_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,531},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>L07_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,444},{57,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{57,41}}</string>
                <key>sourceSize</key>
                <string>{57,43}</string>
            </dict>
            <key>L07_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,322},{104,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,52}}</string>
                <key>sourceSize</key>
                <string>{104,54}</string>
            </dict>
            <key>L07_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{83,97}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{83,97}}</string>
                <key>sourceSize</key>
                <string>{87,97}</string>
            </dict>
            <key>L07_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,309}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,309}}</string>
                <key>sourceSize</key>
                <string>{122,309}</string>
            </dict>
            <key>L07_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,256},{45,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,112}}</string>
                <key>sourceSize</key>
                <string>{45,112}</string>
            </dict>
            <key>L07_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,370},{86,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{86,63}}</string>
                <key>sourceSize</key>
                <string>{98,69}</string>
            </dict>
            <key>L07_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,216},{97,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{97,140}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
            <key>L07_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,393},{72,116}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{72,116}}</string>
                <key>sourceSize</key>
                <string>{96,124}</string>
            </dict>
            <key>L07_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{97,155}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,155}}</string>
                <key>sourceSize</key>
                <string>{101,155}</string>
            </dict>
            <key>L07_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,446},{98,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,83}}</string>
                <key>sourceSize</key>
                <string>{98,85}</string>
            </dict>
            <key>L07_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,376},{103,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{103,68}}</string>
                <key>sourceSize</key>
                <string>{103,72}</string>
            </dict>
            <key>L07_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,315},{43,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,109}}</string>
                <key>sourceSize</key>
                <string>{43,109}</string>
            </dict>
            <key>L07_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,256},{64,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,120}}</string>
                <key>sourceSize</key>
                <string>{64,124}</string>
            </dict>
            <key>L07_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,223},{63,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{63,24}</string>
            </dict>
            <key>L07_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,458},{86,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,72}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L07_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea632e4461f09ab815656f651ab1da82$</string>
            <key>textureFileName</key>
            <string>L07_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
