<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L02_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,394},{76,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,109}}</string>
                <key>sourceSize</key>
                <string>{76,109}</string>
            </dict>
            <key>L02_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,325},{77,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>L02_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,494},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>L02_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,251},{72,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,62}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>L02_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,332},{73,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,111}}</string>
                <key>sourceSize</key>
                <string>{73,111}</string>
            </dict>
            <key>L02_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,407},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>L02_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{42,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,181}}</string>
                <key>sourceSize</key>
                <string>{44,181}</string>
            </dict>
            <key>L02_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,303},{89,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,111}}</string>
                <key>sourceSize</key>
                <string>{89,111}</string>
            </dict>
            <key>L02_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{96,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,118}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>L02_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{91,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,65}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>L02_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,265},{113,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,65}}</string>
                <key>sourceSize</key>
                <string>{113,65}</string>
            </dict>
            <key>L02_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,541},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>L02_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{152,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,221}}</string>
                <key>sourceSize</key>
                <string>{152,221}</string>
            </dict>
            <key>L02_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>L02_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,187},{76,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,87}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>L02_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{121,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,152}}</string>
                <key>sourceSize</key>
                <string>{121,152}</string>
            </dict>
            <key>L02_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,472},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>L02_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,407},{75,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,34}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>L02_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,312},{32,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{32,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>L02_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,494},{72,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>L02_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,382},{70,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,57}}</string>
                <key>sourceSize</key>
                <string>{70,57}</string>
            </dict>
            <key>L02_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,303},{60,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,77}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>L02_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,145},{40,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,88}}</string>
                <key>sourceSize</key>
                <string>{44,88}</string>
            </dict>
            <key>L02_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{271,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,141}}</string>
                <key>sourceSize</key>
                <string>{271,141}</string>
            </dict>
            <key>L02_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,404},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>L02_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,156},{169,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,145}}</string>
                <key>sourceSize</key>
                <string>{169,145}</string>
            </dict>
            <key>L02_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>L02_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{74,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>L02_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,525},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>L02_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,454},{69,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,56}}</string>
                <key>sourceSize</key>
                <string>{69,56}</string>
            </dict>
            <key>L02_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,156},{63,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,93}}</string>
                <key>sourceSize</key>
                <string>{63,93}</string>
            </dict>
            <key>L02_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,477},{108,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L02_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:144a6fdb8b0e9cb3e8ce89ea025b6edc$</string>
            <key>textureFileName</key>
            <string>L02_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
