<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L15_01_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,178},{44,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_02_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_03_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,172},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{46,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_04_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,302},{58,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{58,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_05_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,108},{64,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_06_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{58,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{58,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_07_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{62,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{62,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_08_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{60,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_09_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,256},{62,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_10_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,364},{60,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{60,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,186},{52,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{52,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,238},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{50,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,34},{66,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_14_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,276},{62,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{62,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_15_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,224},{64,24}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{64,24}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_16_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,220},{34,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{34,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_17_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,250},{24,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{24,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_18_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{64,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_19_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,320},{62,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{62,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_20_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{32,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{32,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_21_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_22_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,62},{64,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_23_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,42},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_24_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{44,64}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_25_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{38,62}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{38,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_26_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,328},{60,56}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{60,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_27_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,68},{52,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{52,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_28_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,126},{54,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{54,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_29_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{30,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{30,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_30_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,126},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{64,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_31_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{62,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{62,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L15_32_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{48,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{48,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L15_silhouette.pvr.ccz</string>
            <key>size</key>
            <string>{256,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:014df6710fdc0dc742e2ddb83721ee20$</string>
            <key>textureFileName</key>
            <string>L15_silhouette.pvr.ccz</string>
        </dict>
    </dict>
</plist>
