<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L01_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{149,109}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{149,109}}</string>
                <key>sourceSize</key>
                <string>{149,133}</string>
            </dict>
            <key>L01_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,62}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{173,62}}</string>
                <key>sourceSize</key>
                <string>{193,84}</string>
            </dict>
            <key>L01_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,246},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>L01_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,229},{111,78}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{111,78}}</string>
                <key>sourceSize</key>
                <string>{127,104}</string>
            </dict>
            <key>L01_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,102},{70,123}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{70,123}}</string>
                <key>sourceSize</key>
                <string>{76,127}</string>
            </dict>
            <key>L01_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,423},{82,77}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,77}}</string>
                <key>sourceSize</key>
                <string>{86,81}</string>
            </dict>
            <key>L01_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,342},{79,65}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{79,65}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>L01_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{52,95}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{52,95}}</string>
                <key>sourceSize</key>
                <string>{76,107}</string>
            </dict>
            <key>L01_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,342},{79,98}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{79,98}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>L01_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,174},{118,79}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{118,79}}</string>
                <key>sourceSize</key>
                <string>{130,93}</string>
            </dict>
            <key>L01_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{70,145}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{70,145}}</string>
                <key>sourceSize</key>
                <string>{86,151}</string>
            </dict>
            <key>L01_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,350},{58,71}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{58,71}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>L01_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,255},{102,93}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{102,93}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>L01_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,138},{79,82}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{79,82}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>L01_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,423},{77,59}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{77,59}}</string>
                <key>sourceSize</key>
                <string>{93,75}</string>
            </dict>
            <key>L01_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,99},{66,48}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{66,48}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>L01_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,258},{69,82}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{69,82}}</string>
                <key>sourceSize</key>
                <string>{93,98}</string>
            </dict>
            <key>L01_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{113,87}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{113,87}}</string>
                <key>sourceSize</key>
                <string>{139,105}</string>
            </dict>
            <key>L01_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,423},{96,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,81}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>L01_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,321},{62,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{62,58}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>L01_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,113},{123,65}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{123,65}}</string>
                <key>sourceSize</key>
                <string>{133,81}</string>
            </dict>
            <key>L01_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,350},{72,69}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>L01_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,138},{89,46}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,24},{89,46}}</string>
                <key>sourceSize</key>
                <string>{101,88}</string>
            </dict>
            <key>L01_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,167},{77,56}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{77,56}}</string>
                <key>sourceSize</key>
                <string>{101,88}</string>
            </dict>
            <key>L01_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,423},{75,64}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{75,64}}</string>
                <key>sourceSize</key>
                <string>{101,88}</string>
            </dict>
            <key>L01_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,180},{76,106}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{76,106}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>L01_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{37,83}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{37,83}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>L01_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{38,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{38,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>L01_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{98,126}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,126}}</string>
                <key>sourceSize</key>
                <string>{114,138}</string>
            </dict>
            <key>L01_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,423},{91,59}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{91,59}}</string>
                <key>sourceSize</key>
                <string>{91,81}</string>
            </dict>
            <key>L01_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,66},{24,67}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{24,67}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>L01_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,258},{62,61}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{62,61}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L01_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d514716b583b24c968f0b9b401fec14$</string>
            <key>textureFileName</key>
            <string>L01_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
