<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui05_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{857,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{857,599}}</string>
                <key>sourceSize</key>
                <string>{857,599}</string>
            </dict>
            <key>ui07_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,601},{415,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,7}}</string>
                <key>sourceSize</key>
                <string>{415,7}</string>
            </dict>
            <key>ui07_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,0},{466,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,42}}</string>
                <key>sourceSize</key>
                <string>{466,42}</string>
            </dict>
            <key>ui07_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,885},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>ui07_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,822},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui07_close_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,935},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui07_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,935},{285,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,63}}</string>
                <key>sourceSize</key>
                <string>{285,63}</string>
            </dict>
            <key>ui07_delete_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,936},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>ui07_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,763},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>ui07_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,605},{329,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,59}}</string>
                <key>sourceSize</key>
                <string>{329,59}</string>
            </dict>
            <key>ui07_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,238},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>ui07_tell_a_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,935},{285,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,63}}</string>
                <key>sourceSize</key>
                <string>{285,63}</string>
            </dict>
            <key>ui07_tell_a_friend_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,468},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>ui08_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,121},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>ui08_btn_buy_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,0},{120,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,119}}</string>
                <key>sourceSize</key>
                <string>{120,119}</string>
            </dict>
            <key>ui08_btn_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,605},{282,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,59}}</string>
                <key>sourceSize</key>
                <string>{282,59}</string>
            </dict>
            <key>ui08_btn_restore_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,310},{293,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,71}}</string>
                <key>sourceSize</key>
                <string>{293,71}</string>
            </dict>
            <key>ui08_deluxe.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,763},{755,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,170}}</string>
                <key>sourceSize</key>
                <string>{755,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pop-window.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cb6d859d998c5727a370f70dd6b357c$</string>
            <key>textureFileName</key>
            <string>pop-window.pvr.ccz</string>
        </dict>
    </dict>
</plist>
