<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L14_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,354},{48,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>L14_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,109},{80,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>L14_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,485},{52,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,25}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>L14_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{73,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,119}}</string>
                <key>sourceSize</key>
                <string>{75,119}</string>
            </dict>
            <key>L14_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,169},{75,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,43}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>L14_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,396},{87,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,35}}</string>
                <key>sourceSize</key>
                <string>{87,35}</string>
            </dict>
            <key>L14_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,440},{40,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,72}</string>
            </dict>
            <key>L14_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,113},{55,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{55,80}</string>
            </dict>
            <key>L14_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{57,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,49}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>L14_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,254},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>L14_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,289},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,78}</string>
            </dict>
            <key>L14_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,246},{36,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>L14_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{99,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{99,42}}</string>
                <key>sourceSize</key>
                <string>{99,44}</string>
            </dict>
            <key>L14_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,286},{66,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,55}}</string>
                <key>sourceSize</key>
                <string>{66,55}</string>
            </dict>
            <key>L14_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,463},{45,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,71}}</string>
                <key>sourceSize</key>
                <string>{45,71}</string>
            </dict>
            <key>L14_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,168},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>L14_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{52,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,79}}</string>
                <key>sourceSize</key>
                <string>{52,79}</string>
            </dict>
            <key>L14_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,166}}</string>
                <key>sourceSize</key>
                <string>{58,166}</string>
            </dict>
            <key>L14_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,367},{43,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,71}}</string>
                <key>sourceSize</key>
                <string>{43,71}</string>
            </dict>
            <key>L14_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{97,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,105}}</string>
                <key>sourceSize</key>
                <string>{97,105}</string>
            </dict>
            <key>L14_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,83},{23,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{23,64}}</string>
                <key>sourceSize</key>
                <string>{25,66}</string>
            </dict>
            <key>L14_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{103,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,60}}</string>
                <key>sourceSize</key>
                <string>{103,60}</string>
            </dict>
            <key>L14_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{77,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,60}}</string>
                <key>sourceSize</key>
                <string>{77,60}</string>
            </dict>
            <key>L14_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,168},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>L14_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,377},{84,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,53}}</string>
                <key>sourceSize</key>
                <string>{84,53}</string>
            </dict>
            <key>L14_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,256},{31,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,83}}</string>
                <key>sourceSize</key>
                <string>{31,83}</string>
            </dict>
            <key>L14_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,81},{57,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>L14_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,170},{82,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,71}}</string>
                <key>sourceSize</key>
                <string>{82,71}</string>
            </dict>
            <key>L14_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,108},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>L14_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{109,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,40}}</string>
                <key>sourceSize</key>
                <string>{109,40}</string>
            </dict>
            <key>L14_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,291},{84,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>L14_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,170},{84,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,32}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L14_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e04e38bba9656d033511795cacc94fdf$</string>
            <key>textureFileName</key>
            <string>L14_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
