<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L04_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,210},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>L04_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{45,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,116}}</string>
                <key>sourceSize</key>
                <string>{45,116}</string>
            </dict>
            <key>L04_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,181}}</string>
                <key>sourceSize</key>
                <string>{191,181}</string>
            </dict>
            <key>L04_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,376},{47,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,84}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>L04_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,462},{44,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,61}}</string>
                <key>sourceSize</key>
                <string>{44,61}</string>
            </dict>
            <key>L04_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,448},{64,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>L04_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,140},{68,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,136}}</string>
                <key>sourceSize</key>
                <string>{68,136}</string>
            </dict>
            <key>L04_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,185},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>L04_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,431},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>L04_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,135},{71,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,131}}</string>
                <key>sourceSize</key>
                <string>{71,131}</string>
            </dict>
            <key>L04_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,279},{95,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,47}}</string>
                <key>sourceSize</key>
                <string>{95,47}</string>
            </dict>
            <key>L04_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,259},{18,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{18,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>L04_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,320},{30,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>L04_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{88,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,103}}</string>
                <key>sourceSize</key>
                <string>{88,103}</string>
            </dict>
            <key>L04_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{100,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,118}}</string>
                <key>sourceSize</key>
                <string>{100,118}</string>
            </dict>
            <key>L04_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>L04_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,495},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>L04_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,253},{86,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,69}}</string>
                <key>sourceSize</key>
                <string>{86,69}</string>
            </dict>
            <key>L04_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,341},{105,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,68}}</string>
                <key>sourceSize</key>
                <string>{105,68}</string>
            </dict>
            <key>L04_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,425},{113,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,72}}</string>
                <key>sourceSize</key>
                <string>{113,72}</string>
            </dict>
            <key>L04_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,511},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>L04_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,320},{109,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,113}}</string>
                <key>sourceSize</key>
                <string>{109,113}</string>
            </dict>
            <key>L04_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,431},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>L04_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{81,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,115}}</string>
                <key>sourceSize</key>
                <string>{81,115}</string>
            </dict>
            <key>L04_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,208},{135,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,110}}</string>
                <key>sourceSize</key>
                <string>{135,110}</string>
            </dict>
            <key>L04_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,140},{68,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{68,36}}</string>
                <key>sourceSize</key>
                <string>{68,44}</string>
            </dict>
            <key>L04_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,210},{117,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,115}}</string>
                <key>sourceSize</key>
                <string>{117,115}</string>
            </dict>
            <key>L04_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,499},{78,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>L04_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,327},{96,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,116}}</string>
                <key>sourceSize</key>
                <string>{96,116}</string>
            </dict>
            <key>L04_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{74,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,117}}</string>
                <key>sourceSize</key>
                <string>{74,117}</string>
            </dict>
            <key>L04_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{136,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,179}}</string>
                <key>sourceSize</key>
                <string>{136,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L04_word.pvr.ccz</string>
            <key>size</key>
            <string>{511,595}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:021f24d7274f5b04a35ab361f87bf887$</string>
            <key>textureFileName</key>
            <string>L04_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
