<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L12_candlefire_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{170,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{170,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L12_candlefire_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,182},{182,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{182,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L12_candlefire_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,190}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{192,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L12_candlefire_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{182,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{182,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L12_animation.pvr.ccz</string>
            <key>size</key>
            <string>{380,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20c416c5d7ae6103a15126bce387a719$</string>
            <key>textureFileName</key>
            <string>L12_animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
