<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L14_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{156,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,88}}</string>
                <key>sourceSize</key>
                <string>{156,88}</string>
            </dict>
            <key>L14_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,92},{74,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,155}}</string>
                <key>sourceSize</key>
                <string>{74,155}</string>
            </dict>
            <key>L14_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,323},{103,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,56}}</string>
                <key>sourceSize</key>
                <string>{103,56}</string>
            </dict>
            <key>L14_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,423},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>L14_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,168},{26,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{26,70}}</string>
                <key>sourceSize</key>
                <string>{44,70}</string>
            </dict>
            <key>L14_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,114},{146,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,137}}</string>
                <key>sourceSize</key>
                <string>{146,137}</string>
            </dict>
            <key>L14_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,253},{40,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,120}}</string>
                <key>sourceSize</key>
                <string>{44,120}</string>
            </dict>
            <key>L14_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,248},{91,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{91,32}}</string>
                <key>sourceSize</key>
                <string>{91,44}</string>
            </dict>
            <key>L14_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,134},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>L14_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{155,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,110}}</string>
                <key>sourceSize</key>
                <string>{155,110}</string>
            </dict>
            <key>L14_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,381},{94,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,59}}</string>
                <key>sourceSize</key>
                <string>{94,59}</string>
            </dict>
            <key>L14_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,253},{40,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>L14_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,168},{126,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,78}}</string>
                <key>sourceSize</key>
                <string>{126,78}</string>
            </dict>
            <key>L14_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,400},{87,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,63}}</string>
                <key>sourceSize</key>
                <string>{87,63}</string>
            </dict>
            <key>L14_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,418},{58,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{58,86}</string>
            </dict>
            <key>L14_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,333},{103,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,88}}</string>
                <key>sourceSize</key>
                <string>{103,88}</string>
            </dict>
            <key>L14_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,295},{36,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,111}}</string>
                <key>sourceSize</key>
                <string>{44,111}</string>
            </dict>
            <key>L14_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,425},{58,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,71}}</string>
                <key>sourceSize</key>
                <string>{58,71}</string>
            </dict>
            <key>L14_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{63,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,89}}</string>
                <key>sourceSize</key>
                <string>{63,89}</string>
            </dict>
            <key>L14_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,442},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>L14_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,323},{81,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>L14_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,248},{73,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,123}}</string>
                <key>sourceSize</key>
                <string>{73,123}</string>
            </dict>
            <key>L14_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{94,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,134}}</string>
                <key>sourceSize</key>
                <string>{94,134}</string>
            </dict>
            <key>L14_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,341},{82,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{82,32}}</string>
                <key>sourceSize</key>
                <string>{82,44}</string>
            </dict>
            <key>L14_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,323},{93,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,42}}</string>
                <key>sourceSize</key>
                <string>{93,44}</string>
            </dict>
            <key>L14_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{121,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,72}}</string>
                <key>sourceSize</key>
                <string>{121,72}</string>
            </dict>
            <key>L14_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,250},{71,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,45}}</string>
                <key>sourceSize</key>
                <string>{71,45}</string>
            </dict>
            <key>L14_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{38,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,128}}</string>
                <key>sourceSize</key>
                <string>{44,128}</string>
            </dict>
            <key>L14_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,188}}</string>
                <key>sourceSize</key>
                <string>{130,188}</string>
            </dict>
            <key>L14_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{58,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,69}}</string>
                <key>sourceSize</key>
                <string>{58,69}</string>
            </dict>
            <key>L14_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{95,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,73}}</string>
                <key>sourceSize</key>
                <string>{95,73}</string>
            </dict>
            <key>L14_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,506},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L14_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,569}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3df0c918106e81168f558b3262bbf88$</string>
            <key>textureFileName</key>
            <string>L14_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
