<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L13_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,469},{38,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{38,61}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>L13_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,254},{43,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{43,55}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
            <key>L13_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,299},{53,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{53,76}}</string>
                <key>sourceSize</key>
                <string>{55,80}</string>
            </dict>
            <key>L13_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,186},{80,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,55}}</string>
                <key>sourceSize</key>
                <string>{82,55}</string>
            </dict>
            <key>L13_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,291},{78,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{78,63}}</string>
                <key>sourceSize</key>
                <string>{86,65}</string>
            </dict>
            <key>L13_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{67,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,175}}</string>
                <key>sourceSize</key>
                <string>{67,175}</string>
            </dict>
            <key>L13_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,335},{37,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{37,55}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>L13_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,74},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>L13_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,201},{96,71}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{96,71}}</string>
                <key>sourceSize</key>
                <string>{114,105}</string>
            </dict>
            <key>L13_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,446},{69,63}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{69,63}}</string>
                <key>sourceSize</key>
                <string>{89,79}</string>
            </dict>
            <key>L13_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,374},{59,70}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{59,70}}</string>
                <key>sourceSize</key>
                <string>{67,84}</string>
            </dict>
            <key>L13_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{70,47}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,47}}</string>
                <key>sourceSize</key>
                <string>{72,49}</string>
            </dict>
            <key>L13_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,268},{21,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{21,53}}</string>
                <key>sourceSize</key>
                <string>{35,65}</string>
            </dict>
            <key>L13_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,186},{45,73}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{45,73}}</string>
                <key>sourceSize</key>
                <string>{53,87}</string>
            </dict>
            <key>L13_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,311},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>L13_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{101,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,65}}</string>
                <key>sourceSize</key>
                <string>{109,67}</string>
            </dict>
            <key>L13_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,261},{72,52}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{72,52}}</string>
                <key>sourceSize</key>
                <string>{124,52}</string>
            </dict>
            <key>L13_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,70},{62,62}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{62,62}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>L13_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{58,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{58,42}}</string>
                <key>sourceSize</key>
                <string>{72,46}</string>
            </dict>
            <key>L13_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{52,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{52,92}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>L13_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{42,66}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{42,66}}</string>
                <key>sourceSize</key>
                <string>{48,86}</string>
            </dict>
            <key>L13_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,378},{64,97}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{64,97}}</string>
                <key>sourceSize</key>
                <string>{70,103}</string>
            </dict>
            <key>L13_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{64,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,85}}</string>
                <key>sourceSize</key>
                <string>{64,89}</string>
            </dict>
            <key>L13_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{76,24}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{76,24}}</string>
                <key>sourceSize</key>
                <string>{96,40}</string>
            </dict>
            <key>L13_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,375},{91,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{91,92}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>L13_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,144},{60,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,63}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>L13_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,209},{60,43}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{60,43}}</string>
                <key>sourceSize</key>
                <string>{82,59}</string>
            </dict>
            <key>L13_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,197}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{100,197}}</string>
                <key>sourceSize</key>
                <string>{100,205}</string>
            </dict>
            <key>L13_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,477},{30,88}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{30,88}}</string>
                <key>sourceSize</key>
                <string>{34,96}</string>
            </dict>
            <key>L13_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,96},{91,34}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{91,34}}</string>
                <key>sourceSize</key>
                <string>{99,40}</string>
            </dict>
            <key>L13_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,299},{74,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,20}}</string>
                <key>sourceSize</key>
                <string>{74,20}</string>
            </dict>
            <key>L13_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,96},{82,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,88}}</string>
                <key>sourceSize</key>
                <string>{82,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L13_word.pvr.ccz</string>
            <key>size</key>
            <string>{361,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6d5c193d33f92b7e354f78848746e7f$</string>
            <key>textureFileName</key>
            <string>L13_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
