<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L18_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,300},{32,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,61}}</string>
                <key>sourceSize</key>
                <string>{44,61}</string>
            </dict>
            <key>L18_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,334},{68,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{68,28}}</string>
                <key>sourceSize</key>
                <string>{68,44}</string>
            </dict>
            <key>L18_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,364},{42,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,62}}</string>
                <key>sourceSize</key>
                <string>{44,62}</string>
            </dict>
            <key>L18_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,97},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>L18_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,237}}</string>
                <key>sourceSize</key>
                <string>{172,237}</string>
            </dict>
            <key>L18_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,421},{117,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,85}}</string>
                <key>sourceSize</key>
                <string>{117,85}</string>
            </dict>
            <key>L18_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,147},{77,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,90}}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>L18_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,408},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>L18_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,241},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>L18_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,147},{91,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,71}}</string>
                <key>sourceSize</key>
                <string>{91,71}</string>
            </dict>
            <key>L18_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,240},{141,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,95}}</string>
                <key>sourceSize</key>
                <string>{141,95}</string>
            </dict>
            <key>L18_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,300},{69,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{69,32}}</string>
                <key>sourceSize</key>
                <string>{69,44}</string>
            </dict>
            <key>L18_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,423},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>L18_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,228},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>L18_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,364},{40,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>L18_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,238},{58,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{58,28}}</string>
                <key>sourceSize</key>
                <string>{58,44}</string>
            </dict>
            <key>L18_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,422},{86,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,55}}</string>
                <key>sourceSize</key>
                <string>{86,55}</string>
            </dict>
            <key>L18_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{82,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,54}}</string>
                <key>sourceSize</key>
                <string>{82,54}</string>
            </dict>
            <key>L18_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,383},{36,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>L18_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,239},{57,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,137}}</string>
                <key>sourceSize</key>
                <string>{57,137}</string>
            </dict>
            <key>L18_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,169},{97,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{97,57}</string>
            </dict>
            <key>L18_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>L18_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{113,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,179}}</string>
                <key>sourceSize</key>
                <string>{113,179}</string>
            </dict>
            <key>L18_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,86},{32,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{32,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>L18_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,383},{64,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,122}}</string>
                <key>sourceSize</key>
                <string>{64,122}</string>
            </dict>
            <key>L18_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,378},{104,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,71}}</string>
                <key>sourceSize</key>
                <string>{104,71}</string>
            </dict>
            <key>L18_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{88,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
            <key>L18_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,97},{70,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,96}}</string>
                <key>sourceSize</key>
                <string>{70,96}</string>
            </dict>
            <key>L18_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,170},{81,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,66}}</string>
                <key>sourceSize</key>
                <string>{81,66}</string>
            </dict>
            <key>L18_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,300},{74,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,50}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>L18_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{78,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,54}}</string>
                <key>sourceSize</key>
                <string>{78,54}</string>
            </dict>
            <key>L18_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{97,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,143}}</string>
                <key>sourceSize</key>
                <string>{97,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L18_word.pvr.ccz</string>
            <key>size</key>
            <string>{511,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b61ab6663c2de8d4ffbc9e1722b8ee2c$</string>
            <key>textureFileName</key>
            <string>L18_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
