<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L14_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{75,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{75,35}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>L14_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,233},{84,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,49}}</string>
                <key>sourceSize</key>
                <string>{84,53}</string>
            </dict>
            <key>L14_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,114},{75,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,82}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>L14_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,114},{70,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{70,61}</string>
            </dict>
            <key>L14_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,422},{69,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,84}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>L14_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,328},{69,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,92}}</string>
                <key>sourceSize</key>
                <string>{71,92}</string>
            </dict>
            <key>L14_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,308},{69,43}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,43}}</string>
                <key>sourceSize</key>
                <string>{73,45}</string>
            </dict>
            <key>L14_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,225},{66,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,45}}</string>
                <key>sourceSize</key>
                <string>{66,45}</string>
            </dict>
            <key>L14_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,379},{57,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,35}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>L14_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,114},{84,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{84,14}}</string>
                <key>sourceSize</key>
                <string>{84,22}</string>
            </dict>
            <key>L14_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,200},{77,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,27}}</string>
                <key>sourceSize</key>
                <string>{79,29}</string>
            </dict>
            <key>L14_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,352},{52,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>L14_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,290},{60,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,57}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>L14_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{110,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{110,52}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>L14_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,406},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>L14_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{76,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>L14_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,229},{46,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{46,77}}</string>
                <key>sourceSize</key>
                <string>{54,83}</string>
            </dict>
            <key>L14_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{19,114}}</string>
                <key>sourceSize</key>
                <string>{27,114}</string>
            </dict>
            <key>L14_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{38,93}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,93}}</string>
                <key>sourceSize</key>
                <string>{42,93}</string>
            </dict>
            <key>L14_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{44,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,93}}</string>
                <key>sourceSize</key>
                <string>{48,97}</string>
            </dict>
            <key>L14_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,416},{60,59}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{60,59}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>L14_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,293},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{68,42}</string>
            </dict>
            <key>L14_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,75},{55,37}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{65,37}</string>
            </dict>
            <key>L14_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{56,70}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{58,72}</string>
            </dict>
            <key>L14_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,198},{25,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,62}}</string>
                <key>sourceSize</key>
                <string>{25,66}</string>
            </dict>
            <key>L14_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,79},{61,33}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>L14_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,361},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>L14_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{113,56}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{113,56}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>L14_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,225},{63,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,47}</string>
            </dict>
            <key>L14_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{77,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,85}}</string>
                <key>sourceSize</key>
                <string>{81,87}</string>
            </dict>
            <key>L14_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,415},{54,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,42}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>L14_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{71,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,57}}</string>
                <key>sourceSize</key>
                <string>{71,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L14_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1a0896cfb2813e1175e1d58eff217b6$</string>
            <key>textureFileName</key>
            <string>L14_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
