<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,231},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>dot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,533},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>ui02_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{227,376}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{227,376}}</string>
                <key>sourceSize</key>
                <string>{261,412}</string>
            </dict>
            <key>ui02_button_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,547},{249,386}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{249,386}}</string>
                <key>sourceSize</key>
                <string>{261,412}</string>
            </dict>
            <key>ui02_choose_mode.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{545,66}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,16},{545,66}}</string>
                <key>sourceSize</key>
                <string>{625,106}</string>
            </dict>
            <key>ui02_picture.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,378},{143,220}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,99},{143,220}}</string>
                <key>sourceSize</key>
                <string>{261,412}</string>
            </dict>
            <key>ui02_silhouette.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,798},{197,218}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,98},{197,218}}</string>
                <key>sourceSize</key>
                <string>{261,412}</string>
            </dict>
            <key>ui02_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,798},{169,194}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,97},{169,194}}</string>
                <key>sourceSize</key>
                <string>{261,412}</string>
            </dict>
            <key>ui03_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,460},{81,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{81,71}}</string>
                <key>sourceSize</key>
                <string>{121,105}</string>
            </dict>
            <key>ui03_back_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,460},{95,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{95,83}}</string>
                <key>sourceSize</key>
                <string>{121,105}</string>
            </dict>
            <key>ui03_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,0},{229,184}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,184}}</string>
                <key>sourceSize</key>
                <string>{231,186}</string>
            </dict>
            <key>ui03_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,378},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{80,100}}</string>
                <key>sourceSize</key>
                <string>{96,110}</string>
            </dict>
            <key>ui03_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,231},{39,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>ui03_star_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,231},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>choose-map.pvr.ccz</string>
            <key>size</key>
            <string>{481,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da93e2e63d998577458280acb208a827$</string>
            <key>textureFileName</key>
            <string>choose-map.pvr.ccz</string>
        </dict>
    </dict>
</plist>
