<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui04_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,144}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{1024,144}}</string>
                <key>sourceSize</key>
                <string>{1024,154}</string>
            </dict>
            <key>ui04_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,818},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{79,79}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>ui04_frame_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,733},{89,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>ui04_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,733},{112,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,102}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ui04_hint_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,847},{112,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,102}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ui04_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,733},{27,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{27,54}}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>ui04_next_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,959},{39,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{39,64}}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>ui04_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,282},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ui04_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,946},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{75,75}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>ui04_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,733},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>ui04_previous.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,733},{27,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{27,54}}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>ui04_previous_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,961},{39,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{39,64}}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>ui04_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,961},{63,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{63,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ui05_game_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,146},{713,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{713,134}}</string>
                <key>sourceSize</key>
                <string>{713,134}</string>
            </dict>
            <key>ui05_game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,282},{662,126}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{662,126}}</string>
                <key>sourceSize</key>
                <string>{768,154}</string>
            </dict>
            <key>ui05_high_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,672},{645,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,59}}</string>
                <key>sourceSize</key>
                <string>{645,59}</string>
            </dict>
            <key>ui05_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,733},{101,89}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{101,89}}</string>
                <key>sourceSize</key>
                <string>{121,105}</string>
            </dict>
            <key>ui05_next_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,733},{105,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{105,91}}</string>
                <key>sourceSize</key>
                <string>{121,105}</string>
            </dict>
            <key>ui05_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,733},{112,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{112,103}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>ui05_replay_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,762},{116,103}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{116,103}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>ui05_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,322},{100,33}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{100,33}}</string>
                <key>sourceSize</key>
                <string>{110,41}</string>
            </dict>
            <key>ui05_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,424},{696,246}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{696,246}}</string>
                <key>sourceSize</key>
                <string>{702,284}</string>
            </dict>
            <key>ui05_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,672},{94,31}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{94,31}}</string>
                <key>sourceSize</key>
                <string>{104,41}</string>
            </dict>
            <key>ui06_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,840},{104,85}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{104,85}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>ui06_menu_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,847},{110,95}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{110,95}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>ui06_pause_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{309,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,768}}</string>
                <key>sourceSize</key>
                <string>{309,768}</string>
            </dict>
            <key>ui06_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,768},{116,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{116,134}}</string>
                <key>sourceSize</key>
                <string>{120,142}</string>
            </dict>
            <key>ui06_play_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,904},{116,132}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{116,132}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>ui06_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,916},{120,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>ui06_replay_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,916},{118,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,105}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>ui06_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,880},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{113,113}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>ui06_settings_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,916},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{107,107}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>in-game.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f150a7e6d45a651f5734537d6cdfb23a$</string>
            <key>textureFileName</key>
            <string>in-game.pvr.ccz</string>
        </dict>
    </dict>
</plist>
