<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui01_btn_deluxe.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,394},{328,83}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{328,83}}</string>
                <key>sourceSize</key>
                <string>{346,103}</string>
            </dict>
            <key>ui01_btn_deluxe_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,394},{330,89}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{330,89}}</string>
                <key>sourceSize</key>
                <string>{346,103}</string>
            </dict>
            <key>ui01_btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,184},{115,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{115,74}}</string>
                <key>sourceSize</key>
                <string>{115,80}</string>
            </dict>
            <key>ui01_btn_more_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,184},{115,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{115,76}}</string>
                <key>sourceSize</key>
                <string>{115,80}</string>
            </dict>
            <key>ui01_btn_new_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,661},{322,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{322,75}}</string>
                <key>sourceSize</key>
                <string>{346,103}</string>
            </dict>
            <key>ui01_btn_new_game_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,758},{332,93}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{332,93}}</string>
                <key>sourceSize</key>
                <string>{346,103}</string>
            </dict>
            <key>ui01_btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,758},{365,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,29},{365,79}}</string>
                <key>sourceSize</key>
                <string>{515,137}</string>
            </dict>
            <key>ui01_btn_play_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,487},{377,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,23},{377,91}}</string>
                <key>sourceSize</key>
                <string>{515,137}</string>
            </dict>
            <key>ui01_btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,580},{365,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,29},{365,79}}</string>
                <key>sourceSize</key>
                <string>{515,137}</string>
            </dict>
            <key>ui01_btn_resume_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,394},{377,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,23},{377,91}}</string>
                <key>sourceSize</key>
                <string>{515,137}</string>
            </dict>
            <key>ui01_btn_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,394},{322,81}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{322,81}}</string>
                <key>sourceSize</key>
                <string>{346,103}</string>
            </dict>
            <key>ui01_btn_settings_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,394},{326,83}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{326,83}}</string>
                <key>sourceSize</key>
                <string>{346,103}</string>
            </dict>
            <key>ui01_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{813,321}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{813,321}}</string>
                <key>sourceSize</key>
                <string>{815,341}</string>
            </dict>
            <key>ui09_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,36},{720,27}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{720,27}}</string>
                <key>sourceSize</key>
                <string>{730,75}</string>
            </dict>
            <key>ui09_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,323},{730,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{730,69}}</string>
                <key>sourceSize</key>
                <string>{730,75}</string>
            </dict>
            <key>ui09_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,0},{183,34}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{183,34}}</string>
                <key>sourceSize</key>
                <string>{219,50}</string>
            </dict>
            <key>ui10_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,323},{687,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,235}}</string>
                <key>sourceSize</key>
                <string>{687,235}</string>
            </dict>
            <key>ui10_popup_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,112},{178,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{178,70}}</string>
                <key>sourceSize</key>
                <string>{180,74}</string>
            </dict>
            <key>ui10_popup_button_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,36},{180,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,74}}</string>
                <key>sourceSize</key>
                <string>{180,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>load-home.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f3823644395d714ffea725e48c28062$</string>
            <key>textureFileName</key>
            <string>load-home.pvr.ccz</string>
        </dict>
    </dict>
</plist>
