<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui05_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{858,602}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{858,602}}</string>
                <key>sourceSize</key>
                <string>{858,610}</string>
            </dict>
            <key>ui07_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,604},{414,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,7}}</string>
                <key>sourceSize</key>
                <string>{414,7}</string>
            </dict>
            <key>ui07_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,127},{463,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,21},{463,38}}</string>
                <key>sourceSize</key>
                <string>{481,74}</string>
            </dict>
            <key>ui07_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,832},{57,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>ui07_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,763},{67,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>ui07_close_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,763},{65,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{65,63}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>ui07_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{316,87}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{316,87}}</string>
                <key>sourceSize</key>
                <string>{324,93}</string>
            </dict>
            <key>ui07_delete_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,924},{318,87}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{318,87}}</string>
                <key>sourceSize</key>
                <string>{324,93}</string>
            </dict>
            <key>ui07_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{414,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,7}}</string>
                <key>sourceSize</key>
                <string>{414,7}</string>
            </dict>
            <key>ui07_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,891},{57,63}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{57,63}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>ui07_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,604},{304,68}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,33},{304,68}}</string>
                <key>sourceSize</key>
                <string>{768,154}</string>
            </dict>
            <key>ui07_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,895},{73,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{73,70}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>ui07_tell_a_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,604},{316,87}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{316,87}}</string>
                <key>sourceSize</key>
                <string>{324,93}</string>
            </dict>
            <key>ui07_tell_a_friend_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,604},{318,87}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{318,87}}</string>
                <key>sourceSize</key>
                <string>{324,93}</string>
            </dict>
            <key>ui08_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,910},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{113,113}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ui08_btn_buy_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,0},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ui08_btn_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,604},{289,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{289,80}}</string>
                <key>sourceSize</key>
                <string>{293,80}</string>
            </dict>
            <key>ui08_btn_restore_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,604},{289,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{289,78}}</string>
                <key>sourceSize</key>
                <string>{293,80}</string>
            </dict>
            <key>ui08_deluxe.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,127},{634,119}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,6},{634,119}}</string>
                <key>sourceSize</key>
                <string>{734,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pop-window.pvr.ccz</string>
            <key>size</key>
            <string>{1019,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bda6f0ccd12db49119ea94dd2f9c0bd$</string>
            <key>textureFileName</key>
            <string>pop-window.pvr.ccz</string>
        </dict>
    </dict>
</plist>
