<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L14_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{57,80}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{57,80}}</string>
                <key>sourceSize</key>
                <string>{67,92}</string>
            </dict>
            <key>L14_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,174},{108,99}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>L14_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,167},{78,84}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{78,84}}</string>
                <key>sourceSize</key>
                <string>{110,98}</string>
            </dict>
            <key>L14_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,189},{79,57}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{79,57}}</string>
                <key>sourceSize</key>
                <string>{89,59}</string>
            </dict>
            <key>L14_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{86,130}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,130}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>L14_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,327},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>L14_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{67,69}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{95,71}</string>
            </dict>
            <key>L14_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{116,33}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{116,33}}</string>
                <key>sourceSize</key>
                <string>{122,37}</string>
            </dict>
            <key>L14_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,129},{28,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{28,79}}</string>
                <key>sourceSize</key>
                <string>{42,85}</string>
            </dict>
            <key>L14_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{73,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>L14_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,112},{110,47}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{110,47}}</string>
                <key>sourceSize</key>
                <string>{110,53}</string>
            </dict>
            <key>L14_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,129},{110,43}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{110,43}}</string>
                <key>sourceSize</key>
                <string>{152,49}</string>
            </dict>
            <key>L14_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,247},{45,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,71}}</string>
                <key>sourceSize</key>
                <string>{47,71}</string>
            </dict>
            <key>L14_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{97,68}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{97,68}}</string>
                <key>sourceSize</key>
                <string>{101,76}</string>
            </dict>
            <key>L14_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{57,102}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{57,102}}</string>
                <key>sourceSize</key>
                <string>{63,112}</string>
            </dict>
            <key>L14_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,102},{27,88}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{27,88}}</string>
                <key>sourceSize</key>
                <string>{33,94}</string>
            </dict>
            <key>L14_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,161},{53,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,23}}</string>
                <key>sourceSize</key>
                <string>{53,23}</string>
            </dict>
            <key>L14_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{125,149}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,149}}</string>
                <key>sourceSize</key>
                <string>{125,151}</string>
            </dict>
            <key>L14_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,61},{104,84}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{104,84}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>L14_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,247},{65,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{65,77}}</string>
                <key>sourceSize</key>
                <string>{71,85}</string>
            </dict>
            <key>L14_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,248},{75,76}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{75,76}}</string>
                <key>sourceSize</key>
                <string>{103,108}</string>
            </dict>
            <key>L14_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,51}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{159,51}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>L14_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{45,144}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{45,144}}</string>
                <key>sourceSize</key>
                <string>{49,158}</string>
            </dict>
            <key>L14_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,161},{90,26}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,26}}</string>
                <key>sourceSize</key>
                <string>{94,28}</string>
            </dict>
            <key>L14_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,425},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>L14_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{44,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,113}}</string>
                <key>sourceSize</key>
                <string>{44,113}</string>
            </dict>
            <key>L14_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,192},{38,64}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{38,64}}</string>
                <key>sourceSize</key>
                <string>{44,66}</string>
            </dict>
            <key>L14_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,258},{55,67}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{55,67}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>L14_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,275},{76,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{76,62}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>L14_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,48},{62,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,110}}</string>
                <key>sourceSize</key>
                <string>{68,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L14_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34bf83ff1292a40793ec84e99e511f19$</string>
            <key>textureFileName</key>
            <string>L14_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
