<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L03_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{76,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{76,94}}</string>
                <key>sourceSize</key>
                <string>{88,102}</string>
            </dict>
            <key>L03_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,148},{51,82}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{51,82}}</string>
                <key>sourceSize</key>
                <string>{75,84}</string>
            </dict>
            <key>L03_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,403},{51,21}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,52},{51,21}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,456},{37,35}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,3},{37,35}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,240},{71,57}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{71,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,207},{77,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{77,37}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>L03_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,403},{41,55}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,55}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,85},{59,83}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{59,83}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>L03_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{104,67}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{104,67}}</string>
                <key>sourceSize</key>
                <string>{110,75}</string>
            </dict>
            <key>L03_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{57,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{57,82}}</string>
                <key>sourceSize</key>
                <string>{75,86}</string>
            </dict>
            <key>L03_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{81,35}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{81,35}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>L03_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,299},{65,50}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{65,50}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>L03_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,61}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{108,61}}</string>
                <key>sourceSize</key>
                <string>{110,75}</string>
            </dict>
            <key>L03_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,334},{59,15}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{59,15}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{71,51}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{71,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,71},{75,94}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,94}}</string>
                <key>sourceSize</key>
                <string>{75,104}</string>
            </dict>
            <key>L03_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{78,45}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{78,45}}</string>
                <key>sourceSize</key>
                <string>{82,75}</string>
            </dict>
            <key>L03_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{80,33}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{80,33}}</string>
                <key>sourceSize</key>
                <string>{82,75}</string>
            </dict>
            <key>L03_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,246},{47,69}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{47,69}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,246},{27,59}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{27,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,344},{57,51}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{57,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,307},{35,27}}</string>
                <key>offset</key>
                <string>{-20,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{35,27}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{55,59}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{55,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{15,59}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{15,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,148},{21,57}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{21,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,460},{49,37}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,19},{49,37}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,170},{35,61}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{35,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,351},{23,43}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{23,43}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,201},{82,37}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{82,37}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>L03_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,295},{37,69}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{37,69}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{41,45}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{41,45}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L03_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,403},{31,29}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{31,29}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L03_word.pvr.ccz</string>
            <key>size</key>
            <string>{256,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d909eb9288dbe1f63f55195e98163c3e$</string>
            <key>textureFileName</key>
            <string>L03_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
