<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L01_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,445},{74,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,48}}</string>
                <key>sourceSize</key>
                <string>{74,48}</string>
            </dict>
            <key>L01_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{105,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{105,24}}</string>
                <key>sourceSize</key>
                <string>{105,44}</string>
            </dict>
            <key>L01_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,320},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>L01_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{93,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,72}}</string>
                <key>sourceSize</key>
                <string>{93,72}</string>
            </dict>
            <key>L01_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,322},{28,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{28,75}}</string>
                <key>sourceSize</key>
                <string>{44,75}</string>
            </dict>
            <key>L01_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,385},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>L01_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{157,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,68}}</string>
                <key>sourceSize</key>
                <string>{157,68}</string>
            </dict>
            <key>L01_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,99}}</string>
                <key>sourceSize</key>
                <string>{286,99}</string>
            </dict>
            <key>L01_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{175,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,120}}</string>
                <key>sourceSize</key>
                <string>{175,120}</string>
            </dict>
            <key>L01_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,320},{73,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,56}}</string>
                <key>sourceSize</key>
                <string>{73,56}</string>
            </dict>
            <key>L01_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,421},{46,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,96}}</string>
                <key>sourceSize</key>
                <string>{46,96}</string>
            </dict>
            <key>L01_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,124},{154,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,108}}</string>
                <key>sourceSize</key>
                <string>{154,108}</string>
            </dict>
            <key>L01_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,103},{110,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,136}}</string>
                <key>sourceSize</key>
                <string>{110,136}</string>
            </dict>
            <key>L01_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,234},{84,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,151}}</string>
                <key>sourceSize</key>
                <string>{84,151}</string>
            </dict>
            <key>L01_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,378},{95,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,72}}</string>
                <key>sourceSize</key>
                <string>{95,72}</string>
            </dict>
            <key>L01_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>L01_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,199},{93,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,76}}</string>
                <key>sourceSize</key>
                <string>{93,76}</string>
            </dict>
            <key>L01_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,241},{110,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,57}}</string>
                <key>sourceSize</key>
                <string>{110,57}</string>
            </dict>
            <key>L01_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{42,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,144}}</string>
                <key>sourceSize</key>
                <string>{44,144}</string>
            </dict>
            <key>L01_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,508},{83,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,52}}</string>
                <key>sourceSize</key>
                <string>{83,52}</string>
            </dict>
            <key>L01_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,469},{57,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,46}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
            <key>L01_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,377},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>L01_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{67,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,107}}</string>
                <key>sourceSize</key>
                <string>{67,107}</string>
            </dict>
            <key>L01_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,443},{90,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,47}}</string>
                <key>sourceSize</key>
                <string>{90,47}</string>
            </dict>
            <key>L01_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{85,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,64}}</string>
                <key>sourceSize</key>
                <string>{85,64}</string>
            </dict>
            <key>L01_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,300},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,109}</string>
            </dict>
            <key>L01_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,443},{91,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,63}}</string>
                <key>sourceSize</key>
                <string>{91,63}</string>
            </dict>
            <key>L01_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,148},{78,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,49}}</string>
                <key>sourceSize</key>
                <string>{78,49}</string>
            </dict>
            <key>L01_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{160,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,100}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>L01_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,294},{81,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,89}}</string>
                <key>sourceSize</key>
                <string>{81,89}</string>
            </dict>
            <key>L01_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{137,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,45}}</string>
                <key>sourceSize</key>
                <string>{137,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L01_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,609}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3a2d86b4db742e156b68fb18050d9a3$</string>
            <key>textureFileName</key>
            <string>L01_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
