<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L05_01_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,248},{52,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{52,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_02_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{36,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{36,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_03_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,118},{38,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{38,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_04_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,278},{52,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{52,32}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_05_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{30,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{30,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_06_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{64,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{64,36}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_07_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{46,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{46,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_08_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,116},{58,50}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{58,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_09_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,162},{60,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{60,36}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_10_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{62,54}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{62,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{60,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{60,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,56},{58,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{58,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_14_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,292},{48,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{48,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_15_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,224},{36,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{36,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_16_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,70},{46,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{46,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_17_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,40},{28,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{28,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_18_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{62,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{62,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_19_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,168},{60,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_20_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{56,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{56,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_21_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,158},{62,20}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{62,20}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_22_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,202},{56,42}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{56,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_23_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,262},{52,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{52,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_24_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{52,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_25_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,302},{38,38}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{38,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_26_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,200},{46,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{46,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_27_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{40,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{40,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_28_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,246},{54,30}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{54,30}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_29_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,302},{32,42}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{32,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_30_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,64},{50,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{50,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_31_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,116},{44,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{44,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L05_32_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,180},{20,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{20,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L05_silhouette.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e81e4d2188d03ccda4bfd9e7d01b2f08$</string>
            <key>textureFileName</key>
            <string>L05_silhouette.pvr.ccz</string>
        </dict>
    </dict>
</plist>
