<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L14_01_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,360},{56,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{56,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_02_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,224},{66,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{66,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_03_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,270},{38,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{38,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_04_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_05_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,120},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_06_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{50,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{50,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_07_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,274},{66,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_08_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_09_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_10_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_11_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,206},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_12_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,338},{60,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_13_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,66},{66,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_14_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,122},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_15_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,342},{52,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{52,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_16_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,176},{66,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{66,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_17_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,306},{66,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{66,30}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_18_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,138},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_19_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_20_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{30,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_21_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{66,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{66,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_22_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,70},{66,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{66,46}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_23_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_24_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,272},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_25_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_26_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_27_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,62},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_28_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,230},{40,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_29_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,178},{66,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{66,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_30_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,310},{26,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{26,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L14_31_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,338},{20,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{20,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L14_picture.pvr.ccz</string>
            <key>size</key>
            <string>{256,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d85c754714cd4b72bb1ad043e12beaf0$</string>
            <key>textureFileName</key>
            <string>L14_picture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
