<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L07_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,609},{61,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,93}}</string>
                <key>sourceSize</key>
                <string>{61,93}</string>
            </dict>
            <key>L07_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,78},{57,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,169}}</string>
                <key>sourceSize</key>
                <string>{57,169}</string>
            </dict>
            <key>L07_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,425},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,40}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>L07_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,535},{96,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,61}}</string>
                <key>sourceSize</key>
                <string>{96,61}</string>
            </dict>
            <key>L07_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,137},{115,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,164}}</string>
                <key>sourceSize</key>
                <string>{115,164}</string>
            </dict>
            <key>L07_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,412},{98,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>sourceSize</key>
                <string>{98,81}</string>
            </dict>
            <key>L07_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,481},{57,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,91}}</string>
                <key>sourceSize</key>
                <string>{57,91}</string>
            </dict>
            <key>L07_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,254},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>L07_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{32,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,55}}</string>
                <key>sourceSize</key>
                <string>{32,55}</string>
            </dict>
            <key>L07_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,696},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>L07_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,386},{37,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,44}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>L07_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,735},{27,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>L07_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,512},{95,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,77}}</string>
                <key>sourceSize</key>
                <string>{95,77}</string>
            </dict>
            <key>L07_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,323},{66,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{66,82}</string>
            </dict>
            <key>L07_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,304},{38,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,45}}</string>
                <key>sourceSize</key>
                <string>{38,45}</string>
            </dict>
            <key>L07_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,59},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>L07_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,672},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>L07_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,665},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,71}}</string>
                <key>sourceSize</key>
                <string>{61,71}</string>
            </dict>
            <key>L07_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,250},{84,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,71}}</string>
                <key>sourceSize</key>
                <string>{84,71}</string>
            </dict>
            <key>L07_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,254},{115,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{115,102}}</string>
                <key>sourceSize</key>
                <string>{115,104}</string>
            </dict>
            <key>L07_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,638},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>L07_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,358},{114,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{114,111}</string>
            </dict>
            <key>L07_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,344},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>L07_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,672},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>L07_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,391},{19,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{19,88}}</string>
                <key>sourceSize</key>
                <string>{25,88}</string>
            </dict>
            <key>L07_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,598},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>L07_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{74,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,214}}</string>
                <key>sourceSize</key>
                <string>{74,214}</string>
            </dict>
            <key>L07_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,705},{31,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,61}}</string>
                <key>sourceSize</key>
                <string>{31,61}</string>
            </dict>
            <key>L07_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,574},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{62,57}</string>
            </dict>
            <key>L07_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,471},{62,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,98}}</string>
                <key>sourceSize</key>
                <string>{62,98}</string>
            </dict>
            <key>L07_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,696},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>L07_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,99},{77,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,149}}</string>
                <key>sourceSize</key>
                <string>{77,149}</string>
            </dict>
            <key>L07_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L07_word.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:652345b05c66cc5e1dc8269c626ff9a9$</string>
            <key>textureFileName</key>
            <string>L07_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
