<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L08_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,133},{131,98}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{131,98}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>L08_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,312},{99,101}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{99,101}}</string>
                <key>sourceSize</key>
                <string>{99,107}</string>
            </dict>
            <key>L08_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,189},{78,96}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{78,96}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>L08_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{83,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,128}}</string>
                <key>sourceSize</key>
                <string>{83,130}</string>
            </dict>
            <key>L08_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,228},{82,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{82,92}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>L08_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,269},{58,90}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{58,90}}</string>
                <key>sourceSize</key>
                <string>{62,92}</string>
            </dict>
            <key>L08_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,469},{55,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,67}}</string>
                <key>sourceSize</key>
                <string>{55,69}</string>
            </dict>
            <key>L08_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{70,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{70,64}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>L08_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{40,125}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,125}}</string>
                <key>sourceSize</key>
                <string>{44,125}</string>
            </dict>
            <key>L08_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,329},{85,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{85,58}}</string>
                <key>sourceSize</key>
                <string>{99,66}</string>
            </dict>
            <key>L08_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,112},{75,97}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{75,97}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>L08_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,481},{63,52}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{63,52}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>L08_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,353},{104,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{104,64}}</string>
                <key>sourceSize</key>
                <string>{108,66}</string>
            </dict>
            <key>L08_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,415},{66,83}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{66,83}}</string>
                <key>sourceSize</key>
                <string>{66,99}</string>
            </dict>
            <key>L08_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,451},{55,64}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{55,64}}</string>
                <key>sourceSize</key>
                <string>{59,72}</string>
            </dict>
            <key>L08_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,413},{70,67}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{70,67}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>L08_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,389},{100,24}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{100,24}}</string>
                <key>sourceSize</key>
                <string>{108,36}</string>
            </dict>
            <key>L08_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,384},{65,75}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,75}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>L08_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,419},{48,70}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,70}}</string>
                <key>sourceSize</key>
                <string>{56,82}</string>
            </dict>
            <key>L08_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{48,117}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,117}}</string>
                <key>sourceSize</key>
                <string>{50,139}</string>
            </dict>
            <key>L08_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,309},{42,111}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,111}}</string>
                <key>sourceSize</key>
                <string>{50,113}</string>
            </dict>
            <key>L08_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,233},{114,74}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{114,74}}</string>
                <key>sourceSize</key>
                <string>{116,80}</string>
            </dict>
            <key>L08_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{97,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{97,108}}</string>
                <key>sourceSize</key>
                <string>{103,114}</string>
            </dict>
            <key>L08_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,419},{60,68}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{60,68}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>L08_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,146},{94,80}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{94,80}}</string>
                <key>sourceSize</key>
                <string>{100,82}</string>
            </dict>
            <key>L08_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,225}}</string>
                <key>sourceSize</key>
                <string>{142,225}</string>
            </dict>
            <key>L08_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,332},{71,50}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{71,50}}</string>
                <key>sourceSize</key>
                <string>{79,58}</string>
            </dict>
            <key>L08_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{107,66}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{107,66}}</string>
                <key>sourceSize</key>
                <string>{129,68}</string>
            </dict>
            <key>L08_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,133},{49,105}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{49,105}}</string>
                <key>sourceSize</key>
                <string>{53,111}</string>
            </dict>
            <key>L08_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{82,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{82,105}}</string>
                <key>sourceSize</key>
                <string>{82,109}</string>
            </dict>
            <key>L08_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,240},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>L08_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{129,182}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,182}}</string>
                <key>sourceSize</key>
                <string>{129,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L08_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,541}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a0d2fedc0f18e9a55725188b45ee6ea$</string>
            <key>textureFileName</key>
            <string>L08_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
