<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L06_fire_left_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,682},{96,100}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,66},{96,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_left_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,886},{96,96}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,72},{96,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_left_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,580},{96,100}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,71},{96,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_left_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,246},{100,102}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,71},{100,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_left_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,362},{106,108}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,64},{106,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_left_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,248},{110,112}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,58},{110,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_left_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,362},{106,108}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,59},{106,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_left_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,246},{100,102}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,61},{100,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_left_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{96,100}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,61},{96,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_left_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,784},{94,96}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,62},{94,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_left_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,112},{98,100}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,56},{98,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_left_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,246},{100,102}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,52},{100,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_left_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,472},{104,108}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,50},{104,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_left_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,134},{110,112}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{110,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_left_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{106,108}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,54},{106,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_left_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,246},{100,102}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,61},{100,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{92,98}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,69},{92,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,362},{98,104}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,63},{98,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,134},{102,110}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,58},{102,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,362},{98,104}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,60},{98,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,472},{100,106}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,57},{100,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,784},{94,100}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,63},{94,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,930},{90,96}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,67},{90,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,930},{84,90}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,73},{84,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{92,98}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,69},{92,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,362},{98,104}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,66},{98,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,134},{102,110}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,64},{102,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,362},{98,104}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,69},{98,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{92,98}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,75},{92,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,882},{86,94}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,76},{86,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,930},{84,90}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,77},{84,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_mid_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,882},{86,94}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,73},{86,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{126,130}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,44},{126,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,134},{128,130}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,43},{128,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{128,130}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,43},{128,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,754},{134,138}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,38},{134,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,784},{142,144}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,35},{142,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{148,152}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{148,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{154,158}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{154,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{148,152}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{148,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,468},{140,144}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{140,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,614},{134,138}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{134,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,894},{128,130}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,37},{128,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,614},{134,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{134,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{142,144}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{142,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{148,152}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{148,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,158}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{154,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>L06_fire_right_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,322},{140,144}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{140,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L06_animation.pvr.ccz</string>
            <key>size</key>
            <string>{690,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc548d9a77a65089f99fe2950233c980$</string>
            <key>textureFileName</key>
            <string>L06_animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
