<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L06_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,176},{74,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,95}}</string>
                <key>sourceSize</key>
                <string>{76,97}</string>
            </dict>
            <key>L06_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,176},{115,59}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{115,59}}</string>
                <key>sourceSize</key>
                <string>{125,87}</string>
            </dict>
            <key>L06_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{84,64}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{84,64}}</string>
                <key>sourceSize</key>
                <string>{98,78}</string>
            </dict>
            <key>L06_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,313},{77,27}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{77,27}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>L06_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,172},{77,58}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,58}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>L06_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,119},{55,82}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{81,90}</string>
            </dict>
            <key>L06_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,344},{75,102}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{75,102}}</string>
                <key>sourceSize</key>
                <string>{81,114}</string>
            </dict>
            <key>L06_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,346},{106,142}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{106,142}}</string>
                <key>sourceSize</key>
                <string>{112,154}</string>
            </dict>
            <key>L06_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,88},{58,82}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{58,82}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>L06_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,248},{34,74}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{34,74}}</string>
                <key>sourceSize</key>
                <string>{76,90}</string>
            </dict>
            <key>L06_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,176},{46,135}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{46,135}}</string>
                <key>sourceSize</key>
                <string>{76,139}</string>
            </dict>
            <key>L06_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,446},{64,89}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{64,89}}</string>
                <key>sourceSize</key>
                <string>{86,89}</string>
            </dict>
            <key>L06_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,273},{67,78}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{67,78}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>L06_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,292},{48,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{48,94}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>L06_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,342},{102,54}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{102,54}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>L06_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{83,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,154}}</string>
                <key>sourceSize</key>
                <string>{85,154}</string>
            </dict>
            <key>L06_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,293},{52,49}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{52,49}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>L06_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{92,168}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{92,168}}</string>
                <key>sourceSize</key>
                <string>{106,172}</string>
            </dict>
            <key>L06_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,448},{98,62}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,62}}</string>
                <key>sourceSize</key>
                <string>{106,76}</string>
            </dict>
            <key>L06_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,435},{74,79}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{74,79}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>L06_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{39,91}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{39,91}}</string>
                <key>sourceSize</key>
                <string>{77,97}</string>
            </dict>
            <key>L06_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,169},{77,38}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,26},{77,38}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>L06_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,95},{39,72}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{39,72}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>L06_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,342},{78,91}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{78,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>L06_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{73,70}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{73,70}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>L06_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,95},{65,77}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{65,77}}</string>
                <key>sourceSize</key>
                <string>{85,99}</string>
            </dict>
            <key>L06_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{63,127}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{63,127}}</string>
                <key>sourceSize</key>
                <string>{79,131}</string>
            </dict>
            <key>L06_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,176},{114,36}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{114,36}}</string>
                <key>sourceSize</key>
                <string>{114,76}</string>
            </dict>
            <key>L06_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,131},{43,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{43,117}}</string>
                <key>sourceSize</key>
                <string>{75,117}</string>
            </dict>
            <key>L06_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,172}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{132,172}</string>
            </dict>
            <key>L06_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,176},{97,34}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{97,34}}</string>
                <key>sourceSize</key>
                <string>{101,78}</string>
            </dict>
            <key>L06_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{115,66}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,20},{115,66}}</string>
                <key>sourceSize</key>
                <string>{119,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L06_word.pvr.ccz</string>
            <key>size</key>
            <string>{508,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:342580a878a3c3f9edcaec476bed0aad$</string>
            <key>textureFileName</key>
            <string>L06_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
