<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L05_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,157},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>L05_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{128,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>L05_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,269},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{43,29}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>L05_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,82},{78,37}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{78,37}}</string>
                <key>sourceSize</key>
                <string>{88,49}</string>
            </dict>
            <key>L05_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{98,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,147}}</string>
                <key>sourceSize</key>
                <string>{100,147}</string>
            </dict>
            <key>L05_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,215},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>L05_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{28,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{28,71}}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>L05_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,373},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>L05_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,180},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>L05_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,302},{38,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,51}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>L05_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,175},{38,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,79}}</string>
                <key>sourceSize</key>
                <string>{38,79}</string>
            </dict>
            <key>L05_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,302},{56,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{56,69}}</string>
                <key>sourceSize</key>
                <string>{74,87}</string>
            </dict>
            <key>L05_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,82},{48,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,73}}</string>
                <key>sourceSize</key>
                <string>{48,73}</string>
            </dict>
            <key>L05_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,112},{101,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{101,58}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>L05_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{47,223}}</string>
                <key>sourceSize</key>
                <string>{63,223}</string>
            </dict>
            <key>L05_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,215},{53,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{53,32}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>L05_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{35,79}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{35,79}}</string>
                <key>sourceSize</key>
                <string>{37,83}</string>
            </dict>
            <key>L05_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,215},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>L05_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,375},{29,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,70}}</string>
                <key>sourceSize</key>
                <string>{31,70}</string>
            </dict>
            <key>L05_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{78,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,54}}</string>
                <key>sourceSize</key>
                <string>{82,56}</string>
            </dict>
            <key>L05_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>L05_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,431},{43,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>L05_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,373},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,66}</string>
            </dict>
            <key>L05_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,302},{71,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{71,39}}</string>
                <key>sourceSize</key>
                <string>{97,65}</string>
            </dict>
            <key>L05_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,441},{58,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{58,43}}</string>
                <key>sourceSize</key>
                <string>{80,63}</string>
            </dict>
            <key>L05_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,447},{59,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{59,44}}</string>
                <key>sourceSize</key>
                <string>{67,50}</string>
            </dict>
            <key>L05_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{108,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,36}}</string>
                <key>sourceSize</key>
                <string>{108,36}</string>
            </dict>
            <key>L05_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,94},{57,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{57,84}}</string>
                <key>sourceSize</key>
                <string>{73,92}</string>
            </dict>
            <key>L05_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,94},{46,79}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,79}}</string>
                <key>sourceSize</key>
                <string>{50,79}</string>
            </dict>
            <key>L05_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,447},{25,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,60}}</string>
                <key>sourceSize</key>
                <string>{25,60}</string>
            </dict>
            <key>L05_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,270},{52,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,30}}</string>
                <key>sourceSize</key>
                <string>{52,30}</string>
            </dict>
            <key>L05_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{22,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,73}}</string>
                <key>sourceSize</key>
                <string>{22,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L05_word.pvr.ccz</string>
            <key>size</key>
            <string>{323,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18fd06e4d5671a168425b67831949d67$</string>
            <key>textureFileName</key>
            <string>L05_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
