<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L03_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{56,140}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{56,140}}</string>
                <key>sourceSize</key>
                <string>{58,154}</string>
            </dict>
            <key>L03_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,307},{51,106}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{51,106}}</string>
                <key>sourceSize</key>
                <string>{63,128}</string>
            </dict>
            <key>L03_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{101,43}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{101,43}}</string>
                <key>sourceSize</key>
                <string>{111,57}</string>
            </dict>
            <key>L03_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,324},{41,69}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{41,69}}</string>
                <key>sourceSize</key>
                <string>{65,85}</string>
            </dict>
            <key>L03_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{183,154}}</string>
                <key>sourceSize</key>
                <string>{183,156}</string>
            </dict>
            <key>L03_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,324},{70,70}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>L03_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{65,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{65,146}}</string>
                <key>sourceSize</key>
                <string>{65,150}</string>
            </dict>
            <key>L03_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,165},{89,11}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{89,11}}</string>
                <key>sourceSize</key>
                <string>{105,37}</string>
            </dict>
            <key>L03_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,423},{60,51}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{60,51}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>L03_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,400},{91,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>L03_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{183,87}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{183,87}}</string>
                <key>sourceSize</key>
                <string>{195,103}</string>
            </dict>
            <key>L03_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,423},{53,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{53,57}}</string>
                <key>sourceSize</key>
                <string>{53,81}</string>
            </dict>
            <key>L03_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,203},{60,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{60,113}}</string>
                <key>sourceSize</key>
                <string>{68,123}</string>
            </dict>
            <key>L03_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,74},{127,89}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{127,89}}</string>
                <key>sourceSize</key>
                <string>{131,113}</string>
            </dict>
            <key>L03_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{70,128}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{70,128}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>L03_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,423},{54,56}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{54,56}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
            <key>L03_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,296},{79,58}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{79,58}}</string>
                <key>sourceSize</key>
                <string>{109,74}</string>
            </dict>
            <key>L03_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,265},{57,111}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{57,111}}</string>
                <key>sourceSize</key>
                <string>{65,129}</string>
            </dict>
            <key>L03_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,397},{51,54}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{51,54}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>L03_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,290},{61,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{61,91}}</string>
                <key>sourceSize</key>
                <string>{87,103}</string>
            </dict>
            <key>L03_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,395},{26,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{26,41}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>L03_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,158},{72,29}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{72,29}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>L03_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,256},{103,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{107,30}</string>
            </dict>
            <key>L03_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,203},{91,73}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{91,73}}</string>
                <key>sourceSize</key>
                <string>{111,87}</string>
            </dict>
            <key>L03_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,232},{29,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{29,56}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>L03_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,356},{61,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{61,39}}</string>
                <key>sourceSize</key>
                <string>{87,41}</string>
            </dict>
            <key>L03_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,91},{110,182}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{110,182}}</string>
                <key>sourceSize</key>
                <string>{110,192}</string>
            </dict>
            <key>L03_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{70,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{70,93}}</string>
                <key>sourceSize</key>
                <string>{70,105}</string>
            </dict>
            <key>L03_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,400},{90,44}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{96,46}</string>
            </dict>
            <key>L03_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,165},{88,122}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{88,122}}</string>
                <key>sourceSize</key>
                <string>{100,142}</string>
            </dict>
            <key>L03_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{91,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>L03_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,255},{107,50}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{107,50}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L03_word.pvr.ccz</string>
            <key>size</key>
            <string>{510,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b7c82e03398fcf6468866c9f86ac247$</string>
            <key>textureFileName</key>
            <string>L03_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
