<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L10_coin_star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{196,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{196,114}}</string>
                <key>sourceSize</key>
                <string>{210,128}</string>
            </dict>
            <key>L10_coin_star_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{198,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{198,114}}</string>
                <key>sourceSize</key>
                <string>{210,128}</string>
            </dict>
            <key>L10_coin_star_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{200,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{200,114}}</string>
                <key>sourceSize</key>
                <string>{210,128}</string>
            </dict>
            <key>L10_coin_star_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{202,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{202,116}}</string>
                <key>sourceSize</key>
                <string>{210,128}</string>
            </dict>
            <key>L10_coin_star_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{206,118}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{206,118}}</string>
                <key>sourceSize</key>
                <string>{210,128}</string>
            </dict>
            <key>L10_coin_star_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,118}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{208,118}}</string>
                <key>sourceSize</key>
                <string>{210,128}</string>
            </dict>
            <key>L10_coin_star_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{206,118}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{206,118}}</string>
                <key>sourceSize</key>
                <string>{210,128}</string>
            </dict>
            <key>L10_coin_star_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,122},{204,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{204,116}}</string>
                <key>sourceSize</key>
                <string>{210,128}</string>
            </dict>
            <key>L10_coin_star_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,240},{202,116}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{202,116}}</string>
                <key>sourceSize</key>
                <string>{210,128}</string>
            </dict>
            <key>L10_coin_star_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,358},{200,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{200,116}}</string>
                <key>sourceSize</key>
                <string>{210,128}</string>
            </dict>
            <key>L10_coin_star_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{200,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{200,114}}</string>
                <key>sourceSize</key>
                <string>{210,128}</string>
            </dict>
            <key>L10_coin_star_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,476},{198,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{198,116}}</string>
                <key>sourceSize</key>
                <string>{210,128}</string>
            </dict>
            <key>L10_coin_star_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,594},{196,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{196,114}}</string>
                <key>sourceSize</key>
                <string>{210,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L10_animation.pvr.ccz</string>
            <key>size</key>
            <string>{420,824}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20862844c56bcd162f25c468f32745bf$</string>
            <key>textureFileName</key>
            <string>L10_animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
