<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L02_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{170,119}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{170,119}}</string>
                <key>sourceSize</key>
                <string>{170,135}</string>
            </dict>
            <key>L02_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,412},{70,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>L02_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,184},{86,127}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{86,127}}</string>
                <key>sourceSize</key>
                <string>{100,137}</string>
            </dict>
            <key>L02_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,143},{46,84}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{46,84}}</string>
                <key>sourceSize</key>
                <string>{52,114}</string>
            </dict>
            <key>L02_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,356},{136,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{136,110}}</string>
                <key>sourceSize</key>
                <string>{136,114}</string>
            </dict>
            <key>L02_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{60,98}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{60,98}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>L02_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,214},{64,95}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{64,95}}</string>
                <key>sourceSize</key>
                <string>{82,109}</string>
            </dict>
            <key>L02_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,313},{41,58}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{41,58}}</string>
                <key>sourceSize</key>
                <string>{55,82}</string>
            </dict>
            <key>L02_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,143},{88,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{88,70}}</string>
                <key>sourceSize</key>
                <string>{94,86}</string>
            </dict>
            <key>L02_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{29,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{29,48}}</string>
                <key>sourceSize</key>
                <string>{59,72}</string>
            </dict>
            <key>L02_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{115,28}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{115,28}}</string>
                <key>sourceSize</key>
                <string>{123,36}</string>
            </dict>
            <key>L02_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,215},{71,87}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,87}}</string>
                <key>sourceSize</key>
                <string>{73,101}</string>
            </dict>
            <key>L02_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{72,107}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{72,107}}</string>
                <key>sourceSize</key>
                <string>{86,111}</string>
            </dict>
            <key>L02_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,111},{97,101}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{97,101}}</string>
                <key>sourceSize</key>
                <string>{97,115}</string>
            </dict>
            <key>L02_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,180}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{152,180}}</string>
                <key>sourceSize</key>
                <string>{168,196}</string>
            </dict>
            <key>L02_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{100,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,154}}</string>
                <key>sourceSize</key>
                <string>{100,154}</string>
            </dict>
            <key>L02_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,290},{79,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,82}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>L02_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,125},{53,57}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{53,57}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>L02_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,229},{59,84}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{59,84}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>L02_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{52,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{52,98}}</string>
                <key>sourceSize</key>
                <string>{64,102}</string>
            </dict>
            <key>L02_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,350},{60,77}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{60,77}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>L02_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,313},{61,40}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{61,40}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>L02_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,56},{93,85}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,85}}</string>
                <key>sourceSize</key>
                <string>{97,85}</string>
            </dict>
            <key>L02_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,312},{39,60}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{39,60}}</string>
                <key>sourceSize</key>
                <string>{79,88}</string>
            </dict>
            <key>L02_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,355},{126,43}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{126,43}}</string>
                <key>sourceSize</key>
                <string>{148,43}</string>
            </dict>
            <key>L02_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,415},{67,71}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{67,71}}</string>
                <key>sourceSize</key>
                <string>{83,89}</string>
            </dict>
            <key>L02_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{54,121}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{54,121}}</string>
                <key>sourceSize</key>
                <string>{72,121}</string>
            </dict>
            <key>L02_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,125},{115,54}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{115,54}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>L02_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,288},{83,60}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,60}}</string>
                <key>sourceSize</key>
                <string>{85,70}</string>
            </dict>
            <key>L02_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,242},{68,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{68,55}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>L02_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,52},{61,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{61,28}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>L02_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,353},{45,60}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,60}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L02_word.pvr.ccz</string>
            <key>size</key>
            <string>{509,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7168f69793c1bc85b876d3e7727f57c2$</string>
            <key>textureFileName</key>
            <string>L02_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
