<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L19_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,292},{31,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{31,93}}</string>
                <key>sourceSize</key>
                <string>{39,95}</string>
            </dict>
            <key>L19_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{109,193}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{109,193}}</string>
                <key>sourceSize</key>
                <string>{115,195}</string>
            </dict>
            <key>L19_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,222},{32,68}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{32,68}}</string>
                <key>sourceSize</key>
                <string>{36,74}</string>
            </dict>
            <key>L19_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,488},{54,54}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
            <key>L19_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,387},{38,64}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,64}}</string>
                <key>sourceSize</key>
                <string>{42,68}</string>
            </dict>
            <key>L19_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{85,38}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{85,38}}</string>
                <key>sourceSize</key>
                <string>{89,42}</string>
            </dict>
            <key>L19_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{141,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,140}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>L19_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,220},{76,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{76,38}}</string>
                <key>sourceSize</key>
                <string>{84,42}</string>
            </dict>
            <key>L19_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,362},{86,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,47}}</string>
                <key>sourceSize</key>
                <string>{88,51}</string>
            </dict>
            <key>L19_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{113,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,204}}</string>
                <key>sourceSize</key>
                <string>{115,204}</string>
            </dict>
            <key>L19_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,61},{22,77}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{22,77}}</string>
                <key>sourceSize</key>
                <string>{28,79}</string>
            </dict>
            <key>L19_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,117},{163,103}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{163,103}}</string>
                <key>sourceSize</key>
                <string>{163,107}</string>
            </dict>
            <key>L19_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,260},{58,71}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{58,71}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>L19_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,444},{59,56}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,56}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>L19_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,155},{118,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,102}}</string>
                <key>sourceSize</key>
                <string>{118,106}</string>
            </dict>
            <key>L19_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,444},{54,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,41}}</string>
                <key>sourceSize</key>
                <string>{54,41}</string>
            </dict>
            <key>L19_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{80,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,92}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>L19_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,337},{60,101}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,101}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>L19_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,109},{26,93}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,93}}</string>
                <key>sourceSize</key>
                <string>{30,93}</string>
            </dict>
            <key>L19_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,427},{41,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{41,60}}</string>
                <key>sourceSize</key>
                <string>{45,62}</string>
            </dict>
            <key>L19_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,85},{68,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>L19_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{78,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,57}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>L19_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,222}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{105,222}}</string>
                <key>sourceSize</key>
                <string>{109,222}</string>
            </dict>
            <key>L19_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,222},{113,127}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{113,127}}</string>
                <key>sourceSize</key>
                <string>{113,135}</string>
            </dict>
            <key>L19_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,323},{109,85}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{109,85}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>L19_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{90,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{90,52}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>L19_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,410},{93,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{93,88}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>L19_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,450},{45,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,59}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>L19_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,259},{118,62}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{118,62}}</string>
                <key>sourceSize</key>
                <string>{126,72}</string>
            </dict>
            <key>L19_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,399},{99,43}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{99,43}}</string>
                <key>sourceSize</key>
                <string>{107,49}</string>
            </dict>
            <key>L19_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,320},{64,79}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{64,79}}</string>
                <key>sourceSize</key>
                <string>{68,91}</string>
            </dict>
            <key>L19_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,401},{59,85}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,85}}</string>
                <key>sourceSize</key>
                <string>{63,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L19_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64b9c1dd702db488a7c5a09b11a2727e$</string>
            <key>textureFileName</key>
            <string>L19_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
