<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L19_01_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,196},{18,58}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{18,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_02_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_03_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,198},{48,56}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{48,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_04_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{52,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{52,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_05_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,168},{30,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{30,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_06_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,256},{50,20}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,21},{50,20}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_07_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,306},{50,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{50,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_08_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,216},{44,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{44,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_09_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{56,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{56,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_10_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,256},{54,50}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{54,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,200},{56,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{56,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,156},{58,38}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{58,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{44,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_14_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{56,52}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_15_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,124},{58,42}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{58,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_16_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,290},{54,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{54,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_17_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,64},{56,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_18_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{24,54}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{24,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_19_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{12,64}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{12,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_20_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,248},{40,56}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{40,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_21_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,90},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{58,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_22_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,48},{62,40}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{62,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_23_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{32,62}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{32,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_24_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,16},{62,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{62,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_25_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{60,50}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_26_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,150},{58,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{58,46}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_27_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,100},{58,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{58,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_28_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,262},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{42,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_29_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,50}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{64,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_30_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{46,48}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{46,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_31_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,330},{38,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{38,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L19_32_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,66},{32,62}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{32,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L19_silhouette.pvr.ccz</string>
            <key>size</key>
            <string>{256,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2168b44656475e568578145dffe1458$</string>
            <key>textureFileName</key>
            <string>L19_silhouette.pvr.ccz</string>
        </dict>
    </dict>
</plist>
