<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L11_01_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,296},{50,28}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{50,28}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_02_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,126},{52,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{52,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_03_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{54,46}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{54,46}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_04_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,182},{56,54}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_05_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{44,34}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{44,34}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_06_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,270},{54,24}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{54,24}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_07_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,276},{54,22}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{54,22}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_08_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,64},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{60,36}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_09_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{64,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_10_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,318},{48,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{48,46}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_11_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,240},{54,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{54,46}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_12_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{50,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{50,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_13_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,300},{48,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{48,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_14_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,162},{58,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{58,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_15_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,102},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{58,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_16_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{60,56}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{60,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_17_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{52,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{52,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_18_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,238},{30,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{30,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_19_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{56,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{56,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_20_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{62,38}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{62,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_21_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,90},{34,60}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{34,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_22_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,42},{60,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{60,46}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_23_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{42,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{42,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_24_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,204},{34,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{34,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_25_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,136},{44,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{44,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_26_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,288},{52,28}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{52,28}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_27_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,180},{38,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{38,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_28_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,220},{54,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_29_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{38,64}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{38,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_30_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,42},{58,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{58,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_31_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{50,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{50,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_32_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,102},{60,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{60,32}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L11_picture.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c5959d65de4968525e684ecbca78ae4$</string>
            <key>textureFileName</key>
            <string>L11_picture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
