<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L10_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>L10_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,296},{24,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{24,70}}</string>
                <key>sourceSize</key>
                <string>{44,70}</string>
            </dict>
            <key>L10_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,461},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>L10_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{124,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,102}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>L10_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{46,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,87}}</string>
                <key>sourceSize</key>
                <string>{46,87}</string>
            </dict>
            <key>L10_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{63,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,93}}</string>
                <key>sourceSize</key>
                <string>{63,93}</string>
            </dict>
            <key>L10_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,201},{36,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,94}}</string>
                <key>sourceSize</key>
                <string>{44,94}</string>
            </dict>
            <key>L10_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,268},{63,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{63,26}}</string>
                <key>sourceSize</key>
                <string>{63,44}</string>
            </dict>
            <key>L10_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{67,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,40}}</string>
                <key>sourceSize</key>
                <string>{67,44}</string>
            </dict>
            <key>L10_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,335},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>L10_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,297},{30,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,61}}</string>
                <key>sourceSize</key>
                <string>{44,61}</string>
            </dict>
            <key>L10_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,97},{71,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,58}}</string>
                <key>sourceSize</key>
                <string>{71,58}</string>
            </dict>
            <key>L10_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,322},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,72}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>L10_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>L10_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,412},{49,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,78}}</string>
                <key>sourceSize</key>
                <string>{49,78}</string>
            </dict>
            <key>L10_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,463},{80,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>L10_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,198}}</string>
                <key>sourceSize</key>
                <string>{72,198}</string>
            </dict>
            <key>L10_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,423},{38,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,67}}</string>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>L10_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,202},{97,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{97,62}</string>
            </dict>
            <key>L10_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,97},{93,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,42}}</string>
                <key>sourceSize</key>
                <string>{93,44}</string>
            </dict>
            <key>L10_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>L10_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,463},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,44}</string>
            </dict>
            <key>L10_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,396},{56,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,63}}</string>
                <key>sourceSize</key>
                <string>{56,63}</string>
            </dict>
            <key>L10_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,329},{81,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,49}}</string>
                <key>sourceSize</key>
                <string>{81,49}</string>
            </dict>
            <key>L10_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,338},{57,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,112}}</string>
                <key>sourceSize</key>
                <string>{57,112}</string>
            </dict>
            <key>L10_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,301},{84,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{84,32}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>L10_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{117,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,134}}</string>
                <key>sourceSize</key>
                <string>{117,134}</string>
            </dict>
            <key>L10_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,111},{89,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>L10_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,192},{74,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,40}}</string>
                <key>sourceSize</key>
                <string>{74,44}</string>
            </dict>
            <key>L10_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,111},{88,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,63}}</string>
                <key>sourceSize</key>
                <string>{88,63}</string>
            </dict>
            <key>L10_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,464},{113,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,45}}</string>
                <key>sourceSize</key>
                <string>{113,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L10_word.pvr.ccz</string>
            <key>size</key>
            <string>{469,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:237c799f29241031ee4ef2371ab17141$</string>
            <key>textureFileName</key>
            <string>L10_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
