<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L07_01_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,256},{62,60}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{62,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_02_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,192},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_03_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,326},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{58,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_04_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{64,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_05_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{48,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_06_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,442},{48,50}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{48,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_07_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,130},{62,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_08_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_09_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{62,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_10_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{56,56}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{56,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_11_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,64},{60,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_12_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,374},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{58,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_13_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,126},{64,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_14_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,200},{62,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_15_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,436},{56,30}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{56,30}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_16_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,312},{60,62}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{60,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_17_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{44,48}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{44,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_18_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_19_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_20_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_21_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,434},{56,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{56,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_22_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,390},{60,50}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{60,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_23_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{60,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_24_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,194},{64,58}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{64,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_25_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,64},{64,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_26_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{60,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_27_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,70},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{64,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_28_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,378},{58,56}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{58,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_29_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,136},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{50,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_30_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,254},{64,56}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_31_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_32_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,318},{62,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L07_33_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,264},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{50,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L07_picture.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2938adc35ee567a5789f1d153862aa8$</string>
            <key>textureFileName</key>
            <string>L07_picture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
