<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L06_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{157,50}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,50}}</string>
                <key>sourceSize</key>
                <string>{157,66}</string>
            </dict>
            <key>L06_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{41,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{41,135}}</string>
                <key>sourceSize</key>
                <string>{47,149}</string>
            </dict>
            <key>L06_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,179},{97,105}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{97,105}}</string>
                <key>sourceSize</key>
                <string>{107,105}</string>
            </dict>
            <key>L06_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,466},{59,74}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{59,74}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>L06_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,456},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>L06_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{72,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,94}}</string>
                <key>sourceSize</key>
                <string>{72,94}</string>
            </dict>
            <key>L06_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,373},{75,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,85}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>L06_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,366},{99,101}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{99,101}}</string>
                <key>sourceSize</key>
                <string>{127,117}</string>
            </dict>
            <key>L06_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,341},{69,108}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{69,108}}</string>
                <key>sourceSize</key>
                <string>{79,114}</string>
            </dict>
            <key>L06_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,274},{97,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{97,66}}</string>
                <key>sourceSize</key>
                <string>{99,68}</string>
            </dict>
            <key>L06_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,213},{49,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{49,59}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>L06_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{111,56}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,56}}</string>
                <key>sourceSize</key>
                <string>{111,64}</string>
            </dict>
            <key>L06_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,98},{79,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>L06_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,450},{59,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,75}}</string>
                <key>sourceSize</key>
                <string>{59,75}</string>
            </dict>
            <key>L06_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,163},{83,120}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{83,120}}</string>
                <key>sourceSize</key>
                <string>{89,124}</string>
            </dict>
            <key>L06_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,456},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>L06_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{70,118}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{70,118}}</string>
                <key>sourceSize</key>
                <string>{84,126}</string>
            </dict>
            <key>L06_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{121,70}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{121,70}}</string>
                <key>sourceSize</key>
                <string>{127,70}</string>
            </dict>
            <key>L06_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,175},{112,83}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{112,83}}</string>
                <key>sourceSize</key>
                <string>{122,99}</string>
            </dict>
            <key>L06_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,248},{91,111}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,111}}</string>
                <key>sourceSize</key>
                <string>{91,119}</string>
            </dict>
            <key>L06_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{109,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,32}}</string>
                <key>sourceSize</key>
                <string>{109,32}</string>
            </dict>
            <key>L06_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>L06_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{70,74}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,88}</string>
            </dict>
            <key>L06_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,286},{87,101}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{87,101}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>L06_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{61,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,57}}</string>
                <key>sourceSize</key>
                <string>{61,57}</string>
            </dict>
            <key>L06_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,83},{78,124}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,124}}</string>
                <key>sourceSize</key>
                <string>{100,142}</string>
            </dict>
            <key>L06_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,274}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{79,274}}</string>
                <key>sourceSize</key>
                <string>{91,292}</string>
            </dict>
            <key>L06_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,412},{42,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,101}}</string>
                <key>sourceSize</key>
                <string>{42,101}</string>
            </dict>
            <key>L06_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,54},{119,136}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{119,136}}</string>
                <key>sourceSize</key>
                <string>{127,140}</string>
            </dict>
            <key>L06_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,389},{75,78}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{87,82}</string>
            </dict>
            <key>L06_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,175},{50,36}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{50,36}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>L06_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,260},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L06_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b81abb26b1c0d64f18877fc760d02da$</string>
            <key>textureFileName</key>
            <string>L06_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
