<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L12_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,429},{65,32}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{65,32}}</string>
                <key>sourceSize</key>
                <string>{81,50}</string>
            </dict>
            <key>L12_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,176},{86,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{86,58}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>L12_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,57},{64,30}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{70,30}</string>
            </dict>
            <key>L12_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,61},{56,75}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{56,75}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>L12_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,466},{55,44}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{55,44}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>L12_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,47},{29,51}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{29,51}}</string>
                <key>sourceSize</key>
                <string>{51,61}</string>
            </dict>
            <key>L12_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,200}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,200}}</string>
                <key>sourceSize</key>
                <string>{47,206}</string>
            </dict>
            <key>L12_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,277},{28,98}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{28,98}}</string>
                <key>sourceSize</key>
                <string>{60,102}</string>
            </dict>
            <key>L12_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,176},{99,63}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{99,63}}</string>
                <key>sourceSize</key>
                <string>{105,75}</string>
            </dict>
            <key>L12_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,383},{101,48}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{101,48}}</string>
                <key>sourceSize</key>
                <string>{139,70}</string>
            </dict>
            <key>L12_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{45,16}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{45,16}}</string>
                <key>sourceSize</key>
                <string>{71,46}</string>
            </dict>
            <key>L12_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,463},{47,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{47,41}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>L12_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,348},{57,79}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{57,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>L12_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,486},{14,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{14,70}}</string>
                <key>sourceSize</key>
                <string>{54,88}</string>
            </dict>
            <key>L12_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,194},{67,61}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{67,61}}</string>
                <key>sourceSize</key>
                <string>{89,95}</string>
            </dict>
            <key>L12_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{78,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,57}}</string>
                <key>sourceSize</key>
                <string>{78,57}</string>
            </dict>
            <key>L12_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{53,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>L12_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,376},{88,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,45}}</string>
                <key>sourceSize</key>
                <string>{88,47}</string>
            </dict>
            <key>L12_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{38,73}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{38,73}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>L12_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,119},{74,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{74,73}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>L12_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,277},{97,50}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{97,50}}</string>
                <key>sourceSize</key>
                <string>{113,66}</string>
            </dict>
            <key>L12_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,377},{97,54}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{97,54}}</string>
                <key>sourceSize</key>
                <string>{117,70}</string>
            </dict>
            <key>L12_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,69},{72,70}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{72,70}}</string>
                <key>sourceSize</key>
                <string>{92,82}</string>
            </dict>
            <key>L12_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{65,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>L12_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{43,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{43,51}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>L12_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,429},{48,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{48,35}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>L12_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,264},{49,82}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{49,82}}</string>
                <key>sourceSize</key>
                <string>{73,108}</string>
            </dict>
            <key>L12_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,466},{55,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{55,44}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>L12_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,476},{32,84}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{32,84}}</string>
                <key>sourceSize</key>
                <string>{76,102}</string>
            </dict>
            <key>L12_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{150,172}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{150,172}}</string>
                <key>sourceSize</key>
                <string>{152,186}</string>
            </dict>
            <key>L12_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{101,83}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,28},{101,83}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>L12_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{121,177}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{121,177}}</string>
                <key>sourceSize</key>
                <string>{123,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L12_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f7d7493e67c8335ed8c975c4d8263c7$</string>
            <key>textureFileName</key>
            <string>L12_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
