<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L13_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,430},{48,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{48,49}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>L13_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,374},{48,54}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{48,54}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>L13_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,174},{69,14}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{69,14}}</string>
                <key>sourceSize</key>
                <string>{91,42}</string>
            </dict>
            <key>L13_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,303},{69,86}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{69,86}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>L13_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,259},{90,49}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{90,49}}</string>
                <key>sourceSize</key>
                <string>{100,61}</string>
            </dict>
            <key>L13_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{82,51}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{82,51}}</string>
                <key>sourceSize</key>
                <string>{88,69}</string>
            </dict>
            <key>L13_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{99,78}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{99,78}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>L13_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,310},{55,60}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{55,60}}</string>
                <key>sourceSize</key>
                <string>{71,66}</string>
            </dict>
            <key>L13_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,301},{73,63}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,63}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>L13_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,413},{79,71}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{79,71}}</string>
                <key>sourceSize</key>
                <string>{87,77}</string>
            </dict>
            <key>L13_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,324},{85,69}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,69}}</string>
                <key>sourceSize</key>
                <string>{103,75}</string>
            </dict>
            <key>L13_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{126,183}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{132,185}</string>
            </dict>
            <key>L13_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,132},{81,54}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{81,54}}</string>
                <key>sourceSize</key>
                <string>{105,76}</string>
            </dict>
            <key>L13_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{82,75}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{82,75}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>L13_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{120,40}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{120,40}}</string>
                <key>sourceSize</key>
                <string>{126,56}</string>
            </dict>
            <key>L13_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,130},{63,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{63,55}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>L13_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,128}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,128}}</string>
                <key>sourceSize</key>
                <string>{209,128}</string>
            </dict>
            <key>L13_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,234},{91,67}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{91,67}}</string>
                <key>sourceSize</key>
                <string>{111,85}</string>
            </dict>
            <key>L13_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,243},{104,56}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{104,56}}</string>
                <key>sourceSize</key>
                <string>{130,102}</string>
            </dict>
            <key>L13_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,205},{106,36}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{106,36}}</string>
                <key>sourceSize</key>
                <string>{140,62}</string>
            </dict>
            <key>L13_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,473},{62,36}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{62,36}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>L13_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,276},{91,46}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{91,46}}</string>
                <key>sourceSize</key>
                <string>{107,70}</string>
            </dict>
            <key>L13_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,130},{102,126}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{102,126}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>L13_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,145},{108,58}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{108,58}}</string>
                <key>sourceSize</key>
                <string>{138,82}</string>
            </dict>
            <key>L13_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,188},{86,82}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{86,82}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>L13_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,395},{51,75}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{51,75}}</string>
                <key>sourceSize</key>
                <string>{63,81}</string>
            </dict>
            <key>L13_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,195},{55,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{55,62}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>L13_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,301},{39,55}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{39,55}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>L13_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,110},{33,112}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{33,112}}</string>
                <key>sourceSize</key>
                <string>{35,122}</string>
            </dict>
            <key>L13_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{80,103}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{80,103}}</string>
                <key>sourceSize</key>
                <string>{110,133}</string>
            </dict>
            <key>L13_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{106,118}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{106,118}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>L13_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,395},{76,53}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{76,53}}</string>
                <key>sourceSize</key>
                <string>{94,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L13_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:046fe2d6f384d36c80a6b24804ad46d1$</string>
            <key>textureFileName</key>
            <string>L13_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
