<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L09_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,150},{68,63}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{68,63}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>L09_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{63,87}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{63,87}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>L09_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,134},{41,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{41,60}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>L09_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,250},{67,17}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{67,17}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L09_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{79,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,96}}</string>
                <key>sourceSize</key>
                <string>{79,98}</string>
            </dict>
            <key>L09_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,455},{49,68}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{49,68}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>L09_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,453},{56,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{56,74}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>L09_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{72,70}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{72,70}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>L09_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,266},{41,65}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{41,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L09_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,269},{55,79}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{55,79}}</string>
                <key>sourceSize</key>
                <string>{77,87}</string>
            </dict>
            <key>L09_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,157},{91,73}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{91,73}}</string>
                <key>sourceSize</key>
                <string>{103,93}</string>
            </dict>
            <key>L09_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,350},{77,38}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{77,38}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>L09_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,368},{80,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,26},{80,28}}</string>
                <key>sourceSize</key>
                <string>{86,76}</string>
            </dict>
            <key>L09_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{111,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{111,72}}</string>
                <key>sourceSize</key>
                <string>{111,76}</string>
            </dict>
            <key>L09_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,430},{70,23}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{70,23}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>L09_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{56,52}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{56,52}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>L09_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,269},{75,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,72}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>L09_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,457},{56,51}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{56,51}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>L09_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,153}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,153}}</string>
                <key>sourceSize</key>
                <string>{76,155}</string>
            </dict>
            <key>L09_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{49,65}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{49,65}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>L09_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,76},{72,36}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{72,36}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>L09_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,40}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{74,40}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>L09_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,350},{78,29}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{78,29}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>L09_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,78},{73,45}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,31},{73,45}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>L09_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,76},{68,43}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,19},{68,43}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>L09_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,220},{59,44}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{59,44}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>L09_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,220},{46,35}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{46,35}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>L09_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,346},{75,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,66}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>L09_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,69},{63,60}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{63,60}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>L09_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{48,62}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{48,62}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>L09_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,196},{49,59}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{49,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>L09_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,423},{75,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{75,28}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L09_word.pvr.ccz</string>
            <key>size</key>
            <string>{300,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b23c7e06c921d1f7942eb12e5175be5$</string>
            <key>textureFileName</key>
            <string>L09_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
