<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L09_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,492},{35,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,16}}</string>
                <key>sourceSize</key>
                <string>{35,16}</string>
            </dict>
            <key>L09_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,72},{46,43}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>L09_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{64,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,27}}</string>
                <key>sourceSize</key>
                <string>{64,27}</string>
            </dict>
            <key>L09_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,325},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>L09_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,218}}</string>
                <key>sourceSize</key>
                <string>{151,218}</string>
            </dict>
            <key>L09_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{108,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,183}}</string>
                <key>sourceSize</key>
                <string>{108,183}</string>
            </dict>
            <key>L09_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,381},{104,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,126}}</string>
                <key>sourceSize</key>
                <string>{104,126}</string>
            </dict>
            <key>L09_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,117},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>L09_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{106,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,113}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>L09_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{52,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,140}}</string>
                <key>sourceSize</key>
                <string>{52,140}</string>
            </dict>
            <key>L09_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,189},{69,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,28}}</string>
                <key>sourceSize</key>
                <string>{69,28}</string>
            </dict>
            <key>L09_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{68,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,42}}</string>
                <key>sourceSize</key>
                <string>{68,42}</string>
            </dict>
            <key>L09_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,222},{72,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,157}}</string>
                <key>sourceSize</key>
                <string>{72,157}</string>
            </dict>
            <key>L09_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,87},{36,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,29}}</string>
                <key>sourceSize</key>
                <string>{36,29}</string>
            </dict>
            <key>L09_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{45,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,56}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>L09_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>L09_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,301},{43,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,71}}</string>
                <key>sourceSize</key>
                <string>{43,71}</string>
            </dict>
            <key>L09_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,117},{49,63}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>L09_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,182},{58,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>L09_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,218},{46,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,105}}</string>
                <key>sourceSize</key>
                <string>{46,105}</string>
            </dict>
            <key>L09_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,68},{47,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{47,57}</string>
            </dict>
            <key>L09_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,260},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
            <key>L09_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,217},{82,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,61}}</string>
                <key>sourceSize</key>
                <string>{82,61}</string>
            </dict>
            <key>L09_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,144},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>L09_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,117},{36,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>L09_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,407},{74,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,83}}</string>
                <key>sourceSize</key>
                <string>{74,83}</string>
            </dict>
            <key>L09_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,117},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>L09_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,144},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>L09_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>L09_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,492},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>L09_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,49},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>L09_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,49},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L09_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9266a39bde4bbe4c5782b5d7372fc0d9$</string>
            <key>textureFileName</key>
            <string>L09_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
