<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L06_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,171},{68,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,49}}</string>
                <key>sourceSize</key>
                <string>{72,49}</string>
            </dict>
            <key>L06_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,345},{73,48}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{73,48}}</string>
                <key>sourceSize</key>
                <string>{75,52}</string>
            </dict>
            <key>L06_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{62,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,129}}</string>
                <key>sourceSize</key>
                <string>{74,129}</string>
            </dict>
            <key>L06_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,168}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{34,168}}</string>
                <key>sourceSize</key>
                <string>{34,170}</string>
            </dict>
            <key>L06_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{65,101}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{81,101}</string>
            </dict>
            <key>L06_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{34,91}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{34,91}}</string>
                <key>sourceSize</key>
                <string>{40,99}</string>
            </dict>
            <key>L06_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,421},{101,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{101,80}}</string>
                <key>sourceSize</key>
                <string>{101,82}</string>
            </dict>
            <key>L06_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,345},{39,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,61}}</string>
                <key>sourceSize</key>
                <string>{39,61}</string>
            </dict>
            <key>L06_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,416},{69,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,39}}</string>
                <key>sourceSize</key>
                <string>{69,39}</string>
            </dict>
            <key>L06_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,305},{38,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,51}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>L06_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,393},{59,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{59,26}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>L06_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{23,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{23,124}}</string>
                <key>sourceSize</key>
                <string>{25,128}</string>
            </dict>
            <key>L06_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,128},{66,42}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{66,42}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>L06_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,267},{76,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,51}}</string>
                <key>sourceSize</key>
                <string>{76,51}</string>
            </dict>
            <key>L06_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,345},{69,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,48}}</string>
                <key>sourceSize</key>
                <string>{69,48}</string>
            </dict>
            <key>L06_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{69,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,92}}</string>
                <key>sourceSize</key>
                <string>{69,92}</string>
            </dict>
            <key>L06_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,95},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>L06_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,277},{62,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,19}}</string>
                <key>sourceSize</key>
                <string>{62,25}</string>
            </dict>
            <key>L06_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,241},{52,62}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,62}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>L06_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{58,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,81}}</string>
                <key>sourceSize</key>
                <string>{58,83}</string>
            </dict>
            <key>L06_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{116,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,81}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>L06_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>L06_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,124},{46,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,34}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>L06_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{49,54}</string>
            </dict>
            <key>L06_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,172},{93,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,67}}</string>
                <key>sourceSize</key>
                <string>{93,69}</string>
            </dict>
            <key>L06_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,172},{103,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,66}}</string>
                <key>sourceSize</key>
                <string>{103,66}</string>
            </dict>
            <key>L06_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,298},{68,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,93}}</string>
                <key>sourceSize</key>
                <string>{68,93}</string>
            </dict>
            <key>L06_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,420},{71,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,49}}</string>
                <key>sourceSize</key>
                <string>{71,49}</string>
            </dict>
            <key>L06_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,171},{62,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,37}}</string>
                <key>sourceSize</key>
                <string>{62,37}</string>
            </dict>
            <key>L06_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,96},{73,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,56}}</string>
                <key>sourceSize</key>
                <string>{73,60}</string>
            </dict>
            <key>L06_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,105},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>L06_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,408},{54,48}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{54,48}}</string>
                <key>sourceSize</key>
                <string>{66,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L06_word.pvr.ccz</string>
            <key>size</key>
            <string>{338,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac2581fdb9a609258a9bb86bbbd3e1fd$</string>
            <key>textureFileName</key>
            <string>L06_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
