<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui05_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{850,598}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{850,598}}</string>
                <key>sourceSize</key>
                <string>{858,610}</string>
            </dict>
            <key>ui07_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1017},{415,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,7}}</string>
                <key>sourceSize</key>
                <string>{415,7}</string>
            </dict>
            <key>ui07_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,0},{467,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{467,42}}</string>
                <key>sourceSize</key>
                <string>{481,74}</string>
            </dict>
            <key>ui07_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,836},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{59,59}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>ui07_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,836},{53,55}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{53,55}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>ui07_close_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,911},{65,67}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>ui07_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,600},{283,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{283,61}}</string>
                <key>sourceSize</key>
                <string>{323,93}</string>
            </dict>
            <key>ui07_delete_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,836},{295,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{295,73}}</string>
                <key>sourceSize</key>
                <string>{323,93}</string>
            </dict>
            <key>ui07_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{415,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,7}}</string>
                <key>sourceSize</key>
                <string>{415,7}</string>
            </dict>
            <key>ui07_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,911},{59,63}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{59,63}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>ui07_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,600},{306,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,45},{306,60}}</string>
                <key>sourceSize</key>
                <string>{768,154}</string>
            </dict>
            <key>ui07_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,911},{73,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{73,70}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>ui07_tell_a_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,911},{283,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{283,61}}</string>
                <key>sourceSize</key>
                <string>{323,93}</string>
            </dict>
            <key>ui07_tell_a_friend_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,539},{295,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{295,73}}</string>
                <key>sourceSize</key>
                <string>{323,93}</string>
            </dict>
            <key>ui08_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,127},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{115,115}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ui08_btn_buy_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,0},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ui08_btn_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,469},{293,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{293,74}}</string>
                <key>sourceSize</key>
                <string>{293,80}</string>
            </dict>
            <key>ui08_btn_restore_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,244},{293,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{293,74}}</string>
                <key>sourceSize</key>
                <string>{293,80}</string>
            </dict>
            <key>ui08_deluxe.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,764},{246,60}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,46},{246,60}}</string>
                <key>sourceSize</key>
                <string>{768,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pop-window.pvr.ccz</string>
            <key>size</key>
            <string>{1021,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58290cd2752af7f0cdc439a6fdb1d6e3$</string>
            <key>textureFileName</key>
            <string>pop-window.pvr.ccz</string>
        </dict>
    </dict>
</plist>
