<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L04_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{68,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,129}}</string>
                <key>sourceSize</key>
                <string>{68,129}</string>
            </dict>
            <key>L04_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{111,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{111,70}}</string>
                <key>sourceSize</key>
                <string>{151,98}</string>
            </dict>
            <key>L04_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,119},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{106,54}</string>
            </dict>
            <key>L04_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,63},{91,72}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{91,72}}</string>
                <key>sourceSize</key>
                <string>{95,82}</string>
            </dict>
            <key>L04_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,328},{87,90}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{87,90}}</string>
                <key>sourceSize</key>
                <string>{97,104}</string>
            </dict>
            <key>L04_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,380},{122,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,131}}</string>
                <key>sourceSize</key>
                <string>{122,131}</string>
            </dict>
            <key>L04_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,148},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>L04_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,137},{66,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{66,78}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>L04_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,452},{54,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{54,64}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>L04_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{70,96}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{70,96}}</string>
                <key>sourceSize</key>
                <string>{74,100}</string>
            </dict>
            <key>L04_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,227}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{71,227}}</string>
                <key>sourceSize</key>
                <string>{87,227}</string>
            </dict>
            <key>L04_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,231},{64,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,120}}</string>
                <key>sourceSize</key>
                <string>{64,120}</string>
            </dict>
            <key>L04_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,214},{61,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{61,83}}</string>
                <key>sourceSize</key>
                <string>{91,105}</string>
            </dict>
            <key>L04_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,148},{81,75}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{87,77}</string>
            </dict>
            <key>L04_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,268},{71,50}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{71,50}}</string>
                <key>sourceSize</key>
                <string>{85,68}</string>
            </dict>
            <key>L04_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{91,144}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{91,144}}</string>
                <key>sourceSize</key>
                <string>{91,148}</string>
            </dict>
            <key>L04_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{83,115}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{83,115}}</string>
                <key>sourceSize</key>
                <string>{93,123}</string>
            </dict>
            <key>L04_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,452},{54,34}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{54,34}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>L04_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,353},{9,95}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{9,95}}</string>
                <key>sourceSize</key>
                <string>{63,101}</string>
            </dict>
            <key>L04_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,227},{62,99}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{62,99}}</string>
                <key>sourceSize</key>
                <string>{62,113}</string>
            </dict>
            <key>L04_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,137},{72,52}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,52}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>L04_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,230},{91,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,115}}</string>
                <key>sourceSize</key>
                <string>{91,115}</string>
            </dict>
            <key>L04_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,115},{72,97}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{72,97}}</string>
                <key>sourceSize</key>
                <string>{78,105}</string>
            </dict>
            <key>L04_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{95,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{97,59}</string>
            </dict>
            <key>L04_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,347},{71,103}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{71,103}}</string>
                <key>sourceSize</key>
                <string>{75,115}</string>
            </dict>
            <key>L04_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,299},{45,51}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{45,51}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>L04_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{89,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,147}}</string>
                <key>sourceSize</key>
                <string>{89,147}</string>
            </dict>
            <key>L04_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,352},{65,63}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{65,63}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>L04_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,214},{40,87}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{40,87}}</string>
                <key>sourceSize</key>
                <string>{68,93}</string>
            </dict>
            <key>L04_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,420},{65,90}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{65,90}}</string>
                <key>sourceSize</key>
                <string>{97,100}</string>
            </dict>
            <key>L04_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,205},{71,61}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{71,61}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L04_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d2a6ced03e0da8c99edb954a0322c95$</string>
            <key>textureFileName</key>
            <string>L04_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
