<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L04_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,747},{85,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{85,97}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>L04_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,462},{112,74}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{112,74}}</string>
                <key>sourceSize</key>
                <string>{116,86}</string>
            </dict>
            <key>L04_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,538},{37,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{37,111}}</string>
                <key>sourceSize</key>
                <string>{41,137}</string>
            </dict>
            <key>L04_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,375},{117,85}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{117,85}}</string>
                <key>sourceSize</key>
                <string>{125,87}</string>
            </dict>
            <key>L04_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,636},{56,108}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{56,108}}</string>
                <key>sourceSize</key>
                <string>{66,120}</string>
            </dict>
            <key>L04_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,319},{117,117}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{117,117}}</string>
                <key>sourceSize</key>
                <string>{125,137}</string>
            </dict>
            <key>L04_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,694},{83,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{83,106}}</string>
                <key>sourceSize</key>
                <string>{121,114}</string>
            </dict>
            <key>L04_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,924},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>L04_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,86},{46,66}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{46,66}}</string>
                <key>sourceSize</key>
                <string>{56,86}</string>
            </dict>
            <key>L04_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,164},{103,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{103,155}}</string>
                <key>sourceSize</key>
                <string>{125,171}</string>
            </dict>
            <key>L04_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,190},{50,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,37}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>L04_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,987},{79,59}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{79,59}}</string>
                <key>sourceSize</key>
                <string>{83,69}</string>
            </dict>
            <key>L04_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{57,57}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>L04_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,996},{72,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>L04_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{82,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{82,209}}</string>
                <key>sourceSize</key>
                <string>{82,211}</string>
            </dict>
            <key>L04_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,649},{96,106}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{96,106}}</string>
                <key>sourceSize</key>
                <string>{142,128}</string>
            </dict>
            <key>L04_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,154},{90,45}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{90,45}}</string>
                <key>sourceSize</key>
                <string>{134,51}</string>
            </dict>
            <key>L04_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,86},{159,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{159,76}}</string>
                <key>sourceSize</key>
                <string>{175,88}</string>
            </dict>
            <key>L04_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,918},{92,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{92,67}}</string>
                <key>sourceSize</key>
                <string>{130,99}</string>
            </dict>
            <key>L04_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,924},{88,60}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{88,60}}</string>
                <key>sourceSize</key>
                <string>{114,64}</string>
            </dict>
            <key>L04_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,779},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,16},{60,52}}</string>
                <key>sourceSize</key>
                <string>{128,84}</string>
            </dict>
            <key>L04_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,269},{104,126}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{104,126}}</string>
                <key>sourceSize</key>
                <string>{104,136}</string>
            </dict>
            <key>L04_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,246},{71,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{71,92}}</string>
                <key>sourceSize</key>
                <string>{85,92}</string>
            </dict>
            <key>L04_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{39,186}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,186}}</string>
                <key>sourceSize</key>
                <string>{41,188}</string>
            </dict>
            <key>L04_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,986},{82,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{82,72}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>L04_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,853},{92,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,69}}</string>
                <key>sourceSize</key>
                <string>{92,69}</string>
            </dict>
            <key>L04_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,779},{72,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,97}}</string>
                <key>sourceSize</key>
                <string>{76,97}</string>
            </dict>
            <key>L04_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,547},{108,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,87}}</string>
                <key>sourceSize</key>
                <string>{108,89}</string>
            </dict>
            <key>L04_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,841},{81,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,49}}</string>
                <key>sourceSize</key>
                <string>{95,49}</string>
            </dict>
            <key>L04_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,577},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>L04_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,834},{82,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,96}}</string>
                <key>sourceSize</key>
                <string>{82,98}</string>
            </dict>
            <key>L04_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,438},{107,114}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{107,114}}</string>
                <key>sourceSize</key>
                <string>{107,130}</string>
            </dict>
            <key>L04_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L04_word.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1087}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdae574b09efbe68fc9e532bf4ac2a34$</string>
            <key>textureFileName</key>
            <string>L04_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
