<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L20_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,395},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>L20_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,323},{90,60}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,60}}</string>
                <key>sourceSize</key>
                <string>{96,74}</string>
            </dict>
            <key>L20_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,319},{74,91}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{74,91}}</string>
                <key>sourceSize</key>
                <string>{90,103}</string>
            </dict>
            <key>L20_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,394},{77,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{77,88}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>L20_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,473},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>L20_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{102,83}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{102,83}}</string>
                <key>sourceSize</key>
                <string>{146,93}</string>
            </dict>
            <key>L20_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{60,80}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{60,80}}</string>
                <key>sourceSize</key>
                <string>{68,100}</string>
            </dict>
            <key>L20_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,92},{67,143}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,143}}</string>
                <key>sourceSize</key>
                <string>{67,147}</string>
            </dict>
            <key>L20_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,476},{44,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{44,62}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>L20_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,197},{31,103}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{31,103}}</string>
                <key>sourceSize</key>
                <string>{83,111}</string>
            </dict>
            <key>L20_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,315},{97,77}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{97,77}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>L20_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,468},{71,68}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{71,68}}</string>
                <key>sourceSize</key>
                <string>{79,98}</string>
            </dict>
            <key>L20_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{139,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,120}}</string>
                <key>sourceSize</key>
                <string>{139,120}</string>
            </dict>
            <key>L20_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,144},{51,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,117}}</string>
                <key>sourceSize</key>
                <string>{51,117}</string>
            </dict>
            <key>L20_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,427},{71,67}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{71,67}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>L20_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,237},{76,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,102}}</string>
                <key>sourceSize</key>
                <string>{82,104}</string>
            </dict>
            <key>L20_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{68,68}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>L20_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,382},{84,46}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{84,46}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>L20_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{69,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,134}}</string>
                <key>sourceSize</key>
                <string>{69,134}</string>
            </dict>
            <key>L20_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,94},{119,48}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{119,48}}</string>
                <key>sourceSize</key>
                <string>{135,98}</string>
            </dict>
            <key>L20_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,205},{112,109}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{112,109}}</string>
                <key>sourceSize</key>
                <string>{114,113}</string>
            </dict>
            <key>L20_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,230},{91,121}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,121}}</string>
                <key>sourceSize</key>
                <string>{107,121}</string>
            </dict>
            <key>L20_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{88,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,219}}</string>
                <key>sourceSize</key>
                <string>{88,219}</string>
            </dict>
            <key>L20_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,161},{29,139}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{29,139}}</string>
                <key>sourceSize</key>
                <string>{41,143}</string>
            </dict>
            <key>L20_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,92},{111,97}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{111,97}}</string>
                <key>sourceSize</key>
                <string>{121,105}</string>
            </dict>
            <key>L20_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{58,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,71}}</string>
                <key>sourceSize</key>
                <string>{58,71}</string>
            </dict>
            <key>L20_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,323},{89,61}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{89,61}}</string>
                <key>sourceSize</key>
                <string>{95,61}</string>
            </dict>
            <key>L20_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,385},{76,40}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{76,40}}</string>
                <key>sourceSize</key>
                <string>{98,46}</string>
            </dict>
            <key>L20_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,414},{75,60}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{75,60}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>L20_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,319},{61,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{61,54}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>L20_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,260}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,260}}</string>
                <key>sourceSize</key>
                <string>{100,260}</string>
            </dict>
            <key>L20_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,192},{43,136}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{43,136}}</string>
                <key>sourceSize</key>
                <string>{53,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L20_word.pvr.ccz</string>
            <key>size</key>
            <string>{511,564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e9e27d5dd8083a5b7a29aac3acafb4d$</string>
            <key>textureFileName</key>
            <string>L20_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
