<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L02_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,167},{74,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>L02_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,163}}</string>
                <key>sourceSize</key>
                <string>{63,163}</string>
            </dict>
            <key>L02_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,261},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>L02_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,466},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>L02_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,167},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>L02_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,104},{61,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,97}}</string>
                <key>sourceSize</key>
                <string>{61,97}</string>
            </dict>
            <key>L02_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>L02_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,344},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>L02_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,137},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>L02_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,281},{48,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,82}}</string>
                <key>sourceSize</key>
                <string>{48,82}</string>
            </dict>
            <key>L02_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,272},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,72}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>L02_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,203},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>L02_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{84,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>L02_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{42,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,100}}</string>
                <key>sourceSize</key>
                <string>{44,100}</string>
            </dict>
            <key>L02_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,346},{72,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,45}}</string>
                <key>sourceSize</key>
                <string>{72,45}</string>
            </dict>
            <key>L02_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{40,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>L02_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{112,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,85}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>L02_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,446},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>L02_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,70},{53,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,62}}</string>
                <key>sourceSize</key>
                <string>{53,62}</string>
            </dict>
            <key>L02_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{34,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,90}}</string>
                <key>sourceSize</key>
                <string>{44,90}</string>
            </dict>
            <key>L02_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{82,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>L02_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,420},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
            <key>L02_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,272},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>L02_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,104},{37,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,61}}</string>
                <key>sourceSize</key>
                <string>{37,61}</string>
            </dict>
            <key>L02_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,70},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>L02_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,414},{68,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>L02_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>L02_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,246},{68,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{68,24}}</string>
                <key>sourceSize</key>
                <string>{68,44}</string>
            </dict>
            <key>L02_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,375},{54,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,89}}</string>
                <key>sourceSize</key>
                <string>{54,89}</string>
            </dict>
            <key>L02_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>L02_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,365},{59,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,79}}</string>
                <key>sourceSize</key>
                <string>{59,79}</string>
            </dict>
            <key>L02_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,246},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{36,32}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L02_word.pvr.ccz</string>
            <key>size</key>
            <string>{339,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d778f31f91be802ba43f05f71c8e8641$</string>
            <key>textureFileName</key>
            <string>L02_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
