<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L15_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,361},{84,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,54}}</string>
                <key>sourceSize</key>
                <string>{84,54}</string>
            </dict>
            <key>L15_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,102},{93,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,140}}</string>
                <key>sourceSize</key>
                <string>{93,140}</string>
            </dict>
            <key>L15_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,257},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>L15_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,414},{74,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>L15_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,476},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>L15_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,228},{69,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,102}}</string>
                <key>sourceSize</key>
                <string>{69,102}</string>
            </dict>
            <key>L15_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,393},{81,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,58}}</string>
                <key>sourceSize</key>
                <string>{81,58}</string>
            </dict>
            <key>L15_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{116,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,69}}</string>
                <key>sourceSize</key>
                <string>{116,69}</string>
            </dict>
            <key>L15_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{116,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,98}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>L15_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>L15_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,95},{152,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,89}}</string>
                <key>sourceSize</key>
                <string>{152,89}</string>
            </dict>
            <key>L15_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,345},{80,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,95}}</string>
                <key>sourceSize</key>
                <string>{80,95}</string>
            </dict>
            <key>L15_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,427},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>L15_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,283},{97,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,76}}</string>
                <key>sourceSize</key>
                <string>{97,76}</string>
            </dict>
            <key>L15_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,197},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>L15_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,299},{44,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,96}}</string>
                <key>sourceSize</key>
                <string>{44,96}</string>
            </dict>
            <key>L15_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,186},{40,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,127}}</string>
                <key>sourceSize</key>
                <string>{44,127}</string>
            </dict>
            <key>L15_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,312},{75,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,84}}</string>
                <key>sourceSize</key>
                <string>{75,84}</string>
            </dict>
            <key>L15_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,197},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>L15_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,389},{71,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,90}}</string>
                <key>sourceSize</key>
                <string>{71,90}</string>
            </dict>
            <key>L15_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,125},{98,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,52}}</string>
                <key>sourceSize</key>
                <string>{98,52}</string>
            </dict>
            <key>L15_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{50,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,86}}</string>
                <key>sourceSize</key>
                <string>{50,86}</string>
            </dict>
            <key>L15_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{65,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,126}}</string>
                <key>sourceSize</key>
                <string>{65,126}</string>
            </dict>
            <key>L15_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,204}}</string>
                <key>sourceSize</key>
                <string>{121,204}</string>
            </dict>
            <key>L15_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,225},{85,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,51}}</string>
                <key>sourceSize</key>
                <string>{85,51}</string>
            </dict>
            <key>L15_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,314},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
            <key>L15_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,283},{60,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>L15_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{91,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,175}}</string>
                <key>sourceSize</key>
                <string>{91,175}</string>
            </dict>
            <key>L15_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,361},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>L15_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,417},{51,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,84}}</string>
                <key>sourceSize</key>
                <string>{51,84}</string>
            </dict>
            <key>L15_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,462},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>L15_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{101,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,150}}</string>
                <key>sourceSize</key>
                <string>{101,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L15_word.pvr.ccz</string>
            <key>size</key>
            <string>{511,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa3391142460b31cf61546ad2b10811c$</string>
            <key>textureFileName</key>
            <string>L15_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
