<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L01_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,312},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>L01_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,415},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>L01_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,401},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>L01_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,406},{65,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,38}}</string>
                <key>sourceSize</key>
                <string>{65,44}</string>
            </dict>
            <key>L01_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,398},{69,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>L01_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,317},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>L01_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,161},{49,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,64}}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>L01_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{34,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,71}}</string>
                <key>sourceSize</key>
                <string>{44,71}</string>
            </dict>
            <key>L01_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,227},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>L01_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{105,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,40}}</string>
                <key>sourceSize</key>
                <string>{105,44}</string>
            </dict>
            <key>L01_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,121},{20,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{20,97}}</string>
                <key>sourceSize</key>
                <string>{44,97}</string>
            </dict>
            <key>L01_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,254},{56,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,106}}</string>
                <key>sourceSize</key>
                <string>{56,106}</string>
            </dict>
            <key>L01_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,235},{80,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,119}}</string>
                <key>sourceSize</key>
                <string>{80,119}</string>
            </dict>
            <key>L01_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,146},{111,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,87}}</string>
                <key>sourceSize</key>
                <string>{111,87}</string>
            </dict>
            <key>L01_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,406},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>L01_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,361},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>L01_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>L01_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,335},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>L01_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,463},{71,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,40}}</string>
                <key>sourceSize</key>
                <string>{71,44}</string>
            </dict>
            <key>L01_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,446},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>L01_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,339},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>L01_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,317},{42,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>L01_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,196}}</string>
                <key>sourceSize</key>
                <string>{157,196}</string>
            </dict>
            <key>L01_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,293},{40,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,81}}</string>
                <key>sourceSize</key>
                <string>{44,81}</string>
            </dict>
            <key>L01_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,121},{169,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,131}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>L01_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{117,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,194}}</string>
                <key>sourceSize</key>
                <string>{117,194}</string>
            </dict>
            <key>L01_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{114,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,142}}</string>
                <key>sourceSize</key>
                <string>{114,142}</string>
            </dict>
            <key>L01_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,254},{83,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,61}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>L01_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>L01_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{70,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,93}}</string>
                <key>sourceSize</key>
                <string>{70,93}</string>
            </dict>
            <key>L01_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,397},{47,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,84}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>L01_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{143,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,103}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L01_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,559}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32e20f55d7e282fe856285b90c4e7d23$</string>
            <key>textureFileName</key>
            <string>L01_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
