<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L12_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,275},{75,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{75,44}}</string>
                <key>sourceSize</key>
                <string>{89,68}</string>
            </dict>
            <key>L12_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,352},{53,73}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{53,73}}</string>
                <key>sourceSize</key>
                <string>{83,91}</string>
            </dict>
            <key>L12_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,365},{64,84}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{64,84}}</string>
                <key>sourceSize</key>
                <string>{72,90}</string>
            </dict>
            <key>L12_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,275},{51,69}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{51,69}}</string>
                <key>sourceSize</key>
                <string>{77,87}</string>
            </dict>
            <key>L12_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,346},{65,47}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{65,47}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>L12_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{53,79}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{53,79}}</string>
                <key>sourceSize</key>
                <string>{73,85}</string>
            </dict>
            <key>L12_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>L12_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,413},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,46}}</string>
                <key>sourceSize</key>
                <string>{66,52}</string>
            </dict>
            <key>L12_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{82,61}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{82,61}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>L12_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,89},{63,40}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{63,40}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>L12_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,277},{86,43}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,43}}</string>
                <key>sourceSize</key>
                <string>{98,63}</string>
            </dict>
            <key>L12_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,132},{83,38}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{83,38}}</string>
                <key>sourceSize</key>
                <string>{95,66}</string>
            </dict>
            <key>L12_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,220},{83,53}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{83,53}}</string>
                <key>sourceSize</key>
                <string>{89,63}</string>
            </dict>
            <key>L12_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{63,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{63,122}}</string>
                <key>sourceSize</key>
                <string>{69,126}</string>
            </dict>
            <key>L12_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,439},{70,70}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{70,70}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>L12_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,86},{48,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,39}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>L12_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{129,66}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{129,66}}</string>
                <key>sourceSize</key>
                <string>{141,66}</string>
            </dict>
            <key>L12_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,276},{83,75}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{83,75}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>L12_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,451},{72,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,58}}</string>
                <key>sourceSize</key>
                <string>{72,58}</string>
            </dict>
            <key>L12_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{85,51}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{85,51}}</string>
                <key>sourceSize</key>
                <string>{95,55}</string>
            </dict>
            <key>L12_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,127},{61,35}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,35}}</string>
                <key>sourceSize</key>
                <string>{71,51}</string>
            </dict>
            <key>L12_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,89},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{41,41}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>L12_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{99,135}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{99,135}}</string>
                <key>sourceSize</key>
                <string>{111,135}</string>
            </dict>
            <key>L12_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,220},{50,54}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{50,54}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>L12_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,136}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{83,136}}</string>
                <key>sourceSize</key>
                <string>{99,144}</string>
            </dict>
            <key>L12_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,361},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{71,76}}</string>
                <key>sourceSize</key>
                <string>{83,88}</string>
            </dict>
            <key>L12_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,214},{57,36}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{57,36}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>L12_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,131},{69,81}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{69,81}}</string>
                <key>sourceSize</key>
                <string>{81,85}</string>
            </dict>
            <key>L12_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,133},{62,85}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,85}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>L12_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,427},{51,65}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{51,65}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L12_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:640ac7cc13ab382ff72c5568ca27fb5e$</string>
            <key>textureFileName</key>
            <string>L12_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
