<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L10_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,187},{67,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,83}}</string>
                <key>sourceSize</key>
                <string>{67,85}</string>
            </dict>
            <key>L10_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{59,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,64}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>L10_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,105},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>L10_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,350},{42,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,68}}</string>
                <key>sourceSize</key>
                <string>{42,68}</string>
            </dict>
            <key>L10_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,124},{61,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,80}}</string>
                <key>sourceSize</key>
                <string>{61,80}</string>
            </dict>
            <key>L10_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>L10_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,398},{62,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{62,92}</string>
            </dict>
            <key>L10_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,307},{86,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,74}}</string>
                <key>sourceSize</key>
                <string>{86,74}</string>
            </dict>
            <key>L10_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{34,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,77}}</string>
                <key>sourceSize</key>
                <string>{34,77}</string>
            </dict>
            <key>L10_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,239},{45,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,75}}</string>
                <key>sourceSize</key>
                <string>{45,75}</string>
            </dict>
            <key>L10_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{94,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,185}}</string>
                <key>sourceSize</key>
                <string>{94,185}</string>
            </dict>
            <key>L10_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,58},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>L10_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{103,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,59}}</string>
                <key>sourceSize</key>
                <string>{103,59}</string>
            </dict>
            <key>L10_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,162},{58,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,75}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>L10_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,187},{89,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,22}}</string>
                <key>sourceSize</key>
                <string>{89,22}</string>
            </dict>
            <key>L10_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>L10_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,103},{55,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>L10_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{49,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,120}}</string>
                <key>sourceSize</key>
                <string>{49,120}</string>
            </dict>
            <key>L10_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{64,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,79}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>L10_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,208}}</string>
                <key>sourceSize</key>
                <string>{47,208}</string>
            </dict>
            <key>L10_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,83},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>L10_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{183,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{183,73}}</string>
                <key>sourceSize</key>
                <string>{183,75}</string>
            </dict>
            <key>L10_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,81},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>L10_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,107},{46,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,78}}</string>
                <key>sourceSize</key>
                <string>{46,80}</string>
            </dict>
            <key>L10_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,162},{74,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,40}}</string>
                <key>sourceSize</key>
                <string>{74,40}</string>
            </dict>
            <key>L10_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,395},{86,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,67}}</string>
                <key>sourceSize</key>
                <string>{88,67}</string>
            </dict>
            <key>L10_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,307},{76,89}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,89}}</string>
                <key>sourceSize</key>
                <string>{76,97}</string>
            </dict>
            <key>L10_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,56},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>L10_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{105,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,117}}</string>
                <key>sourceSize</key>
                <string>{105,117}</string>
            </dict>
            <key>L10_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,483},{25,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,57}}</string>
                <key>sourceSize</key>
                <string>{25,57}</string>
            </dict>
            <key>L10_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,211},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>L10_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,272},{76,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L10_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c33a91de6ea6b410f8ac48b75d7100a5$</string>
            <key>textureFileName</key>
            <string>L10_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
