<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L04_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,415},{84,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{84,92}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
            <key>L04_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,166},{37,94}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{37,94}}</string>
                <key>sourceSize</key>
                <string>{41,102}</string>
            </dict>
            <key>L04_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{100,58}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{100,58}}</string>
                <key>sourceSize</key>
                <string>{110,64}</string>
            </dict>
            <key>L04_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{178,162}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{178,162}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>L04_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,240},{37,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,72}</string>
            </dict>
            <key>L04_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{70,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{72,86}</string>
            </dict>
            <key>L04_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,315},{54,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{54,102}}</string>
                <key>sourceSize</key>
                <string>{54,120}</string>
            </dict>
            <key>L04_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,262},{43,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{43,51}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>L04_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,177},{64,54}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{64,54}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>L04_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,268},{92,107}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{92,107}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
            <key>L04_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,320},{31,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{31,51}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>L04_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,166},{139,44}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{139,44}}</string>
                <key>sourceSize</key>
                <string>{143,66}</string>
            </dict>
            <key>L04_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,355},{72,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{72,53}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>L04_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{78,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{78,32}}</string>
                <key>sourceSize</key>
                <string>{86,42}</string>
            </dict>
            <key>L04_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{139,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{139,101}}</string>
                <key>sourceSize</key>
                <string>{139,103}</string>
            </dict>
            <key>L04_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,100},{50,47}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{50,47}}</string>
                <key>sourceSize</key>
                <string>{62,57}</string>
            </dict>
            <key>L04_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{35,156}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{35,156}}</string>
                <key>sourceSize</key>
                <string>{67,156}</string>
            </dict>
            <key>L04_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,107},{113,76}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{113,76}}</string>
                <key>sourceSize</key>
                <string>{125,98}</string>
            </dict>
            <key>L04_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,434},{54,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{54,54}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>L04_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,419},{68,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{68,82}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>L04_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,419},{79,52}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{79,52}}</string>
                <key>sourceSize</key>
                <string>{81,66}</string>
            </dict>
            <key>L04_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,152},{66,23}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{66,23}}</string>
                <key>sourceSize</key>
                <string>{74,39}</string>
            </dict>
            <key>L04_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,355},{57,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{57,52}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>L04_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,96}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{207,96}}</string>
                <key>sourceSize</key>
                <string>{209,116}</string>
            </dict>
            <key>L04_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,362},{105,70}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{105,70}}</string>
                <key>sourceSize</key>
                <string>{111,90}</string>
            </dict>
            <key>L04_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,185},{111,81}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{111,81}}</string>
                <key>sourceSize</key>
                <string>{117,91}</string>
            </dict>
            <key>L04_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,285},{68,127}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{68,127}}</string>
                <key>sourceSize</key>
                <string>{72,131}</string>
            </dict>
            <key>L04_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{119,103}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{119,103}}</string>
                <key>sourceSize</key>
                <string>{119,107}</string>
            </dict>
            <key>L04_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{74,76}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{74,76}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>L04_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,320},{92,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,68}}</string>
                <key>sourceSize</key>
                <string>{100,68}</string>
            </dict>
            <key>L04_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,233},{85,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,60}}</string>
                <key>sourceSize</key>
                <string>{87,66}</string>
            </dict>
            <key>L04_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,212},{134,71}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{134,71}}</string>
                <key>sourceSize</key>
                <string>{158,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L04_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00a0a08a89975c6fe666fb19f688f181$</string>
            <key>textureFileName</key>
            <string>L04_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
