<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L08_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{89,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,108}}</string>
                <key>sourceSize</key>
                <string>{89,108}</string>
            </dict>
            <key>L08_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{71,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,57}}</string>
                <key>sourceSize</key>
                <string>{71,57}</string>
            </dict>
            <key>L08_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,108},{76,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,62}}</string>
                <key>sourceSize</key>
                <string>{76,62}</string>
            </dict>
            <key>L08_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>L08_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>L08_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,199},{100,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,42}}</string>
                <key>sourceSize</key>
                <string>{100,44}</string>
            </dict>
            <key>L08_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>L08_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,359},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>L08_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,116},{107,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,55}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>L08_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,373},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>L08_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,56},{109,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,58}}</string>
                <key>sourceSize</key>
                <string>{109,58}</string>
            </dict>
            <key>L08_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,240},{95,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,91}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>L08_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,328},{38,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>L08_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,38},{68,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,44}}</string>
                <key>sourceSize</key>
                <string>{68,44}</string>
            </dict>
            <key>L08_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,243},{70,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,81}}</string>
                <key>sourceSize</key>
                <string>{70,81}</string>
            </dict>
            <key>L08_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,436},{60,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,53}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>L08_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{127,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,40}}</string>
                <key>sourceSize</key>
                <string>{127,44}</string>
            </dict>
            <key>L08_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{127,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,52}}</string>
                <key>sourceSize</key>
                <string>{127,52}</string>
            </dict>
            <key>L08_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{100,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,82}</string>
            </dict>
            <key>L08_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,286},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>L08_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,177},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,83}</string>
            </dict>
            <key>L08_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,173},{65,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,104}}</string>
                <key>sourceSize</key>
                <string>{65,104}</string>
            </dict>
            <key>L08_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,436},{70,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,56}}</string>
                <key>sourceSize</key>
                <string>{70,56}</string>
            </dict>
            <key>L08_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,115},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,60}}</string>
                <key>sourceSize</key>
                <string>{86,60}</string>
            </dict>
            <key>L08_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,137},{105,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,60}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>L08_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,315},{56,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,77}}</string>
                <key>sourceSize</key>
                <string>{56,77}</string>
            </dict>
            <key>L08_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,262},{72,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,91}}</string>
                <key>sourceSize</key>
                <string>{72,91}</string>
            </dict>
            <key>L08_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,111}}</string>
                <key>sourceSize</key>
                <string>{199,111}</string>
            </dict>
            <key>L08_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,44},{91,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,113}}</string>
                <key>sourceSize</key>
                <string>{91,113}</string>
            </dict>
            <key>L08_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,368},{66,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,61}}</string>
                <key>sourceSize</key>
                <string>{66,61}</string>
            </dict>
            <key>L08_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,186},{92,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,98}}</string>
                <key>sourceSize</key>
                <string>{92,98}</string>
            </dict>
            <key>L08_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,286},{71,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L08_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5953c54ad335e4bf45527a459edea7e$</string>
            <key>textureFileName</key>
            <string>L08_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
