<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L05_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,325},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>L05_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,59},{107,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{107,28}}</string>
                <key>sourceSize</key>
                <string>{107,44}</string>
            </dict>
            <key>L05_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,135}}</string>
                <key>sourceSize</key>
                <string>{177,135}</string>
            </dict>
            <key>L05_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{76,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{76,44}</string>
            </dict>
            <key>L05_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,101},{99,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,47}}</string>
                <key>sourceSize</key>
                <string>{99,47}</string>
            </dict>
            <key>L05_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,139},{79,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,68}}</string>
                <key>sourceSize</key>
                <string>{79,68}</string>
            </dict>
            <key>L05_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,150},{44,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,98}}</string>
                <key>sourceSize</key>
                <string>{44,98}</string>
            </dict>
            <key>L05_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{44,61}</string>
            </dict>
            <key>L05_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,196},{89,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,59}}</string>
                <key>sourceSize</key>
                <string>{89,59}</string>
            </dict>
            <key>L05_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{89,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,96}}</string>
                <key>sourceSize</key>
                <string>{89,96}</string>
            </dict>
            <key>L05_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{97,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,122}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>L05_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,344},{76,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{76,36}}</string>
                <key>sourceSize</key>
                <string>{76,44}</string>
            </dict>
            <key>L05_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{59,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{59,38}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>L05_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,85},{76,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,113}}</string>
                <key>sourceSize</key>
                <string>{76,113}</string>
            </dict>
            <key>L05_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,339},{62,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,40}}</string>
                <key>sourceSize</key>
                <string>{62,44}</string>
            </dict>
            <key>L05_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,294},{38,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,81}}</string>
                <key>sourceSize</key>
                <string>{44,81}</string>
            </dict>
            <key>L05_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,381},{61,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>L05_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,207},{62,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,95}}</string>
                <key>sourceSize</key>
                <string>{62,95}</string>
            </dict>
            <key>L05_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,168},{36,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>L05_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>L05_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,257},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>L05_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,252},{62,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,85}}</string>
                <key>sourceSize</key>
                <string>{62,85}</string>
            </dict>
            <key>L05_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,271},{80,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>L05_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,172},{72,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,90}}</string>
                <key>sourceSize</key>
                <string>{72,90}</string>
            </dict>
            <key>L05_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,85},{85,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,56}}</string>
                <key>sourceSize</key>
                <string>{85,56}</string>
            </dict>
            <key>L05_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,163},{42,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,96}}</string>
                <key>sourceSize</key>
                <string>{44,96}</string>
            </dict>
            <key>L05_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,264},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>L05_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,382},{46,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,61}}</string>
                <key>sourceSize</key>
                <string>{46,61}</string>
            </dict>
            <key>L05_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,209},{83,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,78}}</string>
                <key>sourceSize</key>
                <string>{83,78}</string>
            </dict>
            <key>L05_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{91,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,67}}</string>
                <key>sourceSize</key>
                <string>{91,67}</string>
            </dict>
            <key>L05_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,206},{66,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,44}}</string>
                <key>sourceSize</key>
                <string>{66,44}</string>
            </dict>
            <key>L05_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{81,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,173}}</string>
                <key>sourceSize</key>
                <string>{81,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L05_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee25d03d9e4bcebe626d46cfaab3c275$</string>
            <key>textureFileName</key>
            <string>L05_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
