<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L11_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,210},{93,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,66}</string>
            </dict>
            <key>L11_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,377},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>L11_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{196,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,95}}</string>
                <key>sourceSize</key>
                <string>{196,95}</string>
            </dict>
            <key>L11_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,253},{122,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{122,40}}</string>
                <key>sourceSize</key>
                <string>{122,44}</string>
            </dict>
            <key>L11_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,396},{84,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,104}}</string>
                <key>sourceSize</key>
                <string>{84,104}</string>
            </dict>
            <key>L11_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,394},{47,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,83}}</string>
                <key>sourceSize</key>
                <string>{47,83}</string>
            </dict>
            <key>L11_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{40,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,220}}</string>
                <key>sourceSize</key>
                <string>{44,220}</string>
            </dict>
            <key>L11_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{50,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,135}}</string>
                <key>sourceSize</key>
                <string>{50,135}</string>
            </dict>
            <key>L11_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,305},{104,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,89}}</string>
                <key>sourceSize</key>
                <string>{104,89}</string>
            </dict>
            <key>L11_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,305}}</string>
                <key>sourceSize</key>
                <string>{79,305}</string>
            </dict>
            <key>L11_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,482},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{68,50}</string>
            </dict>
            <key>L11_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,99},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,62}}</string>
                <key>sourceSize</key>
                <string>{82,62}</string>
            </dict>
            <key>L11_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,99},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,62}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>L11_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,449},{59,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,75}}</string>
                <key>sourceSize</key>
                <string>{59,75}</string>
            </dict>
            <key>L11_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,443},{74,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,52}}</string>
                <key>sourceSize</key>
                <string>{74,52}</string>
            </dict>
            <key>L11_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{52,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,108}}</string>
                <key>sourceSize</key>
                <string>{52,108}</string>
            </dict>
            <key>L11_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,460},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>L11_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{18,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{18,151}}</string>
                <key>sourceSize</key>
                <string>{44,151}</string>
            </dict>
            <key>L11_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,371},{90,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,36}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>L11_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,482},{59,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,65}}</string>
                <key>sourceSize</key>
                <string>{59,65}</string>
            </dict>
            <key>L11_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,371},{76,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,38}}</string>
                <key>sourceSize</key>
                <string>{76,44}</string>
            </dict>
            <key>L11_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,323},{111,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,69}}</string>
                <key>sourceSize</key>
                <string>{111,69}</string>
            </dict>
            <key>L11_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{45,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,112}}</string>
                <key>sourceSize</key>
                <string>{45,112}</string>
            </dict>
            <key>L11_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,168},{42,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,83}}</string>
                <key>sourceSize</key>
                <string>{44,83}</string>
            </dict>
            <key>L11_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,164},{240,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,157}}</string>
                <key>sourceSize</key>
                <string>{240,157}</string>
            </dict>
            <key>L11_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,83},{38,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,79}}</string>
                <key>sourceSize</key>
                <string>{44,79}</string>
            </dict>
            <key>L11_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,510},{72,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>L11_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{83,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,265}}</string>
                <key>sourceSize</key>
                <string>{83,265}</string>
            </dict>
            <key>L11_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,409},{79,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{79,49}</string>
            </dict>
            <key>L11_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,323},{46,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,102}}</string>
                <key>sourceSize</key>
                <string>{46,102}</string>
            </dict>
            <key>L11_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{102,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,111}}</string>
                <key>sourceSize</key>
                <string>{102,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L11_word.pvr.ccz</string>
            <key>size</key>
            <string>{511,560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58dddb17d89b312044efe06a381ea971$</string>
            <key>textureFileName</key>
            <string>L11_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
