<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L15_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,185},{86,71}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{86,71}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>L15_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{280,53}}</string>
                <key>sourceSize</key>
                <string>{286,55}</string>
            </dict>
            <key>L15_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,201},{79,62}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{79,62}}</string>
                <key>sourceSize</key>
                <string>{107,84}</string>
            </dict>
            <key>L15_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,258},{71,78}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{71,78}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>L15_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,258},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>L15_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,211},{86,92}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{86,92}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>L15_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{77,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,72}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
            <key>L15_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,125},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>L15_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,331},{55,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>L15_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,86},{58,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>L15_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,30},{44,146}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,146}}</string>
                <key>sourceSize</key>
                <string>{46,148}</string>
            </dict>
            <key>L15_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{110,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,42}}</string>
                <key>sourceSize</key>
                <string>{110,42}</string>
            </dict>
            <key>L15_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,393},{77,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,50}}</string>
                <key>sourceSize</key>
                <string>{77,50}</string>
            </dict>
            <key>L15_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,211},{32,75}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{32,75}}</string>
                <key>sourceSize</key>
                <string>{42,81}</string>
            </dict>
            <key>L15_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{26,199}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{26,199}}</string>
                <key>sourceSize</key>
                <string>{36,209}</string>
            </dict>
            <key>L15_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,393},{74,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{74,62}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>L15_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>L15_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,57},{30,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,69}}</string>
                <key>sourceSize</key>
                <string>{30,69}</string>
            </dict>
            <key>L15_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,76},{106,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,52}}</string>
                <key>sourceSize</key>
                <string>{106,52}</string>
            </dict>
            <key>L15_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,200},{58,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{58,33}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>L15_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,331},{53,44}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{63,44}</string>
            </dict>
            <key>L15_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,328},{63,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>L15_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,95},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>L15_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{82,25}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{82,25}}</string>
                <key>sourceSize</key>
                <string>{88,35}</string>
            </dict>
            <key>L15_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,57},{66,116}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{66,116}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>L15_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,30},{63,51}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{63,51}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
            <key>L15_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,128},{70,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,34}}</string>
                <key>sourceSize</key>
                <string>{72,34}</string>
            </dict>
            <key>L15_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,130},{69,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{69,96}}</string>
                <key>sourceSize</key>
                <string>{71,102}</string>
            </dict>
            <key>L15_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{109,97}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{109,97}}</string>
                <key>sourceSize</key>
                <string>{121,105}</string>
            </dict>
            <key>L15_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{129,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,71}}</string>
                <key>sourceSize</key>
                <string>{129,71}</string>
            </dict>
            <key>L15_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,331},{50,63}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,63}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L15_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8230e926eeed16f145eb9292eed3e444$</string>
            <key>textureFileName</key>
            <string>L15_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
