<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L05_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,455},{84,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,54}}</string>
                <key>sourceSize</key>
                <string>{84,54}</string>
            </dict>
            <key>L05_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{150,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,190}}</string>
                <key>sourceSize</key>
                <string>{150,190}</string>
            </dict>
            <key>L05_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,450},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>L05_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,204},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,86}}</string>
                <key>sourceSize</key>
                <string>{110,86}</string>
            </dict>
            <key>L05_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{49,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,115}}</string>
                <key>sourceSize</key>
                <string>{49,115}</string>
            </dict>
            <key>L05_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,489},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>L05_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,372},{75,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,48}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>L05_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,386},{42,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{44,66}</string>
            </dict>
            <key>L05_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,173},{68,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,104}}</string>
                <key>sourceSize</key>
                <string>{68,104}</string>
            </dict>
            <key>L05_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,333},{67,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,51}}</string>
                <key>sourceSize</key>
                <string>{67,51}</string>
            </dict>
            <key>L05_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,422},{72,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,44}}</string>
                <key>sourceSize</key>
                <string>{72,44}</string>
            </dict>
            <key>L05_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,360},{76,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{76,36}}</string>
                <key>sourceSize</key>
                <string>{76,44}</string>
            </dict>
            <key>L05_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,119},{49,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,83}}</string>
                <key>sourceSize</key>
                <string>{49,83}</string>
            </dict>
            <key>L05_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,283},{127,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,75}}</string>
                <key>sourceSize</key>
                <string>{127,75}</string>
            </dict>
            <key>L05_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,263}}</string>
                <key>sourceSize</key>
                <string>{133,263}</string>
            </dict>
            <key>L05_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,430},{64,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,57}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>L05_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{40,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,127}}</string>
                <key>sourceSize</key>
                <string>{44,127}</string>
            </dict>
            <key>L05_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,279},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,52}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
            <key>L05_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,450},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>L05_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{150,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,192}}</string>
                <key>sourceSize</key>
                <string>{150,192}</string>
            </dict>
            <key>L05_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,137},{71,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{71,34}}</string>
                <key>sourceSize</key>
                <string>{71,44}</string>
            </dict>
            <key>L05_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,511},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>L05_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>L05_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,292},{117,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,78}}</string>
                <key>sourceSize</key>
                <string>{117,78}</string>
            </dict>
            <key>L05_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>L05_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,289},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>L05_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,154},{127,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,131}}</string>
                <key>sourceSize</key>
                <string>{127,131}</string>
            </dict>
            <key>L05_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,360},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>L05_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{98,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,47}}</string>
                <key>sourceSize</key>
                <string>{98,47}</string>
            </dict>
            <key>L05_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,353},{78,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{78,100}</string>
            </dict>
            <key>L05_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L05_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,591}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56e3a35e4bc45fbd1c56e910c92c9d47$</string>
            <key>textureFileName</key>
            <string>L05_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
