<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L03_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,261},{137,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,91}}</string>
                <key>sourceSize</key>
                <string>{137,91}</string>
            </dict>
            <key>L03_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{44,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>L03_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{68,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,131}}</string>
                <key>sourceSize</key>
                <string>{68,131}</string>
            </dict>
            <key>L03_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,400},{102,57}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{102,57}}</string>
                <key>sourceSize</key>
                <string>{106,57}</string>
            </dict>
            <key>L03_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{121,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,85}}</string>
                <key>sourceSize</key>
                <string>{121,85}</string>
            </dict>
            <key>L03_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,400},{87,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>L03_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,65},{70,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,56}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>L03_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{64,105}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{64,105}}</string>
                <key>sourceSize</key>
                <string>{90,109}</string>
            </dict>
            <key>L03_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{88,140}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{88,140}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>L03_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,478},{32,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,60}}</string>
                <key>sourceSize</key>
                <string>{32,60}</string>
            </dict>
            <key>L03_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,183},{69,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{69,42}}</string>
                <key>sourceSize</key>
                <string>{69,46}</string>
            </dict>
            <key>L03_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,183},{69,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,36}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>L03_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,403},{46,104}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{46,104}}</string>
                <key>sourceSize</key>
                <string>{58,110}</string>
            </dict>
            <key>L03_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,123},{69,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,58}}</string>
                <key>sourceSize</key>
                <string>{69,58}</string>
            </dict>
            <key>L03_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,254},{60,63}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{60,63}}</string>
                <key>sourceSize</key>
                <string>{94,117}</string>
            </dict>
            <key>L03_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,258},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>L03_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,257}}</string>
                <key>sourceSize</key>
                <string>{105,257}</string>
            </dict>
            <key>L03_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{48,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,76}</string>
            </dict>
            <key>L03_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{61,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,70}}</string>
                <key>sourceSize</key>
                <string>{63,70}</string>
            </dict>
            <key>L03_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,135},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
            <key>L03_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,395},{69,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,78}}</string>
                <key>sourceSize</key>
                <string>{69,78}</string>
            </dict>
            <key>L03_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,344},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,41}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>L03_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{67,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,41}}</string>
                <key>sourceSize</key>
                <string>{67,41}</string>
            </dict>
            <key>L03_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,74},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>L03_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,346},{57,50}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{57,50}}</string>
                <key>sourceSize</key>
                <string>{75,52}</string>
            </dict>
            <key>L03_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,344},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>L03_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,107},{65,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{65,37}}</string>
                <key>sourceSize</key>
                <string>{69,39}</string>
            </dict>
            <key>L03_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,396},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>L03_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,396},{39,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,79}}</string>
                <key>sourceSize</key>
                <string>{39,81}</string>
            </dict>
            <key>L03_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,45},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>L03_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,477},{38,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,25}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>L03_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,67},{59,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{59,42}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>L03_33_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,146},{64,64}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{64,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>L03_34_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,258},{34,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{34,86}}</string>
                <key>sourceSize</key>
                <string>{56,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L03_word.pvr.ccz</string>
            <key>size</key>
            <string>{510,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bb49b9870fe60afc509c52b81d18682$</string>
            <key>textureFileName</key>
            <string>L03_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
