<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L09_01_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{54,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{54,32}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_02_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,302},{60,36}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{60,36}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_03_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,104},{20,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{20,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_04_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,196},{54,56}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{54,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_05_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{64,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{64,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_06_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,36},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_07_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,318},{46,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{46,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_08_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{42,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{42,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_09_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{52,64}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_10_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,252},{62,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{62,30}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_11_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,190},{60,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_12_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,166},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{60,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_13_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,252},{60,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{60,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_14_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{54,62}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{54,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_15_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,228},{40,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{40,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_16_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,270},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{60,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_17_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,362},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{40,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_18_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,340},{36,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{36,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_19_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,126},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_20_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{66,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_21_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,68},{50,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{50,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_22_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,284},{32,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{32,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_23_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,316},{46,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{46,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_24_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{30,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_25_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_26_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,102},{62,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_27_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,130},{52,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{52,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_28_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{60,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_29_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,40},{62,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_30_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,44}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_31_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{62,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{62,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L09_picture.pvr.ccz</string>
            <key>size</key>
            <string>{256,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1862be97617004f861ba15c96257c18$</string>
            <key>textureFileName</key>
            <string>L09_picture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
