<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui04_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,144}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{1024,144}}</string>
                <key>sourceSize</key>
                <string>{1024,154}</string>
            </dict>
            <key>ui04_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,510},{81,77}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{81,77}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>ui04_frame_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,510},{81,77}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{81,77}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>ui04_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,938},{82,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{82,82}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ui04_hint_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,854},{82,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{82,82}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ui04_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,471},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{37,56}}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>ui04_next_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,966},{47,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,64}}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>ui04_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,593},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ui04_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,493},{65,65}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{65,65}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>ui04_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,242},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>ui04_previous.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,432},{37,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{37,56}}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>ui04_previous_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,966},{47,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,64}}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>ui04_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,493},{63,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{63,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ui05_game_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,510},{505,50}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,43},{505,50}}</string>
                <key>sourceSize</key>
                <string>{713,134}</string>
            </dict>
            <key>ui05_game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,510},{366,72}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,40},{366,72}}</string>
                <key>sourceSize</key>
                <string>{768,154}</string>
            </dict>
            <key>ui05_high_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,432},{645,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,59}}</string>
                <key>sourceSize</key>
                <string>{645,59}</string>
            </dict>
            <key>ui05_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,867},{97,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{97,83}}</string>
                <key>sourceSize</key>
                <string>{121,105}</string>
            </dict>
            <key>ui05_next_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,764},{115,101}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{115,101}}</string>
                <key>sourceSize</key>
                <string>{121,105}</string>
            </dict>
            <key>ui05_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,916},{106,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{106,97}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>ui05_replay_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,916},{120,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>ui05_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,990},{100,33}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{100,33}}</string>
                <key>sourceSize</key>
                <string>{110,41}</string>
            </dict>
            <key>ui05_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,146},{702,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,284}}</string>
                <key>sourceSize</key>
                <string>{702,284}</string>
            </dict>
            <key>ui05_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,146},{94,31}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{94,31}}</string>
                <key>sourceSize</key>
                <string>{104,41}</string>
            </dict>
            <key>ui06_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,764},{104,85}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{104,85}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>ui06_menu_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,870},{118,97}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{118,97}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>ui06_pause_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{283,768}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,768}}</string>
                <key>sourceSize</key>
                <string>{309,768}</string>
            </dict>
            <key>ui06_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,642},{101,120}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{101,120}}</string>
                <key>sourceSize</key>
                <string>{125,142}</string>
            </dict>
            <key>ui06_play_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,878},{123,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,138}}</string>
                <key>sourceSize</key>
                <string>{125,142}</string>
            </dict>
            <key>ui06_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,916},{108,95}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{108,95}}</string>
                <key>sourceSize</key>
                <string>{130,117}</string>
            </dict>
            <key>ui06_replay_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,510},{130,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,117}}</string>
                <key>sourceSize</key>
                <string>{130,117}</string>
            </dict>
            <key>ui06_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,757},{95,95}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{95,95}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>ui06_settings_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,642},{113,113}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>in-game.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee539b7ed97dabf7af62fa4f99f63d91$</string>
            <key>textureFileName</key>
            <string>in-game.pvr.ccz</string>
        </dict>
    </dict>
</plist>
