<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui01_btn_deluxe.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,941},{296,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{296,61}}</string>
                <key>sourceSize</key>
                <string>{346,103}</string>
            </dict>
            <key>ui01_btn_deluxe_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,631},{308,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{308,73}}</string>
                <key>sourceSize</key>
                <string>{346,103}</string>
            </dict>
            <key>ui01_btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,222},{107,74}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{107,74}}</string>
                <key>sourceSize</key>
                <string>{115,80}</string>
            </dict>
            <key>ui01_btn_more_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,142},{111,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{111,78}}</string>
                <key>sourceSize</key>
                <string>{115,80}</string>
            </dict>
            <key>ui01_btn_new_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,608},{296,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{296,61}}</string>
                <key>sourceSize</key>
                <string>{346,103}</string>
            </dict>
            <key>ui01_btn_new_game_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,298},{308,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{308,73}}</string>
                <key>sourceSize</key>
                <string>{346,103}</string>
            </dict>
            <key>ui01_btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,475},{403,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,27},{403,83}}</string>
                <key>sourceSize</key>
                <string>{515,137}</string>
            </dict>
            <key>ui01_btn_play_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,293},{415,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,21},{415,95}}</string>
                <key>sourceSize</key>
                <string>{515,137}</string>
            </dict>
            <key>ui01_btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,390},{403,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,27},{403,83}}</string>
                <key>sourceSize</key>
                <string>{515,137}</string>
            </dict>
            <key>ui01_btn_resume_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,214},{415,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,21},{415,95}}</string>
                <key>sourceSize</key>
                <string>{515,137}</string>
            </dict>
            <key>ui01_btn_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,560},{296,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{296,61}}</string>
                <key>sourceSize</key>
                <string>{346,103}</string>
            </dict>
            <key>ui01_btn_settings_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,293},{308,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{308,73}}</string>
                <key>sourceSize</key>
                <string>{346,103}</string>
            </dict>
            <key>ui01_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{813,291}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{813,291}}</string>
                <key>sourceSize</key>
                <string>{815,341}</string>
            </dict>
            <key>ui09_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,293},{720,57}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{720,57}}</string>
                <key>sourceSize</key>
                <string>{730,75}</string>
            </dict>
            <key>ui09_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,293},{725,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,17},{725,41}}</string>
                <key>sourceSize</key>
                <string>{775,75}</string>
            </dict>
            <key>ui09_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,0},{212,20}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{212,20}}</string>
                <key>sourceSize</key>
                <string>{238,50}</string>
            </dict>
            <key>ui10_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,293},{675,217}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{675,217}}</string>
                <key>sourceSize</key>
                <string>{687,235}</string>
            </dict>
            <key>ui10_popup_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,76},{158,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{158,64}}</string>
                <key>sourceSize</key>
                <string>{180,74}</string>
            </dict>
            <key>ui10_popup_button_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,0},{170,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{170,74}}</string>
                <key>sourceSize</key>
                <string>{180,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>load-home.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66c4e1ddc6ea299cfd9579b94f2f4959$</string>
            <key>textureFileName</key>
            <string>load-home.pvr.ccz</string>
        </dict>
    </dict>
</plist>
