<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleId</key>
	<string>1040798228</string>
	<key>Banner</key>
	<dict>
		<key>iPhone</key>
		<string>7a80c3f4136043149827802fb15de7b7</string>
		<key>iPad</key>
		<string>e637628388374e1a95708cace51d0266</string>
	</dict>
	<key>Rect</key>
	<dict>
		<key>iPhone</key>
		<string></string>
		<key>iPad</key>
		<string></string>
	</dict>
	<key>Interstitial</key>
	<dict>
		<key>iPhone</key>
		<string>faada7254e36441a9584c6a04784a502</string>
		<key>iPad</key>
		<string>c71930e664d74d9ea7346280f185266c</string>
	</dict>
	<key>Crosspromo</key>
	<dict>
		<key>appId</key>
		<string>56e25e7bc909a634528886b1</string>
		<key>appSignature</key>
		<string>e5fa443feae0064de194f7b104f097a67ca6629f</string>
	</dict>
	<key>Rewarded</key>
	<dict>
		<key>APPID</key>
		<string>45843</string>
		<key>SecurityToken</key>
		<string>652f225755121ba797ae4c9d26aea94f</string>
	</dict>
	<key>Native</key>
	<dict>
		<key>iPhone</key>
		<string></string>
		<key>iPad</key>
		<string></string>
	</dict>
	<key>Flurry</key>
	<string>RPXGCV42K7S997S9GCXM</string>
	<key>PrivacyPageUrl</key>
	<string></string>
	<key>GoogleAnalytics</key>
	<string>UA-67475747-6</string>
	<key>ServerBaseUrl</key>
	<string>https://services.applabsinc.net</string>
	<key>QuantcastAPIKey</key>
	<string>08m9d6gbojhf5xd2-h4ge72ng1vaqxdnu</string>
</dict>
</plist>
