<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L10_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,278},{47,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,62}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>L10_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,164},{53,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,112}}</string>
                <key>sourceSize</key>
                <string>{53,112}</string>
            </dict>
            <key>L10_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,663},{63,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,74}}</string>
                <key>sourceSize</key>
                <string>{63,74}</string>
            </dict>
            <key>L10_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,685},{67,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,57}}</string>
                <key>sourceSize</key>
                <string>{67,57}</string>
            </dict>
            <key>L10_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{128,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,142}}</string>
                <key>sourceSize</key>
                <string>{128,142}</string>
            </dict>
            <key>L10_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,160}}</string>
                <key>sourceSize</key>
                <string>{225,160}</string>
            </dict>
            <key>L10_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{96,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,151}}</string>
                <key>sourceSize</key>
                <string>{96,151}</string>
            </dict>
            <key>L10_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,585},{73,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{73,93}</string>
            </dict>
            <key>L10_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,600},{61,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,80}}</string>
                <key>sourceSize</key>
                <string>{61,80}</string>
            </dict>
            <key>L10_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,490},{93,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,67}}</string>
                <key>sourceSize</key>
                <string>{93,67}</string>
            </dict>
            <key>L10_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,49},{74,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,129}}</string>
                <key>sourceSize</key>
                <string>{74,129}</string>
            </dict>
            <key>L10_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,64},{189,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,117}}</string>
                <key>sourceSize</key>
                <string>{189,117}</string>
            </dict>
            <key>L10_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,450},{83,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,133}}</string>
                <key>sourceSize</key>
                <string>{83,133}</string>
            </dict>
            <key>L10_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,180},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>L10_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,600},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>L10_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{93,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,61}}</string>
                <key>sourceSize</key>
                <string>{93,61}</string>
            </dict>
            <key>L10_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,405},{132,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,92}}</string>
                <key>sourceSize</key>
                <string>{132,92}</string>
            </dict>
            <key>L10_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{83,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,89}}</string>
                <key>sourceSize</key>
                <string>{83,89}</string>
            </dict>
            <key>L10_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,499},{112,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,99}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>L10_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,273},{130,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,123}}</string>
                <key>sourceSize</key>
                <string>{130,123}</string>
            </dict>
            <key>L10_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,410},{38,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,134}}</string>
                <key>sourceSize</key>
                <string>{44,134}</string>
            </dict>
            <key>L10_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{77,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,45}}</string>
                <key>sourceSize</key>
                <string>{77,45}</string>
            </dict>
            <key>L10_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,660},{92,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,67}}</string>
                <key>sourceSize</key>
                <string>{92,67}</string>
            </dict>
            <key>L10_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,342},{63,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,88}}</string>
                <key>sourceSize</key>
                <string>{63,88}</string>
            </dict>
            <key>L10_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,535},{98,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,62}}</string>
                <key>sourceSize</key>
                <string>{98,62}</string>
            </dict>
            <key>L10_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,432},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>L10_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,183},{155,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,118}}</string>
                <key>sourceSize</key>
                <string>{155,118}</string>
            </dict>
            <key>L10_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{113,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,89}}</string>
                <key>sourceSize</key>
                <string>{113,89}</string>
            </dict>
            <key>L10_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,303},{105,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,154}}</string>
                <key>sourceSize</key>
                <string>{105,154}</string>
            </dict>
            <key>L10_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,599},{92,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,84}}</string>
                <key>sourceSize</key>
                <string>{92,84}</string>
            </dict>
            <key>L10_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{169,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,113}}</string>
                <key>sourceSize</key>
                <string>{169,113}</string>
            </dict>
            <key>L10_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{60,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,202}}</string>
                <key>sourceSize</key>
                <string>{60,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L10_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eda7ae07c85bb63a5a8acde3556afed9$</string>
            <key>textureFileName</key>
            <string>L10_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
