<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L15_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{156,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,42}}</string>
                <key>sourceSize</key>
                <string>{158,44}</string>
            </dict>
            <key>L15_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,231},{67,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,53}}</string>
                <key>sourceSize</key>
                <string>{69,53}</string>
            </dict>
            <key>L15_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,138},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>L15_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{90,94}</string>
            </dict>
            <key>L15_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,94},{87,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,74}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>L15_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,356},{25,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,62}}</string>
                <key>sourceSize</key>
                <string>{25,64}</string>
            </dict>
            <key>L15_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,366},{33,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,71}}</string>
                <key>sourceSize</key>
                <string>{33,71}</string>
            </dict>
            <key>L15_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{55,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,78}}</string>
                <key>sourceSize</key>
                <string>{55,78}</string>
            </dict>
            <key>L15_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,300},{56,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>L15_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,368},{66,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,46}}</string>
                <key>sourceSize</key>
                <string>{68,46}</string>
            </dict>
            <key>L15_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,138},{91,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,68}}</string>
                <key>sourceSize</key>
                <string>{91,68}</string>
            </dict>
            <key>L15_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,383},{67,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,46}}</string>
                <key>sourceSize</key>
                <string>{67,46}</string>
            </dict>
            <key>L15_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{134,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,127}}</string>
                <key>sourceSize</key>
                <string>{134,127}</string>
            </dict>
            <key>L15_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,138},{103,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,107}}</string>
                <key>sourceSize</key>
                <string>{103,107}</string>
            </dict>
            <key>L15_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{114,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,104}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
            <key>L15_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,300},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>L15_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,242},{112,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,72}}</string>
                <key>sourceSize</key>
                <string>{112,72}</string>
            </dict>
            <key>L15_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,234},{59,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>L15_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>L15_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>L15_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,401},{108,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{108,90}}</string>
                <key>sourceSize</key>
                <string>{108,102}</string>
            </dict>
            <key>L15_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,247},{117,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,65}}</string>
                <key>sourceSize</key>
                <string>{117,65}</string>
            </dict>
            <key>L15_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,295},{57,71}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,71}}</string>
                <key>sourceSize</key>
                <string>{61,73}</string>
            </dict>
            <key>L15_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,82},{54,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>L15_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,350},{73,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,46}}</string>
                <key>sourceSize</key>
                <string>{73,46}</string>
            </dict>
            <key>L15_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,247},{132,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,66}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>L15_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,401},{61,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,97}}</string>
                <key>sourceSize</key>
                <string>{61,97}</string>
            </dict>
            <key>L15_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,356},{38,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,59}</string>
            </dict>
            <key>L15_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,243}}</string>
                <key>sourceSize</key>
                <string>{92,243}</string>
            </dict>
            <key>L15_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,247},{82,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
            <key>L15_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,82},{52,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>L15_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,396},{110,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,68}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L15_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62d2cdb7230d23c50612325d07914104$</string>
            <key>textureFileName</key>
            <string>L15_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
