<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L09_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,452},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>L09_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,58},{82,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,127}}</string>
                <key>sourceSize</key>
                <string>{82,127}</string>
            </dict>
            <key>L09_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,275},{116,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,77}}</string>
                <key>sourceSize</key>
                <string>{116,77}</string>
            </dict>
            <key>L09_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,482},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>L09_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,373},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>L09_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{101,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,59}}</string>
                <key>sourceSize</key>
                <string>{101,59}</string>
            </dict>
            <key>L09_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,486},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>L09_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{85,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,44}}</string>
                <key>sourceSize</key>
                <string>{85,44}</string>
            </dict>
            <key>L09_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,265},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>L09_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,354},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>L09_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,298},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>L09_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,337},{91,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,55}}</string>
                <key>sourceSize</key>
                <string>{91,55}</string>
            </dict>
            <key>L09_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,185},{111,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,63}}</string>
                <key>sourceSize</key>
                <string>{111,63}</string>
            </dict>
            <key>L09_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>L09_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,348},{98,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,88}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>L09_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{56,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,119}}</string>
                <key>sourceSize</key>
                <string>{56,119}</string>
            </dict>
            <key>L09_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,443},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>L09_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,332},{14,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{14,104}}</string>
                <key>sourceSize</key>
                <string>{44,104}</string>
            </dict>
            <key>L09_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,486},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>L09_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,172},{70,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,91}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>L09_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,212},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>L09_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,443},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{62,57}</string>
            </dict>
            <key>L09_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{88,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,245}}</string>
                <key>sourceSize</key>
                <string>{88,245}</string>
            </dict>
            <key>L09_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,105},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,65}</string>
            </dict>
            <key>L09_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,438},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{75,46}</string>
            </dict>
            <key>L09_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,440},{40,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>L09_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,142},{68,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,123}}</string>
                <key>sourceSize</key>
                <string>{68,123}</string>
            </dict>
            <key>L09_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{111,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,95}}</string>
                <key>sourceSize</key>
                <string>{111,95}</string>
            </dict>
            <key>L09_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,394},{93,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,47}}</string>
                <key>sourceSize</key>
                <string>{93,47}</string>
            </dict>
            <key>L09_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,310}}</string>
                <key>sourceSize</key>
                <string>{181,310}</string>
            </dict>
            <key>L09_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>L09_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{54,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,135}}</string>
                <key>sourceSize</key>
                <string>{54,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L09_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,587}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef83023f47646bed6062bde3d682dd64$</string>
            <key>textureFileName</key>
            <string>L09_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
