<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4x4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{147,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,285}}</string>
                <key>sourceSize</key>
                <string>{147,285}</string>
            </dict>
            <key>4x4_01_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,372},{166,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,303}}</string>
                <key>sourceSize</key>
                <string>{166,303}</string>
            </dict>
            <key>4x4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,906},{160,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,198}}</string>
                <key>sourceSize</key>
                <string>{160,198}</string>
            </dict>
            <key>4x4_02_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1121},{178,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,217}}</string>
                <key>sourceSize</key>
                <string>{178,217}</string>
            </dict>
            <key>4x4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1301},{179,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,201}}</string>
                <key>sourceSize</key>
                <string>{179,201}</string>
            </dict>
            <key>4x4_03_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,935},{197,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,220}}</string>
                <key>sourceSize</key>
                <string>{197,220}</string>
            </dict>
            <key>4x4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,710},{194,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,168}}</string>
                <key>sourceSize</key>
                <string>{194,168}</string>
            </dict>
            <key>4x4_04_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1058},{212,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,187}}</string>
                <key>sourceSize</key>
                <string>{212,187}</string>
            </dict>
            <key>4x4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,912},{144,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,217}}</string>
                <key>sourceSize</key>
                <string>{144,217}</string>
            </dict>
            <key>4x4_05_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,747},{163,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,235}}</string>
                <key>sourceSize</key>
                <string>{163,235}</string>
            </dict>
            <key>4x4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1332},{129,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,161}}</string>
                <key>sourceSize</key>
                <string>{129,161}</string>
            </dict>
            <key>4x4_06_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1073},{147,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,179}}</string>
                <key>sourceSize</key>
                <string>{147,179}</string>
            </dict>
            <key>4x4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,716},{187,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,229}}</string>
                <key>sourceSize</key>
                <string>{187,229}</string>
            </dict>
            <key>4x4_07_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,540},{205,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,247}}</string>
                <key>sourceSize</key>
                <string>{205,247}</string>
            </dict>
            <key>4x4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,619},{235,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,167}}</string>
                <key>sourceSize</key>
                <string>{235,167}</string>
            </dict>
            <key>4x4_08_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,529},{253,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,185}}</string>
                <key>sourceSize</key>
                <string>{253,185}</string>
            </dict>
            <key>4x4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,540},{62,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,231}}</string>
                <key>sourceSize</key>
                <string>{62,231}</string>
            </dict>
            <key>4x4_09_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,459},{80,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,249}}</string>
                <key>sourceSize</key>
                <string>{80,249}</string>
            </dict>
            <key>4x4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{178,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,292}}</string>
                <key>sourceSize</key>
                <string>{178,292}</string>
            </dict>
            <key>4x4_10_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,0},{197,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,311}}</string>
                <key>sourceSize</key>
                <string>{197,311}</string>
            </dict>
            <key>4x4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1068},{128,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,210}}</string>
                <key>sourceSize</key>
                <string>{128,210}</string>
            </dict>
            <key>4x4_11_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,788},{145,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,227}}</string>
                <key>sourceSize</key>
                <string>{145,227}</string>
            </dict>
            <key>4x4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,912},{134,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,159}}</string>
                <key>sourceSize</key>
                <string>{134,159}</string>
            </dict>
            <key>4x4_12_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1198},{152,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,178}}</string>
                <key>sourceSize</key>
                <string>{152,178}</string>
            </dict>
            <key>4x4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,191},{180,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,331}}</string>
                <key>sourceSize</key>
                <string>{180,331}</string>
            </dict>
            <key>4x4_13_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{198,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,349}}</string>
                <key>sourceSize</key>
                <string>{198,349}</string>
            </dict>
            <key>4x4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,505},{271,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,112}}</string>
                <key>sourceSize</key>
                <string>{271,112}</string>
            </dict>
            <key>4x4_14_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,373},{289,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,130}}</string>
                <key>sourceSize</key>
                <string>{289,130}</string>
            </dict>
            <key>4x4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1134},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>4x4_15_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,905},{214,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,220}}</string>
                <key>sourceSize</key>
                <string>{214,220}</string>
            </dict>
            <key>4x4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,199},{327,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,171}}</string>
                <key>sourceSize</key>
                <string>{327,171}</string>
            </dict>
            <key>4x4_16_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,0},{345,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,189}}</string>
                <key>sourceSize</key>
                <string>{345,189}</string>
            </dict>
            <key>l03_Jigsaw_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,372},{297,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,27}}</string>
                <key>sourceSize</key>
                <string>{297,27}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,373},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>puzzle4x4.pvr.ccz</string>
            <key>size</key>
            <string>{1021,1480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad6473d06048d1342233a384a43bd124$</string>
            <key>textureFileName</key>
            <string>puzzle4x4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
