<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unlock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,908},{74,78}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,95},{74,78}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{300,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,606},{300,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,304},{300,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{300,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,478},{236,186}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,36},{236,186}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,240},{236,188}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,34},{236,188}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{236,186}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,36},{236,186}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{236,222}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,16},{236,222}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,594},{264,250}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{264,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,594},{274,234}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{274,234}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{70,100}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,83},{70,100}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,304},{288,250}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{288,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,606},{300,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,304},{300,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{300,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{300,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{300,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,240},{236,184}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,38},{236,184}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,908},{62,140}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,61},{62,140}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,908},{36,234}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,9},{36,234}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,988},{30,230}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,11},{30,230}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,870},{144,218}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,18},{144,218}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,2},{216,202}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,27},{216,202}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,240},{236,186}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,36},{236,186}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>unlock_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unlockAnimation.pvr</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39448e69aa4b2982c9e38781c634f867$</string>
            <key>textureFileName</key>
            <string>unlockAnimation.pvr</string>
        </dict>
    </dict>
</plist>
