<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L01_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,334},{88,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>L01_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,279},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>L01_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{44,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,97}}</string>
                <key>sourceSize</key>
                <string>{44,97}</string>
            </dict>
            <key>L01_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,114},{65,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,55}}</string>
                <key>sourceSize</key>
                <string>{65,55}</string>
            </dict>
            <key>L01_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,102},{47,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,73}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>L01_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,170}}</string>
                <key>sourceSize</key>
                <string>{44,170}</string>
            </dict>
            <key>L01_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,110},{54,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>L01_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{98,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,63}}</string>
                <key>sourceSize</key>
                <string>{98,63}</string>
            </dict>
            <key>L01_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,107},{47,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,88}}</string>
                <key>sourceSize</key>
                <string>{47,88}</string>
            </dict>
            <key>L01_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{40,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,110}}</string>
                <key>sourceSize</key>
                <string>{44,110}</string>
            </dict>
            <key>L01_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{36,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,102}}</string>
                <key>sourceSize</key>
                <string>{44,102}</string>
            </dict>
            <key>L01_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,460},{89,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,49}}</string>
                <key>sourceSize</key>
                <string>{89,49}</string>
            </dict>
            <key>L01_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{106,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,95}}</string>
                <key>sourceSize</key>
                <string>{106,95}</string>
            </dict>
            <key>L01_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,248},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,65}</string>
            </dict>
            <key>L01_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,460},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>L01_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,110},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>L01_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{96,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,165}}</string>
                <key>sourceSize</key>
                <string>{96,165}</string>
            </dict>
            <key>L01_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,318},{81,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,76}}</string>
                <key>sourceSize</key>
                <string>{81,76}</string>
            </dict>
            <key>L01_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,341},{117,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,84}}</string>
                <key>sourceSize</key>
                <string>{117,84}</string>
            </dict>
            <key>L01_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,271},{75,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,61}}</string>
                <key>sourceSize</key>
                <string>{75,61}</string>
            </dict>
            <key>L01_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{44,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,103}}</string>
                <key>sourceSize</key>
                <string>{44,103}</string>
            </dict>
            <key>L01_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,334},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>L01_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,166},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>L01_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,156},{72,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,90}}</string>
                <key>sourceSize</key>
                <string>{72,90}</string>
            </dict>
            <key>L01_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,171},{106,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,53}}</string>
                <key>sourceSize</key>
                <string>{106,53}</string>
            </dict>
            <key>L01_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,424},{32,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,69}}</string>
                <key>sourceSize</key>
                <string>{44,69}</string>
            </dict>
            <key>L01_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{52,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,106}}</string>
                <key>sourceSize</key>
                <string>{52,106}</string>
            </dict>
            <key>L01_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,271},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>L01_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{24,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{24,144}}</string>
                <key>sourceSize</key>
                <string>{44,144}</string>
            </dict>
            <key>L01_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,424},{78,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>L01_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,48},{96,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L01_word.pvr.ccz</string>
            <key>size</key>
            <string>{489,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5303e64a1f349da095858da9eea2909f$</string>
            <key>textureFileName</key>
            <string>L01_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
