<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L06_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,360},{93,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,62}}</string>
                <key>sourceSize</key>
                <string>{93,62}</string>
            </dict>
            <key>L06_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{38,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,76}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
            <key>L06_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,103},{42,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,96}}</string>
                <key>sourceSize</key>
                <string>{44,96}</string>
            </dict>
            <key>L06_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,212},{92,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,150}}</string>
                <key>sourceSize</key>
                <string>{92,150}</string>
            </dict>
            <key>L06_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,211},{86,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,99}}</string>
                <key>sourceSize</key>
                <string>{86,99}</string>
            </dict>
            <key>L06_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,448},{61,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>L06_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,42},{64,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>L06_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,475},{85,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,34}}</string>
                <key>sourceSize</key>
                <string>{85,44}</string>
            </dict>
            <key>L06_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{108,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,53}}</string>
                <key>sourceSize</key>
                <string>{108,53}</string>
            </dict>
            <key>L06_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,112},{97,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,86}}</string>
                <key>sourceSize</key>
                <string>{97,86}</string>
            </dict>
            <key>L06_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,108},{34,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{34,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>L06_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,208}}</string>
                <key>sourceSize</key>
                <string>{122,208}</string>
            </dict>
            <key>L06_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,209},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>L06_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,364},{109,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,42}}</string>
                <key>sourceSize</key>
                <string>{109,44}</string>
            </dict>
            <key>L06_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,312},{44,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,85}}</string>
                <key>sourceSize</key>
                <string>{44,85}</string>
            </dict>
            <key>L06_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{101,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{101,28}}</string>
                <key>sourceSize</key>
                <string>{101,44}</string>
            </dict>
            <key>L06_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{84,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,119}}</string>
                <key>sourceSize</key>
                <string>{84,119}</string>
            </dict>
            <key>L06_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,358},{81,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,88}}</string>
                <key>sourceSize</key>
                <string>{81,88}</string>
            </dict>
            <key>L06_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,284},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>L06_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,455},{83,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,54}}</string>
                <key>sourceSize</key>
                <string>{83,54}</string>
            </dict>
            <key>L06_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{152,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,95}}</string>
                <key>sourceSize</key>
                <string>{152,95}</string>
            </dict>
            <key>L06_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,144},{64,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,59}}</string>
                <key>sourceSize</key>
                <string>{64,59}</string>
            </dict>
            <key>L06_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{94,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,99}}</string>
                <key>sourceSize</key>
                <string>{94,99}</string>
            </dict>
            <key>L06_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,209},{65,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>L06_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,366},{71,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,118}}</string>
                <key>sourceSize</key>
                <string>{71,118}</string>
            </dict>
            <key>L06_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{38,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>L06_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,103},{32,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{32,95}}</string>
                <key>sourceSize</key>
                <string>{44,95}</string>
            </dict>
            <key>L06_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,140},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>L06_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,312},{65,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,46}}</string>
                <key>sourceSize</key>
                <string>{65,46}</string>
            </dict>
            <key>L06_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,144},{57,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,64}}</string>
                <key>sourceSize</key>
                <string>{57,64}</string>
            </dict>
            <key>L06_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,80},{80,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>L06_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{71,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,42}}</string>
                <key>sourceSize</key>
                <string>{71,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L06_word.pvr.ccz</string>
            <key>size</key>
            <string>{502,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0d85a0cb5873494f53e4b38a351e9e9$</string>
            <key>textureFileName</key>
            <string>L06_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
