<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L08_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,390},{56,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{56,34}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>L08_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,463},{46,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,59}}</string>
                <key>sourceSize</key>
                <string>{46,59}</string>
            </dict>
            <key>L08_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{113,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,74}}</string>
                <key>sourceSize</key>
                <string>{113,74}</string>
            </dict>
            <key>L08_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{65,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,119}}</string>
                <key>sourceSize</key>
                <string>{65,119}</string>
            </dict>
            <key>L08_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,79},{71,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,58}}</string>
                <key>sourceSize</key>
                <string>{71,58}</string>
            </dict>
            <key>L08_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,152},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>L08_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>L08_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,235},{76,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,71}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>L08_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,195},{38,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>L08_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,253},{56,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,105}}</string>
                <key>sourceSize</key>
                <string>{56,105}</string>
            </dict>
            <key>L08_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,106},{70,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,87}}</string>
                <key>sourceSize</key>
                <string>{70,87}</string>
            </dict>
            <key>L08_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,426},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>L08_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,463},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>L08_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{118,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,60}}</string>
                <key>sourceSize</key>
                <string>{118,60}</string>
            </dict>
            <key>L08_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,75},{55,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,69}}</string>
                <key>sourceSize</key>
                <string>{55,69}</string>
            </dict>
            <key>L08_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,235},{68,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,87}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>L08_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>L08_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,132},{81,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,102}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>L08_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,427},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,44}</string>
            </dict>
            <key>L08_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,146},{58,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,63}}</string>
                <key>sourceSize</key>
                <string>{58,63}</string>
            </dict>
            <key>L08_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{72,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,102}}</string>
                <key>sourceSize</key>
                <string>{72,102}</string>
            </dict>
            <key>L08_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,360},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,99}}</string>
                <key>sourceSize</key>
                <string>{101,99}</string>
            </dict>
            <key>L08_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,313},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>L08_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,224},{42,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>L08_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{71,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,48}}</string>
                <key>sourceSize</key>
                <string>{71,48}</string>
            </dict>
            <key>L08_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,128}}</string>
                <key>sourceSize</key>
                <string>{85,128}</string>
            </dict>
            <key>L08_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,69},{58,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,61}}</string>
                <key>sourceSize</key>
                <string>{58,61}</string>
            </dict>
            <key>L08_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,195},{51,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,38}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>L08_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,236},{61,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,99}}</string>
                <key>sourceSize</key>
                <string>{61,99}</string>
            </dict>
            <key>L08_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>L08_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,427},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>L08_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,337},{88,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L08_word.pvr.ccz</string>
            <key>size</key>
            <string>{410,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f5eeb566eb3d331b5938ae33e1f7a9b$</string>
            <key>textureFileName</key>
            <string>L08_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
