<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,168},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>dot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,182},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>ui02_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,247},{237,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,387}}</string>
                <key>sourceSize</key>
                <string>{237,387}</string>
            </dict>
            <key>ui02_button_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{245,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,395}}</string>
                <key>sourceSize</key>
                <string>{245,395}</string>
            </dict>
            <key>ui02_choose_mode.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,334},{675,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{675,76}}</string>
                <key>sourceSize</key>
                <string>{675,76}</string>
            </dict>
            <key>ui02_picture.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,486},{135,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,197}}</string>
                <key>sourceSize</key>
                <string>{135,197}</string>
            </dict>
            <key>ui02_silhouette.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,673},{187,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,192}}</string>
                <key>sourceSize</key>
                <string>{187,192}</string>
            </dict>
            <key>ui02_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,0},{110,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,166}}</string>
                <key>sourceSize</key>
                <string>{110,166}</string>
            </dict>
            <key>ui03_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,256},{86,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,76}}</string>
                <key>sourceSize</key>
                <string>{86,76}</string>
            </dict>
            <key>ui03_back_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,168},{96,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,86}}</string>
                <key>sourceSize</key>
                <string>{96,86}</string>
            </dict>
            <key>ui03_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,486},{232,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,185}}</string>
                <key>sourceSize</key>
                <string>{232,185}</string>
            </dict>
            <key>ui03_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,862},{64,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,86}}</string>
                <key>sourceSize</key>
                <string>{64,86}</string>
            </dict>
            <key>ui03_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,374},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ui03_star_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,334},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>choose-map.pvr.ccz</string>
            <key>size</key>
            <string>{508,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90bd82de5ce7bc9453395a1b70276af4$</string>
            <key>textureFileName</key>
            <string>choose-map.pvr.ccz</string>
        </dict>
    </dict>
</plist>
