<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui04_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,766},{1024,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,162}}</string>
                <key>sourceSize</key>
                <string>{1024,162}</string>
            </dict>
            <key>ui04_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,562},{79,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,74}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>ui04_frame_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,688},{79,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,75}}</string>
                <key>sourceSize</key>
                <string>{79,75}</string>
            </dict>
            <key>ui04_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,0},{100,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,89}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>ui04_hint_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,930},{100,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,89}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>ui04_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,694},{27,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,53}}</string>
                <key>sourceSize</key>
                <string>{27,53}</string>
            </dict>
            <key>ui04_next_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,697},{43,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,69}}</string>
                <key>sourceSize</key>
                <string>{43,69}</string>
            </dict>
            <key>ui04_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,722},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>ui04_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,697},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui04_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,697},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>ui04_previous.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,722},{26,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,53}}</string>
                <key>sourceSize</key>
                <string>{26,53}</string>
            </dict>
            <key>ui04_previous_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,930},{44,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,69}}</string>
                <key>sourceSize</key>
                <string>{44,69}</string>
            </dict>
            <key>ui04_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,697},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>ui05_game_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,0},{569,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,97}}</string>
                <key>sourceSize</key>
                <string>{569,97}</string>
            </dict>
            <key>ui05_game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,0},{569,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,97}}</string>
                <key>sourceSize</key>
                <string>{569,97}</string>
            </dict>
            <key>ui05_high_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,930},{641,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,59}}</string>
                <key>sourceSize</key>
                <string>{641,59}</string>
            </dict>
            <key>ui05_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,465},{95,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,83}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>ui05_next_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,362},{114,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,101}}</string>
                <key>sourceSize</key>
                <string>{114,101}</string>
            </dict>
            <key>ui05_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,122},{106,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,96}}</string>
                <key>sourceSize</key>
                <string>{106,96}</string>
            </dict>
            <key>ui05_replay_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,0},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>ui05_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,688},{100,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,32}}</string>
                <key>sourceSize</key>
                <string>{100,32}</string>
            </dict>
            <key>ui05_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{695,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{695,281}}</string>
                <key>sourceSize</key>
                <string>{695,281}</string>
            </dict>
            <key>ui05_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,694},{94,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,31}}</string>
                <key>sourceSize</key>
                <string>{94,31}</string>
            </dict>
            <key>ui06_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,930},{104,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,83}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>ui06_menu_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,242},{118,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,97}}</string>
                <key>sourceSize</key>
                <string>{118,97}</string>
            </dict>
            <key>ui06_pause_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{286,764}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,764}}</string>
                <key>sourceSize</key>
                <string>{286,764}</string>
            </dict>
            <key>ui06_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,122},{100,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,118}}</string>
                <key>sourceSize</key>
                <string>{100,118}</string>
            </dict>
            <key>ui06_play_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,571},{121,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,138}}</string>
                <key>sourceSize</key>
                <string>{121,138}</string>
            </dict>
            <key>ui06_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,930},{108,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,93}}</string>
                <key>sourceSize</key>
                <string>{108,93}</string>
            </dict>
            <key>ui06_replay_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,571},{128,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,115}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>ui06_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,357},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ui06_settings_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,242},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>in-game.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0429fd5dd4b605fc2392ef232ad7ff1$</string>
            <key>textureFileName</key>
            <string>in-game.pvr.ccz</string>
        </dict>
    </dict>
</plist>
