<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui01_btn_deluxe.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,366},{285,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,75}}</string>
                <key>sourceSize</key>
                <string>{285,75}</string>
            </dict>
            <key>ui01_btn_deluxe_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,940},{287,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,78}}</string>
                <key>sourceSize</key>
                <string>{287,78}</string>
            </dict>
            <key>ui01_btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,500},{106,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,74}}</string>
                <key>sourceSize</key>
                <string>{106,74}</string>
            </dict>
            <key>ui01_btn_more_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{124,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,90}}</string>
                <key>sourceSize</key>
                <string>{124,90}</string>
            </dict>
            <key>ui01_btn_new_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,248},{277,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,67}}</string>
                <key>sourceSize</key>
                <string>{277,67}</string>
            </dict>
            <key>ui01_btn_new_game_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,782},{287,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,78}}</string>
                <key>sourceSize</key>
                <string>{287,78}</string>
            </dict>
            <key>ui01_btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,0},{352,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,84}}</string>
                <key>sourceSize</key>
                <string>{352,84}</string>
            </dict>
            <key>ui01_btn_play_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,0},{364,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,93}}</string>
                <key>sourceSize</key>
                <string>{364,93}</string>
            </dict>
            <key>ui01_btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,940},{353,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,84}}</string>
                <key>sourceSize</key>
                <string>{353,84}</string>
            </dict>
            <key>ui01_btn_resume_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{364,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,92}}</string>
                <key>sourceSize</key>
                <string>{364,92}</string>
            </dict>
            <key>ui01_btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,366},{277,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,69}}</string>
                <key>sourceSize</key>
                <string>{277,69}</string>
            </dict>
            <key>ui01_btn_setting_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,702},{287,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,78}}</string>
                <key>sourceSize</key>
                <string>{287,78}</string>
            </dict>
            <key>ui01_btn_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,248},{277,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,67}}</string>
                <key>sourceSize</key>
                <string>{277,67}</string>
            </dict>
            <key>ui01_btn_settings_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,918},{287,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,78}}</string>
                <key>sourceSize</key>
                <string>{287,78}</string>
            </dict>
            <key>ui01_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{779,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{779,246}}</string>
                <key>sourceSize</key>
                <string>{779,246}</string>
            </dict>
            <key>ui09_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,248},{668,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,30}}</string>
                <key>sourceSize</key>
                <string>{668,30}</string>
            </dict>
            <key>ui09_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,0},{700,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,59}}</string>
                <key>sourceSize</key>
                <string>{700,59}</string>
            </dict>
            <key>ui09_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,862},{182,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,33}}</string>
                <key>sourceSize</key>
                <string>{182,33}</string>
            </dict>
            <key>ui10_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,702},{686,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,236}}</string>
                <key>sourceSize</key>
                <string>{686,236}</string>
            </dict>
            <key>ui10_popup_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,434},{148,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,64}}</string>
                <key>sourceSize</key>
                <string>{148,64}</string>
            </dict>
            <key>ui10_popup_button_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,342},{156,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,70}}</string>
                <key>sourceSize</key>
                <string>{156,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>load-home.pvr.ccz</string>
            <key>size</key>
            <string>{1021,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a6b4388ab57f2adc76e1f525c5c2b25$</string>
            <key>textureFileName</key>
            <string>load-home.pvr.ccz</string>
        </dict>
    </dict>
</plist>
