<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L15_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,88},{68,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,186}}</string>
                <key>sourceSize</key>
                <string>{68,186}</string>
            </dict>
            <key>L15_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{135,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,119}}</string>
                <key>sourceSize</key>
                <string>{135,119}</string>
            </dict>
            <key>L15_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,488},{91,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,80}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>L15_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,534},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>L15_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,423},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>L15_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,365},{107,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,125}}</string>
                <key>sourceSize</key>
                <string>{107,125}</string>
            </dict>
            <key>L15_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{89,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,128}}</string>
                <key>sourceSize</key>
                <string>{89,128}</string>
            </dict>
            <key>L15_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,196}}</string>
                <key>sourceSize</key>
                <string>{99,196}</string>
            </dict>
            <key>L15_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,287},{141,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,76}}</string>
                <key>sourceSize</key>
                <string>{141,76}</string>
            </dict>
            <key>L15_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,322},{135,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,116}}</string>
                <key>sourceSize</key>
                <string>{135,116}</string>
            </dict>
            <key>L15_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{68,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,178}}</string>
                <key>sourceSize</key>
                <string>{68,178}</string>
            </dict>
            <key>L15_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,575},{76,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,63}}</string>
                <key>sourceSize</key>
                <string>{76,63}</string>
            </dict>
            <key>L15_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,158},{166,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,162}</string>
            </dict>
            <key>L15_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>L15_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{95,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,118}}</string>
                <key>sourceSize</key>
                <string>{95,118}</string>
            </dict>
            <key>L15_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,653},{86,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,58}}</string>
                <key>sourceSize</key>
                <string>{86,58}</string>
            </dict>
            <key>L15_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,197},{155,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,88}}</string>
                <key>sourceSize</key>
                <string>{155,88}</string>
            </dict>
            <key>L15_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{84,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,195}}</string>
                <key>sourceSize</key>
                <string>{84,195}</string>
            </dict>
            <key>L15_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,572},{58,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,97}}</string>
                <key>sourceSize</key>
                <string>{58,97}</string>
            </dict>
            <key>L15_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,570},{106,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,51}}</string>
                <key>sourceSize</key>
                <string>{106,51}</string>
            </dict>
            <key>L15_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,644},{78,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,85}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>L15_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,632},{78,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,87}}</string>
                <key>sourceSize</key>
                <string>{78,87}</string>
            </dict>
            <key>L15_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,486},{46,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,119}}</string>
                <key>sourceSize</key>
                <string>{46,119}</string>
            </dict>
            <key>L15_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{42,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,98}}</string>
                <key>sourceSize</key>
                <string>{44,98}</string>
            </dict>
            <key>L15_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,322},{71,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,99}}</string>
                <key>sourceSize</key>
                <string>{71,99}</string>
            </dict>
            <key>L15_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,120},{120,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,75}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>L15_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,161}</string>
            </dict>
            <key>L15_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,623},{44,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,89}}</string>
                <key>sourceSize</key>
                <string>{44,89}</string>
            </dict>
            <key>L15_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{116,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,108}}</string>
                <key>sourceSize</key>
                <string>{116,108}</string>
            </dict>
            <key>L15_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,440},{44,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,120}}</string>
                <key>sourceSize</key>
                <string>{44,120}</string>
            </dict>
            <key>L15_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,474},{44,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,99}}</string>
                <key>sourceSize</key>
                <string>{44,99}</string>
            </dict>
            <key>L15_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,474},{115,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,96}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L15_word.pvr.ccz</string>
            <key>size</key>
            <string>{510,730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2352113697e952c1cc01e9d0c9301980$</string>
            <key>textureFileName</key>
            <string>L15_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
