<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L11_01_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,302},{48,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{48,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_02_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,388},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{30,28}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_03_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,212},{64,34}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{64,34}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_04_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,310},{62,52}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{62,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_05_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{64,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{64,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_06_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{60,46}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_07_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,56},{66,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{66,46}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_08_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,104},{66,44}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{66,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_09_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_10_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,66},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{62,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{66,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{66,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,62},{46,66}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,368},{48,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{48,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_14_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{64,52}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_15_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,262},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{62,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_16_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,190},{48,50}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{48,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_17_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_18_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,364},{56,40}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{56,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_19_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,130},{58,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{58,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_20_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{60,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_21_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,110},{66,40}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_22_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,352},{58,34}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{58,34}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_23_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,322},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{44,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_24_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{56,46}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_25_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{64,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_26_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,150},{64,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_27_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,240},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{54,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_28_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,248},{60,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_29_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,152},{54,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_30_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_31_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,208},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{52,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_32_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{62,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{62,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L11_silhouette.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e4f51dd5646dbe8bf8f782c56bd2bd9$</string>
            <key>textureFileName</key>
            <string>L11_silhouette.pvr.ccz</string>
        </dict>
    </dict>
</plist>
