<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L11_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,379},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>L11_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,372},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>L11_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,96},{71,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,42}}</string>
                <key>sourceSize</key>
                <string>{71,42}</string>
            </dict>
            <key>L11_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{92,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,61}}</string>
                <key>sourceSize</key>
                <string>{92,61}</string>
            </dict>
            <key>L11_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,372},{27,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>L11_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,463},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>L11_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,421},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,42}</string>
            </dict>
            <key>L11_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{64,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>L11_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{119,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,61}}</string>
                <key>sourceSize</key>
                <string>{119,61}</string>
            </dict>
            <key>L11_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,322},{97,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,81}}</string>
                <key>sourceSize</key>
                <string>{97,81}</string>
            </dict>
            <key>L11_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{125,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,75}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>L11_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,421},{19,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,37}}</string>
                <key>sourceSize</key>
                <string>{19,37}</string>
            </dict>
            <key>L11_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,319},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>L11_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,270},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>L11_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,107},{86,45}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{86,45}}</string>
                <key>sourceSize</key>
                <string>{90,81}</string>
            </dict>
            <key>L11_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,416},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>L11_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{92,63}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{92,63}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>L11_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,190},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>L11_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,297},{67,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,23}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
            <key>L11_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,297},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>L11_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,324},{118,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,72}</string>
            </dict>
            <key>L11_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,197},{98,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,77}}</string>
                <key>sourceSize</key>
                <string>{98,77}</string>
            </dict>
            <key>L11_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,444},{66,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,95}}</string>
                <key>sourceSize</key>
                <string>{66,95}</string>
            </dict>
            <key>L11_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,270},{47,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,36}}</string>
                <key>sourceSize</key>
                <string>{47,36}</string>
            </dict>
            <key>L11_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,107},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>L11_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,319},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>L11_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,195},{54,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,97}}</string>
                <key>sourceSize</key>
                <string>{54,97}</string>
            </dict>
            <key>L11_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{57,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,117}}</string>
                <key>sourceSize</key>
                <string>{57,117}</string>
            </dict>
            <key>L11_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,442},{39,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,68}}</string>
                <key>sourceSize</key>
                <string>{39,68}</string>
            </dict>
            <key>L11_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,193}}</string>
                <key>sourceSize</key>
                <string>{49,193}</string>
            </dict>
            <key>L11_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{63,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,103}}</string>
                <key>sourceSize</key>
                <string>{63,103}</string>
            </dict>
            <key>L11_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,121},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L11_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f5da8dc472f57da27ea268fb149e560$</string>
            <key>textureFileName</key>
            <string>L11_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
