<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L11_01_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,318},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{60,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_02_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{62,60}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_03_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,198},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{38,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_04_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{62,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_05_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_06_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,130},{66,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_07_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,254},{34,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{34,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_08_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{58,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{58,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_09_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_10_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_11_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,132},{58,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_12_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{66,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_13_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,258},{60,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_14_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,440},{54,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{54,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_15_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,66},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_16_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,380},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{58,26}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_17_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,438},{60,54}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{60,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_18_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,380},{56,58}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{56,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_19_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_20_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,440},{54,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{54,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_21_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,70},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{42,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_22_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,382},{60,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{60,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_23_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,130},{60,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_24_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{44,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_25_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,192},{62,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{62,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_26_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,256},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{60,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_27_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,192},{64,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_28_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,70},{60,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_29_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,318},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{56,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_30_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_31_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,320},{62,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_32_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{60,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L11_picture.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdc1a81e63572ef3af3af4d5ebcfdbb0$</string>
            <key>textureFileName</key>
            <string>L11_picture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
