<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L11_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,315},{43,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,54}}</string>
                <key>sourceSize</key>
                <string>{43,54}</string>
            </dict>
            <key>L11_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>L11_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,140},{31,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,76}}</string>
                <key>sourceSize</key>
                <string>{31,76}</string>
            </dict>
            <key>L11_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,181},{48,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,82}}</string>
                <key>sourceSize</key>
                <string>{48,82}</string>
            </dict>
            <key>L11_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,71},{88,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{92,76}</string>
            </dict>
            <key>L11_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,340},{55,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>L11_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{40,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,120}}</string>
                <key>sourceSize</key>
                <string>{40,120}</string>
            </dict>
            <key>L11_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,181},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>L11_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,286},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>L11_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,240},{25,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,59}}</string>
                <key>sourceSize</key>
                <string>{25,59}</string>
            </dict>
            <key>L11_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,259},{46,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,54}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>L11_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{74,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>L11_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,105}}</string>
                <key>sourceSize</key>
                <string>{184,105}</string>
            </dict>
            <key>L11_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,173},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>L11_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,267},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>L11_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,164},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>L11_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,231},{31,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,63}}</string>
                <key>sourceSize</key>
                <string>{31,63}</string>
            </dict>
            <key>L11_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,149},{66,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,30}}</string>
                <key>sourceSize</key>
                <string>{66,30}</string>
            </dict>
            <key>L11_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{70,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,91}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>L11_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,342},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>L11_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,164},{65,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,17}}</string>
                <key>sourceSize</key>
                <string>{65,17}</string>
            </dict>
            <key>L11_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,140},{32,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,53}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>L11_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,109},{19,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,86}}</string>
                <key>sourceSize</key>
                <string>{19,86}</string>
            </dict>
            <key>L11_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,286},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>L11_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,109},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>L11_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,44},{105,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,94}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>L11_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{100,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,33}}</string>
                <key>sourceSize</key>
                <string>{100,33}</string>
            </dict>
            <key>L11_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,109},{93,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,53}}</string>
                <key>sourceSize</key>
                <string>{93,55}</string>
            </dict>
            <key>L11_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,195},{62,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,36}}</string>
                <key>sourceSize</key>
                <string>{62,36}</string>
            </dict>
            <key>L11_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,231},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>L11_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,239},{64,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,45}}</string>
                <key>sourceSize</key>
                <string>{64,45}</string>
            </dict>
            <key>L11_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{105,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,123}}</string>
                <key>sourceSize</key>
                <string>{105,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L11_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,397}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42e7139a3e4947b31a7e0252e1ed1648$</string>
            <key>textureFileName</key>
            <string>L11_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
