<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L13_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,108},{100,74}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{100,74}}</string>
                <key>sourceSize</key>
                <string>{124,86}</string>
            </dict>
            <key>L13_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,453},{52,56}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{84,56}</string>
            </dict>
            <key>L13_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,319},{93,86}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{97,88}</string>
            </dict>
            <key>L13_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{54,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,85}}</string>
                <key>sourceSize</key>
                <string>{54,85}</string>
            </dict>
            <key>L13_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{104,60}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{104,60}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>L13_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,49},{54,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{54,64}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>L13_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,389},{61,74}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{61,74}}</string>
                <key>sourceSize</key>
                <string>{89,86}</string>
            </dict>
            <key>L13_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,102},{89,62}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{89,62}}</string>
                <key>sourceSize</key>
                <string>{115,74}</string>
            </dict>
            <key>L13_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,89},{46,63}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{46,63}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>L13_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{83,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,107}}</string>
                <key>sourceSize</key>
                <string>{83,107}</string>
            </dict>
            <key>L13_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,111},{104,66}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{114,66}</string>
            </dict>
            <key>L13_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,460},{85,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,48}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>L13_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{64,58}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{92,58}</string>
            </dict>
            <key>L13_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,119}}</string>
                <key>sourceSize</key>
                <string>{85,119}</string>
            </dict>
            <key>L13_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,303},{84,60}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{84,60}}</string>
                <key>sourceSize</key>
                <string>{104,76}</string>
            </dict>
            <key>L13_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,243},{110,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,100}}</string>
                <key>sourceSize</key>
                <string>{112,102}</string>
            </dict>
            <key>L13_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,210},{91,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,53}}</string>
                <key>sourceSize</key>
                <string>{95,53}</string>
            </dict>
            <key>L13_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,452},{81,58}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{81,58}}</string>
                <key>sourceSize</key>
                <string>{89,66}</string>
            </dict>
            <key>L13_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,459},{61,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,48}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>L13_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{112,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{112,40}}</string>
                <key>sourceSize</key>
                <string>{112,54}</string>
            </dict>
            <key>L13_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,217},{81,100}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{81,100}}</string>
                <key>sourceSize</key>
                <string>{97,120}</string>
            </dict>
            <key>L13_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,414},{55,43}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{55,43}}</string>
                <key>sourceSize</key>
                <string>{85,61}</string>
            </dict>
            <key>L13_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{98,77}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{98,77}}</string>
                <key>sourceSize</key>
                <string>{122,101}</string>
            </dict>
            <key>L13_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,361},{99,111}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{99,111}}</string>
                <key>sourceSize</key>
                <string>{99,167}</string>
            </dict>
            <key>L13_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{74,45}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{74,45}}</string>
                <key>sourceSize</key>
                <string>{92,61}</string>
            </dict>
            <key>L13_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,355},{51,103}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,103}}</string>
                <key>sourceSize</key>
                <string>{59,103}</string>
            </dict>
            <key>L13_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,414},{71,37}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{93,43}</string>
            </dict>
            <key>L13_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{116,69}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{116,69}}</string>
                <key>sourceSize</key>
                <string>{126,87}</string>
            </dict>
            <key>L13_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,123},{108,66}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{108,66}}</string>
                <key>sourceSize</key>
                <string>{130,76}</string>
            </dict>
            <key>L13_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{118,75}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{118,75}}</string>
                <key>sourceSize</key>
                <string>{136,83}</string>
            </dict>
            <key>L13_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{66,35}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{66,35}}</string>
                <key>sourceSize</key>
                <string>{94,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L13_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2edc45dc0bb2a6920656dde2c073c6b1$</string>
            <key>textureFileName</key>
            <string>L13_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
