<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L10_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{58,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,95}}</string>
                <key>sourceSize</key>
                <string>{60,95}</string>
            </dict>
            <key>L10_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{85,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,60}}</string>
                <key>sourceSize</key>
                <string>{87,62}</string>
            </dict>
            <key>L10_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,414},{94,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,60}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>L10_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{70,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>L10_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{82,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>L10_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,148}}</string>
                <key>sourceSize</key>
                <string>{133,148}</string>
            </dict>
            <key>L10_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{61,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,127}}</string>
                <key>sourceSize</key>
                <string>{61,127}</string>
            </dict>
            <key>L10_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,89},{58,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,72}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>L10_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,149},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,71}}</string>
                <key>sourceSize</key>
                <string>{63,71}</string>
            </dict>
            <key>L10_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,325},{72,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>L10_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,399},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>L10_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,285},{115,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{115,92}}</string>
                <key>sourceSize</key>
                <string>{117,92}</string>
            </dict>
            <key>L10_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,152},{93,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,105}}</string>
                <key>sourceSize</key>
                <string>{93,105}</string>
            </dict>
            <key>L10_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,399},{78,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>L10_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,149},{83,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,59}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>L10_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,96},{89,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,53}}</string>
                <key>sourceSize</key>
                <string>{89,53}</string>
            </dict>
            <key>L10_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>L10_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,222},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>L10_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,72},{69,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,58}}</string>
                <key>sourceSize</key>
                <string>{71,58}</string>
            </dict>
            <key>L10_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,234},{40,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,81}}</string>
                <key>sourceSize</key>
                <string>{42,81}</string>
            </dict>
            <key>L10_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,259},{102,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,64}}</string>
                <key>sourceSize</key>
                <string>{102,64}</string>
            </dict>
            <key>L10_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,363},{50,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,34}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>L10_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,402},{106,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,58}}</string>
                <key>sourceSize</key>
                <string>{106,58}</string>
            </dict>
            <key>L10_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{92,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,47}}</string>
                <key>sourceSize</key>
                <string>{94,47}</string>
            </dict>
            <key>L10_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,86},{65,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{65,60}}</string>
                <key>sourceSize</key>
                <string>{69,62}</string>
            </dict>
            <key>L10_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,240},{64,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,83}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>L10_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{97,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,131}}</string>
                <key>sourceSize</key>
                <string>{97,131}</string>
            </dict>
            <key>L10_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,151},{87,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,71}}</string>
                <key>sourceSize</key>
                <string>{89,71}</string>
            </dict>
            <key>L10_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>L10_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,325},{72,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,51}}</string>
                <key>sourceSize</key>
                <string>{72,51}</string>
            </dict>
            <key>L10_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,132},{64,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>L10_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,94},{58,53}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,53}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L10_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0513b1223c6f31c484a48864ae1a0be1$</string>
            <key>textureFileName</key>
            <string>L10_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
