<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L09_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,254},{156,112}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,112}}</string>
                <key>sourceSize</key>
                <string>{166,118}</string>
            </dict>
            <key>L09_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{135,165}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{135,165}}</string>
                <key>sourceSize</key>
                <string>{137,173}</string>
            </dict>
            <key>L09_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,100},{59,143}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{59,143}}</string>
                <key>sourceSize</key>
                <string>{69,151}</string>
            </dict>
            <key>L09_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,441},{80,91}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{80,91}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>L09_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,585},{112,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,115}}</string>
                <key>sourceSize</key>
                <string>{112,115}</string>
            </dict>
            <key>L09_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{137,157}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{137,157}}</string>
                <key>sourceSize</key>
                <string>{143,157}</string>
            </dict>
            <key>L09_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,534},{95,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{95,52}}</string>
                <key>sourceSize</key>
                <string>{99,54}</string>
            </dict>
            <key>L09_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{198,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,193}}</string>
                <key>sourceSize</key>
                <string>{198,193}</string>
            </dict>
            <key>L09_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,605},{50,89}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,89}}</string>
                <key>sourceSize</key>
                <string>{56,97}</string>
            </dict>
            <key>L09_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,605},{96,47}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{96,47}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>L09_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{33,172}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{33,172}}</string>
                <key>sourceSize</key>
                <string>{33,180}</string>
            </dict>
            <key>L09_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,418},{32,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,106}}</string>
                <key>sourceSize</key>
                <string>{32,106}</string>
            </dict>
            <key>L09_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{87,71}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{87,71}}</string>
                <key>sourceSize</key>
                <string>{101,85}</string>
            </dict>
            <key>L09_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,197},{55,161}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,161}}</string>
                <key>sourceSize</key>
                <string>{55,175}</string>
            </dict>
            <key>L09_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{80,131}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,131}}</string>
                <key>sourceSize</key>
                <string>{92,131}</string>
            </dict>
            <key>L09_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,526},{46,99}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{46,99}}</string>
                <key>sourceSize</key>
                <string>{46,103}</string>
            </dict>
            <key>L09_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,368},{48,35}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{48,35}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>L09_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{46,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,124}}</string>
                <key>sourceSize</key>
                <string>{46,124}</string>
            </dict>
            <key>L09_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,134},{65,47}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{65,47}}</string>
                <key>sourceSize</key>
                <string>{69,59}</string>
            </dict>
            <key>L09_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,183},{64,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,89}}</string>
                <key>sourceSize</key>
                <string>{64,89}</string>
            </dict>
            <key>L09_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,368},{115,130}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{115,130}}</string>
                <key>sourceSize</key>
                <string>{121,134}</string>
            </dict>
            <key>L09_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,235}}</string>
                <key>sourceSize</key>
                <string>{96,235}</string>
            </dict>
            <key>L09_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,197},{85,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>L09_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,91},{41,69}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{41,69}}</string>
                <key>sourceSize</key>
                <string>{73,105}</string>
            </dict>
            <key>L09_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,457},{122,126}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{122,126}}</string>
                <key>sourceSize</key>
                <string>{122,140}</string>
            </dict>
            <key>L09_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,485},{120,118}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{120,118}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>L09_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,327},{128,119}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{128,119}}</string>
                <key>sourceSize</key>
                <string>{148,123}</string>
            </dict>
            <key>L09_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,319},{58,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,120}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>L09_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,245},{72,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,62}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>L09_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{101,105}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{101,105}}</string>
                <key>sourceSize</key>
                <string>{117,111}</string>
            </dict>
            <key>L09_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,274},{73,51}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{73,51}}</string>
                <key>sourceSize</key>
                <string>{101,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L09_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e72d543a9b2b14e7559ebf1520453c05$</string>
            <key>textureFileName</key>
            <string>L09_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
