<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L09_01_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,52},{60,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{60,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_02_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{52,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_03_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{54,60}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{54,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_04_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{36,48}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{36,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_05_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{54,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{54,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_06_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,98},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{38,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_07_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,234},{42,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{42,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_08_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{60,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_09_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,218},{24,54}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_10_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{32,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_11_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{60,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{60,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_12_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,128},{18,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{18,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_13_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{60,48}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{60,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_14_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,148},{54,56}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{54,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_15_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,244},{30,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{30,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_16_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,316},{44,36}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{44,36}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_17_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,278},{48,36}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{48,36}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_18_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,138},{46,56}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{46,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_19_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{52,38}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{52,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_20_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,104},{24,60}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{24,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_22_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,206},{42,54}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{42,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_23_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,106},{20,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,3},{20,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_24_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,186},{56,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{56,18}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_25_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,182},{34,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{34,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_26_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,276},{48,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{48,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_27_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,250},{50,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{50,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_28_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,62},{42,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{42,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_29_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,204},{28,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{28,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_30_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,130},{58,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{58,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_31_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{60,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{60,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L09_32_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,58},{44,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{44,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L09_picture.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7d2123fa4ea2dad47008bd5452c7140$</string>
            <key>textureFileName</key>
            <string>L09_picture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
