<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L11_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,91},{65,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{65,98}}</string>
                <key>sourceSize</key>
                <string>{99,122}</string>
            </dict>
            <key>L11_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,258},{60,33}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{60,33}}</string>
                <key>sourceSize</key>
                <string>{70,49}</string>
            </dict>
            <key>L11_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,88},{72,104}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{72,104}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>L11_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{127,42}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{127,42}}</string>
                <key>sourceSize</key>
                <string>{137,52}</string>
            </dict>
            <key>L11_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{79,127}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{79,127}}</string>
                <key>sourceSize</key>
                <string>{87,127}</string>
            </dict>
            <key>L11_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,293},{65,64}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{65,64}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>L11_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,162},{61,13}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{61,13}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>L11_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,118},{99,75}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{99,75}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>L11_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,178},{82,22}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{82,22}}</string>
                <key>sourceSize</key>
                <string>{92,44}</string>
            </dict>
            <key>L11_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,195},{61,30}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{61,30}}</string>
                <key>sourceSize</key>
                <string>{71,48}</string>
            </dict>
            <key>L11_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{157,86}}</string>
                <key>sourceSize</key>
                <string>{175,106}</string>
            </dict>
            <key>L11_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,21},{93,38}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{93,38}}</string>
                <key>sourceSize</key>
                <string>{95,46}</string>
            </dict>
            <key>L11_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,269},{65,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{65,48}}</string>
                <key>sourceSize</key>
                <string>{67,52}</string>
            </dict>
            <key>L11_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{87,142}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{87,142}}</string>
                <key>sourceSize</key>
                <string>{103,156}</string>
            </dict>
            <key>L11_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,185},{82,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,58}}</string>
                <key>sourceSize</key>
                <string>{82,58}</string>
            </dict>
            <key>L11_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,195},{70,45}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{70,45}}</string>
                <key>sourceSize</key>
                <string>{74,51}</string>
            </dict>
            <key>L11_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,242},{70,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{70,34}}</string>
                <key>sourceSize</key>
                <string>{72,42}</string>
            </dict>
            <key>L11_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,158},{87,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{87,75}}</string>
                <key>sourceSize</key>
                <string>{87,81}</string>
            </dict>
            <key>L11_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,61},{55,92}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{55,92}}</string>
                <key>sourceSize</key>
                <string>{55,104}</string>
            </dict>
            <key>L11_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,163},{59,20}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{59,20}}</string>
                <key>sourceSize</key>
                <string>{77,32}</string>
            </dict>
            <key>L11_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{84,107}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{84,107}}</string>
                <key>sourceSize</key>
                <string>{92,115}</string>
            </dict>
            <key>L11_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,235},{70,70}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>L11_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,331},{37,45}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{37,45}}</string>
                <key>sourceSize</key>
                <string>{43,65}</string>
            </dict>
            <key>L11_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,91},{48,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{48,70}}</string>
                <key>sourceSize</key>
                <string>{54,76}</string>
            </dict>
            <key>L11_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{95,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{95,17}}</string>
                <key>sourceSize</key>
                <string>{97,35}</string>
            </dict>
            <key>L11_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,256},{37,69}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{37,69}}</string>
                <key>sourceSize</key>
                <string>{57,77}</string>
            </dict>
            <key>L11_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,162},{84,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{84,44}}</string>
                <key>sourceSize</key>
                <string>{88,50}</string>
            </dict>
            <key>L11_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,295},{55,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,42}}</string>
                <key>sourceSize</key>
                <string>{57,44}</string>
            </dict>
            <key>L11_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,90},{86,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{86,22}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>L11_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,208},{72,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,46}}</string>
                <key>sourceSize</key>
                <string>{76,46}</string>
            </dict>
            <key>L11_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,331},{47,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{47,50}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>L11_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,278},{66,51}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{66,51}}</string>
                <key>sourceSize</key>
                <string>{72,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L11_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:386d68c9ed66db1d2ab88afb95ea9797$</string>
            <key>textureFileName</key>
            <string>L11_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
