<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L09_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,418},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>L09_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,177},{88,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,118}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>L09_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{106,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,143}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>L09_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,297},{114,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,51}}</string>
                <key>sourceSize</key>
                <string>{114,51}</string>
            </dict>
            <key>L09_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{66,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,95}}</string>
                <key>sourceSize</key>
                <string>{66,95}</string>
            </dict>
            <key>L09_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{136,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,107}}</string>
                <key>sourceSize</key>
                <string>{136,107}</string>
            </dict>
            <key>L09_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,268},{61,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,87}}</string>
                <key>sourceSize</key>
                <string>{61,87}</string>
            </dict>
            <key>L09_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,140},{51,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,35}}</string>
                <key>sourceSize</key>
                <string>{51,35}</string>
            </dict>
            <key>L09_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,99},{76,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,54}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>L09_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,177},{51,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,95}}</string>
                <key>sourceSize</key>
                <string>{51,95}</string>
            </dict>
            <key>L09_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,461},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>L09_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{101,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,61}}</string>
                <key>sourceSize</key>
                <string>{101,61}</string>
            </dict>
            <key>L09_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,461},{44,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,71}}</string>
                <key>sourceSize</key>
                <string>{44,71}</string>
            </dict>
            <key>L09_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,65},{95,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,51}}</string>
                <key>sourceSize</key>
                <string>{95,51}</string>
            </dict>
            <key>L09_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,99},{51,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,73}}</string>
                <key>sourceSize</key>
                <string>{51,73}</string>
            </dict>
            <key>L09_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{57,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>L09_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,357},{72,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,59}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>L09_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,118},{88,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,57}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>L09_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,429},{103,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,76}}</string>
                <key>sourceSize</key>
                <string>{103,76}</string>
            </dict>
            <key>L09_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,463},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>L09_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,304},{123,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,82}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>L09_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,177},{83,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,125}}</string>
                <key>sourceSize</key>
                <string>{83,125}</string>
            </dict>
            <key>L09_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,288},{58,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,71}}</string>
                <key>sourceSize</key>
                <string>{58,71}</string>
            </dict>
            <key>L09_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,140},{71,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,35}}</string>
                <key>sourceSize</key>
                <string>{71,35}</string>
            </dict>
            <key>L09_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,118},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>L09_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{51,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,125}}</string>
                <key>sourceSize</key>
                <string>{51,125}</string>
            </dict>
            <key>L09_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,327},{93,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,132}}</string>
                <key>sourceSize</key>
                <string>{93,132}</string>
            </dict>
            <key>L09_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,208},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>L09_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{134,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,92}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>L09_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{61,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>L09_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,178}}</string>
                <key>sourceSize</key>
                <string>{86,178}</string>
            </dict>
            <key>L09_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,204},{87,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,82}}</string>
                <key>sourceSize</key>
                <string>{87,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L09_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eeaa2e45bcb66fea6cb8ee175895b97$</string>
            <key>textureFileName</key>
            <string>L09_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
