<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L05_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{114,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,88}}</string>
                <key>sourceSize</key>
                <string>{114,88}</string>
            </dict>
            <key>L05_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{68,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,121}}</string>
                <key>sourceSize</key>
                <string>{68,121}</string>
            </dict>
            <key>L05_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,355},{77,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,96}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>L05_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,229},{124,128}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{126,132}</string>
            </dict>
            <key>L05_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,181}}</string>
                <key>sourceSize</key>
                <string>{185,181}</string>
            </dict>
            <key>L05_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,434},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>L05_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,366},{95,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{95,55}}</string>
                <key>sourceSize</key>
                <string>{103,69}</string>
            </dict>
            <key>L05_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,423},{88,92}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{88,92}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>L05_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,89},{86,158}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{86,158}}</string>
                <key>sourceSize</key>
                <string>{98,162}</string>
            </dict>
            <key>L05_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{80,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,99}}</string>
                <key>sourceSize</key>
                <string>{80,99}</string>
            </dict>
            <key>L05_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,229},{54,53}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{54,53}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>L05_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,248},{115,57}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{115,57}}</string>
                <key>sourceSize</key>
                <string>{119,61}</string>
            </dict>
            <key>L05_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,365},{64,103}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{64,103}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>L05_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{90,69}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{90,69}}</string>
                <key>sourceSize</key>
                <string>{96,77}</string>
            </dict>
            <key>L05_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,451},{83,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,71}}</string>
                <key>sourceSize</key>
                <string>{85,71}</string>
            </dict>
            <key>L05_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,177},{107,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{107,136}}</string>
                <key>sourceSize</key>
                <string>{113,154}</string>
            </dict>
            <key>L05_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,513},{43,68}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{43,68}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>L05_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,185},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>L05_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,445},{70,49}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{70,49}}</string>
                <key>sourceSize</key>
                <string>{76,57}</string>
            </dict>
            <key>L05_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,355},{94,65}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{94,65}}</string>
                <key>sourceSize</key>
                <string>{94,73}</string>
            </dict>
            <key>L05_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,505},{41,73}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{41,73}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>L05_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{170,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,85}}</string>
                <key>sourceSize</key>
                <string>{170,85}</string>
            </dict>
            <key>L05_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{39,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,117}}</string>
                <key>sourceSize</key>
                <string>{39,117}</string>
            </dict>
            <key>L05_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,517},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{49,56}</string>
            </dict>
            <key>L05_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,285},{93,52}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{93,52}}</string>
                <key>sourceSize</key>
                <string>{109,64}</string>
            </dict>
            <key>L05_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,286},{106,78}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{106,78}}</string>
                <key>sourceSize</key>
                <string>{124,90}</string>
            </dict>
            <key>L05_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{110,146}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{110,146}}</string>
                <key>sourceSize</key>
                <string>{116,146}</string>
            </dict>
            <key>L05_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,470},{70,79}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{72,101}</string>
            </dict>
            <key>L05_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,114},{113,142}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{113,142}}</string>
                <key>sourceSize</key>
                <string>{117,142}</string>
            </dict>
            <key>L05_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,380},{63,51}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{63,51}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>L05_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{115,40}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{115,40}}</string>
                <key>sourceSize</key>
                <string>{129,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L05_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43b81e47b0c83eb9db6eb238c8b57a15$</string>
            <key>textureFileName</key>
            <string>L05_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
