<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L13_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,215}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{157,215}}</string>
                <key>sourceSize</key>
                <string>{201,215}</string>
            </dict>
            <key>L13_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{47,107}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{47,107}}</string>
                <key>sourceSize</key>
                <string>{67,127}</string>
            </dict>
            <key>L13_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,321},{50,95}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{50,95}}</string>
                <key>sourceSize</key>
                <string>{56,101}</string>
            </dict>
            <key>L13_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,436},{43,72}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{43,72}}</string>
                <key>sourceSize</key>
                <string>{57,84}</string>
            </dict>
            <key>L13_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,50},{41,60}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{41,60}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
            <key>L13_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,323},{14,77}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{14,77}}</string>
                <key>sourceSize</key>
                <string>{28,83}</string>
            </dict>
            <key>L13_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{122,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{122,41}}</string>
                <key>sourceSize</key>
                <string>{130,57}</string>
            </dict>
            <key>L13_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,73},{23,77}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{23,77}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>L13_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{38,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{38,49}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>L13_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,312},{90,81}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{90,81}}</string>
                <key>sourceSize</key>
                <string>{104,93}</string>
            </dict>
            <key>L13_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{61,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{61,46}}</string>
                <key>sourceSize</key>
                <string>{69,54}</string>
            </dict>
            <key>L13_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,339},{98,73}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{98,73}}</string>
                <key>sourceSize</key>
                <string>{98,83}</string>
            </dict>
            <key>L13_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,53},{36,59}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{36,59}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
            <key>L13_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,436},{62,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>L13_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{37,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{37,80}}</string>
                <key>sourceSize</key>
                <string>{45,84}</string>
            </dict>
            <key>L13_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,38},{46,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{46,88}}</string>
                <key>sourceSize</key>
                <string>{58,96}</string>
            </dict>
            <key>L13_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,404},{30,83}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{30,83}}</string>
                <key>sourceSize</key>
                <string>{50,97}</string>
            </dict>
            <key>L13_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,439},{95,71}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{95,71}}</string>
                <key>sourceSize</key>
                <string>{99,71}</string>
            </dict>
            <key>L13_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,98},{53,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>L13_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{55,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{55,56}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>L13_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,439},{27,69}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{27,69}}</string>
                <key>sourceSize</key>
                <string>{35,71}</string>
            </dict>
            <key>L13_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{34,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{34,90}}</string>
                <key>sourceSize</key>
                <string>{42,94}</string>
            </dict>
            <key>L13_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,418},{85,19}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{85,19}}</string>
                <key>sourceSize</key>
                <string>{97,31}</string>
            </dict>
            <key>L13_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,86},{87,22}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{87,22}}</string>
                <key>sourceSize</key>
                <string>{91,32}</string>
            </dict>
            <key>L13_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,41},{79,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,30}}</string>
                <key>sourceSize</key>
                <string>{81,30}</string>
            </dict>
            <key>L13_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,153},{52,41}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{52,41}}</string>
                <key>sourceSize</key>
                <string>{60,43}</string>
            </dict>
            <key>L13_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,439},{70,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{70,52}}</string>
                <key>sourceSize</key>
                <string>{72,58}</string>
            </dict>
            <key>L13_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,219},{102,47}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{102,47}}</string>
                <key>sourceSize</key>
                <string>{104,51}</string>
            </dict>
            <key>L13_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,219},{63,100}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{63,100}}</string>
                <key>sourceSize</key>
                <string>{73,108}</string>
            </dict>
            <key>L13_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,219},{91,34}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{91,34}}</string>
                <key>sourceSize</key>
                <string>{97,44}</string>
            </dict>
            <key>L13_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{61,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,28}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>L13_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,93},{41,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{41,45}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L13_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9c98b8891c99b03014cddebbea49910$</string>
            <key>textureFileName</key>
            <string>L13_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
