<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L14_fire_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,668},{132,190}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,31},{132,190}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>L14_fire_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,868},{136,196}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,27},{136,196}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>L14_fire_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{138,200}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{138,200}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>L14_fire_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{140,206}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{140,206}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>L14_fire_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,454},{144,212}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,18},{144,212}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>L14_fire_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{146,216}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,15},{146,216}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>L14_fire_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,692},{150,222}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{150,222}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>L14_fire_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{152,226}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{152,226}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>L14_fire_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,232}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{156,232}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>L14_fire_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{152,226}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{152,226}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>L14_fire_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{150,222}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{150,222}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>L14_fire_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,236},{146,216}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,15},{146,216}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>L14_fire_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,454},{144,212}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,18},{144,212}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>L14_fire_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,220},{140,206}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{140,206}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>L14_fire_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,210},{138,202}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{138,202}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>L14_fire_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,668},{136,198}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{136,198}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L14_animation.pvr.ccz</string>
            <key>size</key>
            <string>{590,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00884157a3db983260725534f6f9098b$</string>
            <key>textureFileName</key>
            <string>L14_animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
