<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui04_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,136}}</string>
                <key>sourceSize</key>
                <string>{1024,136}</string>
            </dict>
            <key>ui04_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,671},{79,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,74}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>ui04_frame_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,590},{79,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,74}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>ui04_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,671},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>ui04_hint_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,793},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>ui04_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,755},{36,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,61}}</string>
                <key>sourceSize</key>
                <string>{36,61}</string>
            </dict>
            <key>ui04_next_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,471},{54,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,79}}</string>
                <key>sourceSize</key>
                <string>{54,79}</string>
            </dict>
            <key>ui04_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,552},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>ui04_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,876},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui04_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,767},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>ui04_previous.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,755},{36,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,61}}</string>
                <key>sourceSize</key>
                <string>{36,61}</string>
            </dict>
            <key>ui04_previous_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,390},{54,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,79}}</string>
                <key>sourceSize</key>
                <string>{54,79}</string>
            </dict>
            <key>ui04_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,793},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>ui05_game_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,264},{720,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,124}}</string>
                <key>sourceSize</key>
                <string>{720,124}</string>
            </dict>
            <key>ui05_game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,138},{720,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,124}}</string>
                <key>sourceSize</key>
                <string>{720,124}</string>
            </dict>
            <key>ui05_high_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,584},{645,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,59}}</string>
                <key>sourceSize</key>
                <string>{645,59}</string>
            </dict>
            <key>ui05_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,908},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>ui05_next_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,908},{115,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,101}}</string>
                <key>sourceSize</key>
                <string>{115,101}</string>
            </dict>
            <key>ui05_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,908},{112,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,108}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
            <key>ui05_replay_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,671},{127,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,117}}</string>
                <key>sourceSize</key>
                <string>{127,117}</string>
            </dict>
            <key>ui05_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,800},{100,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,32}}</string>
                <key>sourceSize</key>
                <string>{100,32}</string>
            </dict>
            <key>ui05_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,390},{660,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,192}}</string>
                <key>sourceSize</key>
                <string>{660,192}</string>
            </dict>
            <key>ui05_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,671},{94,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,31}}</string>
                <key>sourceSize</key>
                <string>{94,31}</string>
            </dict>
            <key>ui06_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,908},{106,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,87}}</string>
                <key>sourceSize</key>
                <string>{106,87}</string>
            </dict>
            <key>ui06_menu_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,806},{121,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,100}}</string>
                <key>sourceSize</key>
                <string>{121,100}</string>
            </dict>
            <key>ui06_pause_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{288,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,768}}</string>
                <key>sourceSize</key>
                <string>{288,768}</string>
            </dict>
            <key>ui06_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,800},{99,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,120}}</string>
                <key>sourceSize</key>
                <string>{99,120}</string>
            </dict>
            <key>ui06_play_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,671},{118,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,133}}</string>
                <key>sourceSize</key>
                <string>{118,133}</string>
            </dict>
            <key>ui06_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,908},{112,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,108}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
            <key>ui06_replay_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,671},{127,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,117}}</string>
                <key>sourceSize</key>
                <string>{127,117}</string>
            </dict>
            <key>ui06_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,908},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>ui06_settings_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,901},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>in-game.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce5724217135778d9ea5e7c1c6c289ce$</string>
            <key>textureFileName</key>
            <string>in-game.pvr.ccz</string>
        </dict>
    </dict>
</plist>
