<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui01_btn_deluxe.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,309},{297,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,64}}</string>
                <key>sourceSize</key>
                <string>{297,64}</string>
            </dict>
            <key>ui01_btn_deluxe_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,619},{308,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,75}}</string>
                <key>sourceSize</key>
                <string>{308,75}</string>
            </dict>
            <key>ui01_btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,278},{106,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,74}}</string>
                <key>sourceSize</key>
                <string>{106,74}</string>
            </dict>
            <key>ui01_btn_more_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,186},{124,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,90}}</string>
                <key>sourceSize</key>
                <string>{124,90}</string>
            </dict>
            <key>ui01_btn_new_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,653},{297,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,64}}</string>
                <key>sourceSize</key>
                <string>{297,64}</string>
            </dict>
            <key>ui01_btn_new_game_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,309},{308,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,75}}</string>
                <key>sourceSize</key>
                <string>{308,75}</string>
            </dict>
            <key>ui01_btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,872},{404,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,87}}</string>
                <key>sourceSize</key>
                <string>{404,87}</string>
            </dict>
            <key>ui01_btn_play_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,772},{416,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,98}}</string>
                <key>sourceSize</key>
                <string>{416,98}</string>
            </dict>
            <key>ui01_btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,364},{404,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,87}}</string>
                <key>sourceSize</key>
                <string>{404,87}</string>
            </dict>
            <key>ui01_btn_resume_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,354},{416,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,98}}</string>
                <key>sourceSize</key>
                <string>{416,98}</string>
            </dict>
            <key>ui01_btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,354},{297,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,64}}</string>
                <key>sourceSize</key>
                <string>{297,64}</string>
            </dict>
            <key>ui01_btn_setting_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,54},{308,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,75}}</string>
                <key>sourceSize</key>
                <string>{308,75}</string>
            </dict>
            <key>ui01_btn_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,354},{297,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,64}}</string>
                <key>sourceSize</key>
                <string>{297,64}</string>
            </dict>
            <key>ui01_btn_settings_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,54},{308,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,75}}</string>
                <key>sourceSize</key>
                <string>{308,75}</string>
            </dict>
            <key>ui01_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{727,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{727,307}}</string>
                <key>sourceSize</key>
                <string>{727,307}</string>
            </dict>
            <key>ui09_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,309},{702,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,40}}</string>
                <key>sourceSize</key>
                <string>{702,40}</string>
            </dict>
            <key>ui09_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,976},{725,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{725,40}}</string>
                <key>sourceSize</key>
                <string>{725,40}</string>
            </dict>
            <key>ui09_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,0},{215,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,52}}</string>
                <key>sourceSize</key>
                <string>{215,52}</string>
            </dict>
            <key>ui10_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,309},{665,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,196}}</string>
                <key>sourceSize</key>
                <string>{665,196}</string>
            </dict>
            <key>ui10_popup_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,124},{161,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,60}}</string>
                <key>sourceSize</key>
                <string>{161,60}</string>
            </dict>
            <key>ui10_popup_button_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,54},{169,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,68}}</string>
                <key>sourceSize</key>
                <string>{169,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>load-home.pvr.ccz</string>
            <key>size</key>
            <string>{1022,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d52193974742a39fe6c062686060cd36$</string>
            <key>textureFileName</key>
            <string>load-home.pvr.ccz</string>
        </dict>
    </dict>
</plist>
