<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L01_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,403},{55,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,43}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
            <key>L01_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{15,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{15,147}}</string>
                <key>sourceSize</key>
                <string>{17,147}</string>
            </dict>
            <key>L01_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,483},{20,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,63}}</string>
                <key>sourceSize</key>
                <string>{22,63}</string>
            </dict>
            <key>L01_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,452},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>L01_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,418},{32,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,55}}</string>
                <key>sourceSize</key>
                <string>{32,55}</string>
            </dict>
            <key>L01_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,343},{69,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{69,65}}</string>
                <key>sourceSize</key>
                <string>{79,71}</string>
            </dict>
            <key>L01_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,475},{34,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,69}}</string>
                <key>sourceSize</key>
                <string>{34,69}</string>
            </dict>
            <key>L01_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,348},{90,102}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{90,102}}</string>
                <key>sourceSize</key>
                <string>{106,104}</string>
            </dict>
            <key>L01_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,308},{57,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,38}}</string>
                <key>sourceSize</key>
                <string>{57,38}</string>
            </dict>
            <key>L01_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,444},{55,63}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{55,63}}</string>
                <key>sourceSize</key>
                <string>{59,69}</string>
            </dict>
            <key>L01_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,274},{65,66}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{65,66}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>L01_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,196}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{57,196}}</string>
                <key>sourceSize</key>
                <string>{67,206}</string>
            </dict>
            <key>L01_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{93,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,149}}</string>
                <key>sourceSize</key>
                <string>{93,149}</string>
            </dict>
            <key>L01_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,343},{73,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,43}}</string>
                <key>sourceSize</key>
                <string>{73,43}</string>
            </dict>
            <key>L01_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{70,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,107}}</string>
                <key>sourceSize</key>
                <string>{72,109}</string>
            </dict>
            <key>L01_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,123},{74,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>L01_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,452},{45,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{45,58}}</string>
                <key>sourceSize</key>
                <string>{45,62}</string>
            </dict>
            <key>L01_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,342},{48,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{48,59}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>L01_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,414},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>L01_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,351},{130,68}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{130,68}}</string>
                <key>sourceSize</key>
                <string>{138,72}</string>
            </dict>
            <key>L01_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,351},{52,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,122}}</string>
                <key>sourceSize</key>
                <string>{52,126}</string>
            </dict>
            <key>L01_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,199},{82,107}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,107}}</string>
                <key>sourceSize</key>
                <string>{86,107}</string>
            </dict>
            <key>L01_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{69,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,108}}</string>
                <key>sourceSize</key>
                <string>{73,108}</string>
            </dict>
            <key>L01_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,111},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{80,64}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>L01_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,452},{56,42}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{56,42}}</string>
                <key>sourceSize</key>
                <string>{64,54}</string>
            </dict>
            <key>L01_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,193},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>L01_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,293},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{48,69}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>L01_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,112},{59,83}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{59,83}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>L01_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{41,119}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{41,119}}</string>
                <key>sourceSize</key>
                <string>{43,125}</string>
            </dict>
            <key>L01_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,197},{94,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,47}}</string>
                <key>sourceSize</key>
                <string>{94,53}</string>
            </dict>
            <key>L01_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{78,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{78,57}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>L01_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,308},{62,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,38}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L01_word.pvr.ccz</string>
            <key>size</key>
            <string>{406,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e46389e295df4a531215f5ca793bd7f$</string>
            <key>textureFileName</key>
            <string>L01_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
