<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L10_firefly_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{247,103}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{247,103}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,107},{235,103}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{235,103}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{231,101}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{231,101}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{225,101}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{225,101}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,212},{217,103}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{217,103}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,234},{209,107}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{209,107}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,250},{205,113}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{205,113}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,317},{203,119}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{203,119}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{197,129}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{197,129}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,365},{193,135}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{193,135}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,482},{189,139}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{189,139}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{187,139}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{187,139}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,438},{191,139}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{191,139}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,343},{197,137}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,3},{197,137}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{207,133}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{207,133}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,121},{219,127}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{219,127}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,111},{231,121}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{231,121}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{243,117}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{243,117}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,109}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{255,109}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
            <key>L10_firefly_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{251,107}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{251,107}}</string>
                <key>sourceSize</key>
                <string>{265,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L10_animation.pvr.ccz</string>
            <key>size</key>
            <string>{1006,726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46b201d41ed53f5e1dae9cc13a3f411d$</string>
            <key>textureFileName</key>
            <string>L10_animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
