<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L02_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,873},{83,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,78}}</string>
                <key>sourceSize</key>
                <string>{83,78}</string>
            </dict>
            <key>L02_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{74,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,89}}</string>
                <key>sourceSize</key>
                <string>{74,89}</string>
            </dict>
            <key>L02_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{160,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,105}}</string>
                <key>sourceSize</key>
                <string>{160,105}</string>
            </dict>
            <key>L02_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,958},{49,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,77}}</string>
                <key>sourceSize</key>
                <string>{49,77}</string>
            </dict>
            <key>L02_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,335},{79,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,114}}</string>
                <key>sourceSize</key>
                <string>{79,114}</string>
            </dict>
            <key>L02_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,215}}</string>
                <key>sourceSize</key>
                <string>{62,215}</string>
            </dict>
            <key>L02_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{88,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,134}}</string>
                <key>sourceSize</key>
                <string>{88,134}</string>
            </dict>
            <key>L02_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,255},{78,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,96}}</string>
                <key>sourceSize</key>
                <string>{78,98}</string>
            </dict>
            <key>L02_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>L02_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,487},{37,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,118}}</string>
                <key>sourceSize</key>
                <string>{37,118}</string>
            </dict>
            <key>L02_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,801},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>L02_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,974},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>L02_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{49,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,137}}</string>
                <key>sourceSize</key>
                <string>{49,137}</string>
            </dict>
            <key>L02_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,122},{90,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,131}}</string>
                <key>sourceSize</key>
                <string>{90,131}</string>
            </dict>
            <key>L02_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>L02_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,677},{62,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,55}}</string>
                <key>sourceSize</key>
                <string>{62,55}</string>
            </dict>
            <key>L02_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,741},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>L02_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,416},{108,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,69}}</string>
                <key>sourceSize</key>
                <string>{108,69}</string>
            </dict>
            <key>L02_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,693},{89,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,77}}</string>
                <key>sourceSize</key>
                <string>{89,77}</string>
            </dict>
            <key>L02_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,911},{81,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,61}}</string>
                <key>sourceSize</key>
                <string>{81,61}</string>
            </dict>
            <key>L02_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{24,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,118}}</string>
                <key>sourceSize</key>
                <string>{24,118}</string>
            </dict>
            <key>L02_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,618},{73,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{73,93}</string>
            </dict>
            <key>L02_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{121,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,119}}</string>
                <key>sourceSize</key>
                <string>{121,119}</string>
            </dict>
            <key>L02_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,618},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>L02_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{84,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,52}}</string>
                <key>sourceSize</key>
                <string>{84,54}</string>
            </dict>
            <key>L02_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{70,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,92}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>L02_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{68,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,99}}</string>
                <key>sourceSize</key>
                <string>{68,99}</string>
            </dict>
            <key>L02_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,526},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>L02_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{99,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,52}}</string>
                <key>sourceSize</key>
                <string>{99,52}</string>
            </dict>
            <key>L02_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,772},{89,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,62}}</string>
                <key>sourceSize</key>
                <string>{89,62}</string>
            </dict>
            <key>L02_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,836},{73,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,84}}</string>
                <key>sourceSize</key>
                <string>{73,84}</string>
            </dict>
            <key>L02_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{103,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,154}}</string>
                <key>sourceSize</key>
                <string>{103,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L02_word.pvr.ccz</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e6969a2c0697d1a0d7fbe2727a2ba9d$</string>
            <key>textureFileName</key>
            <string>L02_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
