<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L04_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{201,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,108}}</string>
                <key>sourceSize</key>
                <string>{201,108}</string>
            </dict>
            <key>L04_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,678},{56,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
            <key>L04_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,784},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>L04_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,769},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>L04_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,112},{29,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,150}}</string>
                <key>sourceSize</key>
                <string>{29,150}</string>
            </dict>
            <key>L04_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,524},{55,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,87}}</string>
                <key>sourceSize</key>
                <string>{55,87}</string>
            </dict>
            <key>L04_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,736},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>L04_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,143},{105,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>L04_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,452},{89,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,70}}</string>
                <key>sourceSize</key>
                <string>{89,70}</string>
            </dict>
            <key>L04_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,664},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>L04_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,200},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>L04_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,465},{70,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,89}}</string>
                <key>sourceSize</key>
                <string>{70,89}</string>
            </dict>
            <key>L04_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,732},{50,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,67}}</string>
                <key>sourceSize</key>
                <string>{50,67}</string>
            </dict>
            <key>L04_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,298},{69,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,96}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>L04_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,248},{103,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,79}}</string>
                <key>sourceSize</key>
                <string>{103,79}</string>
            </dict>
            <key>L04_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,382},{93,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,68}}</string>
                <key>sourceSize</key>
                <string>{93,68}</string>
            </dict>
            <key>L04_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,492},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>L04_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,265},{36,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,81}}</string>
                <key>sourceSize</key>
                <string>{36,81}</string>
            </dict>
            <key>L04_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,434},{29,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,92}}</string>
                <key>sourceSize</key>
                <string>{29,92}</string>
            </dict>
            <key>L04_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,657},{51,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,74}}</string>
                <key>sourceSize</key>
                <string>{51,74}</string>
            </dict>
            <key>L04_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{47,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,89}}</string>
                <key>sourceSize</key>
                <string>{47,89}</string>
            </dict>
            <key>L04_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,600},{83,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,76}}</string>
                <key>sourceSize</key>
                <string>{83,76}</string>
            </dict>
            <key>L04_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,426},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>L04_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,112},{49,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>L04_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,574},{73,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,81}}</string>
                <key>sourceSize</key>
                <string>{73,81}</string>
            </dict>
            <key>L04_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,710},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>L04_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,329},{98,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,51}}</string>
                <key>sourceSize</key>
                <string>{98,51}</string>
            </dict>
            <key>L04_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,537},{61,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,86}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>L04_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,93},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>L04_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,129},{41,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,134}}</string>
                <key>sourceSize</key>
                <string>{41,134}</string>
            </dict>
            <key>L04_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,348},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>L04_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,581},{83,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>L04_33_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,369},{94,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,63}}</string>
                <key>sourceSize</key>
                <string>{94,63}</string>
            </dict>
            <key>L04_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L04_word.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ce0a9caebd9d5dd522ddffd0c208c1b$</string>
            <key>textureFileName</key>
            <string>L04_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
