<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L13_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,409},{52,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,4},{52,67}}</string>
                <key>sourceSize</key>
                <string>{136,75}</string>
            </dict>
            <key>L13_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,88},{80,70}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{80,70}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>L13_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,463},{72,71}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>L13_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,258},{54,100}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{54,100}}</string>
                <key>sourceSize</key>
                <string>{58,108}</string>
            </dict>
            <key>L13_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{84,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,216}}</string>
                <key>sourceSize</key>
                <string>{86,216}</string>
            </dict>
            <key>L13_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{58,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,34}}</string>
                <key>sourceSize</key>
                <string>{58,34}</string>
            </dict>
            <key>L13_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,367},{40,60}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{46,68}</string>
            </dict>
            <key>L13_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,416},{80,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,36}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>L13_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,53},{112,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{112,74}}</string>
                <key>sourceSize</key>
                <string>{118,74}</string>
            </dict>
            <key>L13_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{81,102}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,102}}</string>
                <key>sourceSize</key>
                <string>{83,106}</string>
            </dict>
            <key>L13_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,256},{138,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,98}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>L13_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,250},{56,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>L13_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,411},{78,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{78,85}}</string>
                <key>sourceSize</key>
                <string>{90,93}</string>
            </dict>
            <key>L13_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,298},{67,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{67,54}}</string>
                <key>sourceSize</key>
                <string>{75,66}</string>
            </dict>
            <key>L13_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,302},{91,112}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{91,112}}</string>
                <key>sourceSize</key>
                <string>{95,118}</string>
            </dict>
            <key>L13_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{38,107}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,107}}</string>
                <key>sourceSize</key>
                <string>{40,115}</string>
            </dict>
            <key>L13_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{96,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>L13_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{112,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,174}}</string>
                <key>sourceSize</key>
                <string>{112,174}</string>
            </dict>
            <key>L13_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,167},{89,133}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,147}</string>
            </dict>
            <key>L13_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,170},{69,86}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,44},{69,86}}</string>
                <key>sourceSize</key>
                <string>{81,142}</string>
            </dict>
            <key>L13_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,88},{88,169}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{88,169}}</string>
                <key>sourceSize</key>
                <string>{88,173}</string>
            </dict>
            <key>L13_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,486},{67,43}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{67,43}}</string>
                <key>sourceSize</key>
                <string>{71,47}</string>
            </dict>
            <key>L13_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,454},{79,30}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{79,30}}</string>
                <key>sourceSize</key>
                <string>{133,74}</string>
            </dict>
            <key>L13_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{189,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{189,81}}</string>
                <key>sourceSize</key>
                <string>{197,87}</string>
            </dict>
            <key>L13_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,226},{146,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,28}}</string>
                <key>sourceSize</key>
                <string>{154,28}</string>
            </dict>
            <key>L13_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,356},{59,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{59,41}}</string>
                <key>sourceSize</key>
                <string>{63,41}</string>
            </dict>
            <key>L13_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{116,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{116,82}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>L13_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,268}}</string>
                <key>sourceSize</key>
                <string>{49,270}</string>
            </dict>
            <key>L13_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,178},{46,159}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{46,159}}</string>
                <key>sourceSize</key>
                <string>{58,165}</string>
            </dict>
            <key>L13_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,395},{44,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,57}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>L13_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,356},{53,94}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{53,94}}</string>
                <key>sourceSize</key>
                <string>{57,98}</string>
            </dict>
            <key>L13_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,314},{79,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,97}}</string>
                <key>sourceSize</key>
                <string>{79,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L13_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a463c567e8fb3efd79e11b7bc89d100e$</string>
            <key>textureFileName</key>
            <string>L13_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
