<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L07_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,136},{58,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>L07_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,224},{51,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,38}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>L07_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,207},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>L07_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,317},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>L07_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,198},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>L07_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,173},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,32}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>L07_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{53,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{53,126}}</string>
                <key>sourceSize</key>
                <string>{61,140}</string>
            </dict>
            <key>L07_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,65},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>L07_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,183},{33,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>L07_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,218},{32,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{32,43}}</string>
                <key>sourceSize</key>
                <string>{40,55}</string>
            </dict>
            <key>L07_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,196},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{32,39}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>L07_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,89},{82,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,75}}</string>
                <key>sourceSize</key>
                <string>{82,75}</string>
            </dict>
            <key>L07_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,230},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>L07_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,283},{47,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{47,57}</string>
            </dict>
            <key>L07_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,233},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>L07_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,122},{90,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,59}}</string>
                <key>sourceSize</key>
                <string>{90,59}</string>
            </dict>
            <key>L07_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{89,67}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,67}}</string>
                <key>sourceSize</key>
                <string>{89,73}</string>
            </dict>
            <key>L07_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,196},{38,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{38,64}}</string>
                <key>sourceSize</key>
                <string>{44,70}</string>
            </dict>
            <key>L07_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,54},{95,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,66}}</string>
                <key>sourceSize</key>
                <string>{95,68}</string>
            </dict>
            <key>L07_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,115},{38,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{38,33}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>L07_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,183},{48,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>L07_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,277},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>L07_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,117},{85,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{85,79}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>L07_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{96,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{98,52}</string>
            </dict>
            <key>L07_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,155},{67,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{67,39}}</string>
                <key>sourceSize</key>
                <string>{71,45}</string>
            </dict>
            <key>L07_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{88,49}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{88,49}}</string>
                <key>sourceSize</key>
                <string>{92,55}</string>
            </dict>
            <key>L07_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,117},{53,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,22}}</string>
                <key>sourceSize</key>
                <string>{53,22}</string>
            </dict>
            <key>L07_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,85}}</string>
                <key>sourceSize</key>
                <string>{167,85}</string>
            </dict>
            <key>L07_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,263},{52,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{52,26}}</string>
                <key>sourceSize</key>
                <string>{52,36}</string>
            </dict>
            <key>L07_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{111,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,61}}</string>
                <key>sourceSize</key>
                <string>{111,61}</string>
            </dict>
            <key>L07_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,65},{69,91}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{69,91}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
            <key>L07_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,57},{109,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{109,58}}</string>
                <key>sourceSize</key>
                <string>{117,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L07_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e0667273e70b644de2d290e03987ab0$</string>
            <key>textureFileName</key>
            <string>L07_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
