<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L05_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,452},{82,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,51}}</string>
                <key>sourceSize</key>
                <string>{82,51}</string>
            </dict>
            <key>L05_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,174},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>L05_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,384},{66,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,45}}</string>
                <key>sourceSize</key>
                <string>{66,45}</string>
            </dict>
            <key>L05_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{40,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,181}}</string>
                <key>sourceSize</key>
                <string>{44,181}</string>
            </dict>
            <key>L05_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{60,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,233}}</string>
                <key>sourceSize</key>
                <string>{60,233}</string>
            </dict>
            <key>L05_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,196},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>L05_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,358},{72,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{72,111}}</string>
                <key>sourceSize</key>
                <string>{128,111}</string>
            </dict>
            <key>L05_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{71,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,130}}</string>
                <key>sourceSize</key>
                <string>{71,130}</string>
            </dict>
            <key>L05_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,154},{59,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,78}}</string>
                <key>sourceSize</key>
                <string>{59,78}</string>
            </dict>
            <key>L05_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,258},{90,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,105}}</string>
                <key>sourceSize</key>
                <string>{90,105}</string>
            </dict>
            <key>L05_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,384},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>L05_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,264},{84,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{84,61}</string>
            </dict>
            <key>L05_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,147},{42,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>L05_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,471},{66,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{66,30}}</string>
                <key>sourceSize</key>
                <string>{66,44}</string>
            </dict>
            <key>L05_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,234},{74,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,100}}</string>
                <key>sourceSize</key>
                <string>{74,100}</string>
            </dict>
            <key>L05_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,264},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>L05_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,461},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>L05_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,384},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>L05_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,217},{79,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,61}}</string>
                <key>sourceSize</key>
                <string>{79,61}</string>
            </dict>
            <key>L05_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,350},{100,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,99}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>L05_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{107,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,130}}</string>
                <key>sourceSize</key>
                <string>{107,130}</string>
            </dict>
            <key>L05_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,64},{218,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,108}}</string>
                <key>sourceSize</key>
                <string>{218,108}</string>
            </dict>
            <key>L05_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,471},{51,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,38}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>L05_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,452},{69,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,55}}</string>
                <key>sourceSize</key>
                <string>{69,55}</string>
            </dict>
            <key>L05_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,280},{76,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,59}}</string>
                <key>sourceSize</key>
                <string>{76,59}</string>
            </dict>
            <key>L05_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,446},{67,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,45}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
            <key>L05_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,350},{70,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,109}}</string>
                <key>sourceSize</key>
                <string>{70,109}</string>
            </dict>
            <key>L05_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,150}}</string>
                <key>sourceSize</key>
                <string>{242,150}</string>
            </dict>
            <key>L05_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,64},{44,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,81}}</string>
                <key>sourceSize</key>
                <string>{44,81}</string>
            </dict>
            <key>L05_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{51,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,136}}</string>
                <key>sourceSize</key>
                <string>{51,136}</string>
            </dict>
            <key>L05_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,336},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>L05_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,174},{53,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,69}}</string>
                <key>sourceSize</key>
                <string>{53,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L05_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ffc9a95a3874e494c9eb591164e6756$</string>
            <key>textureFileName</key>
            <string>L05_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
