<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L17_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,443},{66,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{66,51}</string>
            </dict>
            <key>L17_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,373},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>L17_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,97},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>L17_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,457},{53,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,66}}</string>
                <key>sourceSize</key>
                <string>{53,66}</string>
            </dict>
            <key>L17_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{81,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,44}}</string>
                <key>sourceSize</key>
                <string>{81,44}</string>
            </dict>
            <key>L17_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{93,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,45}</string>
            </dict>
            <key>L17_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,140},{64,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,47}}</string>
                <key>sourceSize</key>
                <string>{64,47}</string>
            </dict>
            <key>L17_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,126}}</string>
                <key>sourceSize</key>
                <string>{51,126}</string>
            </dict>
            <key>L17_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,230},{70,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,49}}</string>
                <key>sourceSize</key>
                <string>{70,49}</string>
            </dict>
            <key>L17_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,134},{55,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,40}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>L17_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,130},{98,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,42}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>L17_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,230},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>L17_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,424},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>L17_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,72},{66,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,48}}</string>
                <key>sourceSize</key>
                <string>{66,48}</string>
            </dict>
            <key>L17_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,70},{49,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,62}}</string>
                <key>sourceSize</key>
                <string>{49,62}</string>
            </dict>
            <key>L17_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,309},{61,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,74}}</string>
                <key>sourceSize</key>
                <string>{61,74}</string>
            </dict>
            <key>L17_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,429},{79,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,52}}</string>
                <key>sourceSize</key>
                <string>{79,52}</string>
            </dict>
            <key>L17_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,61},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>L17_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{49,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,83}}</string>
                <key>sourceSize</key>
                <string>{49,83}</string>
            </dict>
            <key>L17_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{68,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,42}}</string>
                <key>sourceSize</key>
                <string>{68,44}</string>
            </dict>
            <key>L17_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{66,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,47}}</string>
                <key>sourceSize</key>
                <string>{66,47}</string>
            </dict>
            <key>L17_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,344},{78,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,61}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>L17_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,169},{52,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,59}}</string>
                <key>sourceSize</key>
                <string>{52,59}</string>
            </dict>
            <key>L17_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,134},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>L17_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,302},{56,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
            <key>L17_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{57,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,46}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
            <key>L17_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{42,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>L17_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,206},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
            <key>L17_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{99,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,58}}</string>
                <key>sourceSize</key>
                <string>{99,58}</string>
            </dict>
            <key>L17_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{44,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,111}}</string>
                <key>sourceSize</key>
                <string>{44,111}</string>
            </dict>
            <key>L17_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,385},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>L17_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L17_word.pvr.ccz</string>
            <key>size</key>
            <string>{335,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7aae31f00a0be4bab27d2a3003513ebd$</string>
            <key>textureFileName</key>
            <string>L17_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
