<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L10_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,165},{69,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>L10_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,111},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>L10_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,445},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>L10_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,370},{73,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,101}}</string>
                <key>sourceSize</key>
                <string>{73,101}</string>
            </dict>
            <key>L10_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,447},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>L10_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,165},{59,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,108}}</string>
                <key>sourceSize</key>
                <string>{59,108}</string>
            </dict>
            <key>L10_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{44,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,168}}</string>
                <key>sourceSize</key>
                <string>{44,168}</string>
            </dict>
            <key>L10_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,258},{119,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,107}}</string>
                <key>sourceSize</key>
                <string>{119,107}</string>
            </dict>
            <key>L10_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{76,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,126}}</string>
                <key>sourceSize</key>
                <string>{76,126}</string>
            </dict>
            <key>L10_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{77,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,135}}</string>
                <key>sourceSize</key>
                <string>{77,135}</string>
            </dict>
            <key>L10_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{77,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,107}}</string>
                <key>sourceSize</key>
                <string>{77,107}</string>
            </dict>
            <key>L10_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,379},{42,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>L10_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{94,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,108}}</string>
                <key>sourceSize</key>
                <string>{94,108}</string>
            </dict>
            <key>L10_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,172},{128,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,84}}</string>
                <key>sourceSize</key>
                <string>{128,84}</string>
            </dict>
            <key>L10_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{76,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,55}}</string>
                <key>sourceSize</key>
                <string>{76,55}</string>
            </dict>
            <key>L10_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,261}}</string>
                <key>sourceSize</key>
                <string>{113,261}</string>
            </dict>
            <key>L10_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,445},{53,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{53,22}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>L10_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,265},{90,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,182}}</string>
                <key>sourceSize</key>
                <string>{90,182}</string>
            </dict>
            <key>L10_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,226},{69,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,105}}</string>
                <key>sourceSize</key>
                <string>{69,105}</string>
            </dict>
            <key>L10_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,446},{61,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,45}</string>
            </dict>
            <key>L10_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,452},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>L10_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,111},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,52}}</string>
                <key>sourceSize</key>
                <string>{70,52}</string>
            </dict>
            <key>L10_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,297},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>L10_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,379},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>L10_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{78,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,185}}</string>
                <key>sourceSize</key>
                <string>{78,185}</string>
            </dict>
            <key>L10_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,449},{61,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,109}}</string>
                <key>sourceSize</key>
                <string>{61,109}</string>
            </dict>
            <key>L10_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,165},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>L10_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,251},{73,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,117}}</string>
                <key>sourceSize</key>
                <string>{73,117}</string>
            </dict>
            <key>L10_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,379},{36,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,66}}</string>
                <key>sourceSize</key>
                <string>{44,66}</string>
            </dict>
            <key>L10_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,139},{24,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{24,62}}</string>
                <key>sourceSize</key>
                <string>{44,62}</string>
            </dict>
            <key>L10_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,139},{30,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L10_word.pvr.ccz</string>
            <key>size</key>
            <string>{511,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ce2149cd6c3715aca7fa55118a05220$</string>
            <key>textureFileName</key>
            <string>L10_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
