<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L12_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,79},{28,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{28,26}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>L12_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,360},{57,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,44}}</string>
                <key>sourceSize</key>
                <string>{57,44}</string>
            </dict>
            <key>L12_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>L12_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,444},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>L12_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,79},{72,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,55}}</string>
                <key>sourceSize</key>
                <string>{72,55}</string>
            </dict>
            <key>L12_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>L12_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,463},{46,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{46,34}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>L12_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{54,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,88}}</string>
                <key>sourceSize</key>
                <string>{54,88}</string>
            </dict>
            <key>L12_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,114},{40,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>L12_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,114},{42,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,53}}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>L12_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,74},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>L12_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,270},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>L12_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,391},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>L12_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,240},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>L12_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,153},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>L12_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,381},{61,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,54}}</string>
                <key>sourceSize</key>
                <string>{61,54}</string>
            </dict>
            <key>L12_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{83,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,98}}</string>
                <key>sourceSize</key>
                <string>{83,98}</string>
            </dict>
            <key>L12_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,463},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>L12_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>L12_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{110,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,81}}</string>
                <key>sourceSize</key>
                <string>{110,81}</string>
            </dict>
            <key>L12_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,153},{57,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{57,36}}</string>
                <key>sourceSize</key>
                <string>{57,44}</string>
            </dict>
            <key>L12_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,212},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>L12_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,301},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>L12_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,312},{67,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{67,38}}</string>
                <key>sourceSize</key>
                <string>{67,44}</string>
            </dict>
            <key>L12_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,312},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,44}}</string>
                <key>sourceSize</key>
                <string>{82,44}</string>
            </dict>
            <key>L12_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,237},{62,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,45}}</string>
                <key>sourceSize</key>
                <string>{62,45}</string>
            </dict>
            <key>L12_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,312},{77,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,50}}</string>
                <key>sourceSize</key>
                <string>{77,50}</string>
            </dict>
            <key>L12_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,412},{76,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,86}}</string>
                <key>sourceSize</key>
                <string>{76,86}</string>
            </dict>
            <key>L12_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,156},{46,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,79}}</string>
                <key>sourceSize</key>
                <string>{46,79}</string>
            </dict>
            <key>L12_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{109,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,152}}</string>
                <key>sourceSize</key>
                <string>{109,152}</string>
            </dict>
            <key>L12_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,158},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>L12_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,154}}</string>
                <key>sourceSize</key>
                <string>{92,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L12_word.pvr.ccz</string>
            <key>size</key>
            <string>{353,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0925defd139ce3989f4cfe8007e6eb50$</string>
            <key>textureFileName</key>
            <string>L12_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
