<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L11_01_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,332},{54,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{54,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_02_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,288},{60,42}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{60,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_03_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,66},{54,56}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{54,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_04_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{52,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_05_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,114},{48,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_06_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,62},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{56,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_07_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,372},{42,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{42,22}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_08_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,226},{42,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{42,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_09_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,296},{56,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{56,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_10_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{58,64}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_11_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,174},{56,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{56,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_12_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,120},{64,40}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{64,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_13_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,164},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{60,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_14_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{52,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{52,22}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_15_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,124},{48,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{48,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_16_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{60,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{60,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_17_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{52,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_18_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{54,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_19_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,236},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_20_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,246},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{40,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_21_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_22_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,270},{62,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{62,30}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_23_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{62,32}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{62,32}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_24_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,354},{44,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_25_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,360},{38,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{38,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_26_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{60,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_27_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,186},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{62,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_28_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,62},{50,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{50,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_29_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{44,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{44,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_30_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,302},{58,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{58,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_31_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,162},{22,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,1},{22,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>L11_32_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{64,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L11_picture.pvr.ccz</string>
            <key>size</key>
            <string>{256,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3dd805342adf647da408718db3a874c$</string>
            <key>textureFileName</key>
            <string>L11_picture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
