<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L08_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,122},{59,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{59,38}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>L08_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,171},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>L08_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,113},{56,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,61}}</string>
                <key>sourceSize</key>
                <string>{56,61}</string>
            </dict>
            <key>L08_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{76,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,86}}</string>
                <key>sourceSize</key>
                <string>{76,86}</string>
            </dict>
            <key>L08_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,167},{72,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,87}}</string>
                <key>sourceSize</key>
                <string>{72,87}</string>
            </dict>
            <key>L08_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,73},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>L08_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,434},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>L08_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,219},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>L08_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,248},{36,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>L08_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,91},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>L08_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{87,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,81}}</string>
                <key>sourceSize</key>
                <string>{87,81}</string>
            </dict>
            <key>L08_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,174},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>L08_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,286},{26,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{26,116}}</string>
                <key>sourceSize</key>
                <string>{44,116}</string>
            </dict>
            <key>L08_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,404},{57,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{57,28}}</string>
                <key>sourceSize</key>
                <string>{57,44}</string>
            </dict>
            <key>L08_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,286},{85,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,114}}</string>
                <key>sourceSize</key>
                <string>{85,114}</string>
            </dict>
            <key>L08_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,107},{58,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,100}}</string>
                <key>sourceSize</key>
                <string>{58,100}</string>
            </dict>
            <key>L08_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>L08_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{46,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,137}}</string>
                <key>sourceSize</key>
                <string>{46,137}</string>
            </dict>
            <key>L08_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,167},{117,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,74}}</string>
                <key>sourceSize</key>
                <string>{117,74}</string>
            </dict>
            <key>L08_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,162},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>L08_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,113},{36,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>L08_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{87,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,103}}</string>
                <key>sourceSize</key>
                <string>{87,103}</string>
            </dict>
            <key>L08_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>L08_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,64},{47,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,62}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>L08_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,163}}</string>
                <key>sourceSize</key>
                <string>{101,163}</string>
            </dict>
            <key>L08_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,434},{107,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,74}}</string>
                <key>sourceSize</key>
                <string>{107,74}</string>
            </dict>
            <key>L08_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{93,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,126}}</string>
                <key>sourceSize</key>
                <string>{93,126}</string>
            </dict>
            <key>L08_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{58,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{58,32}}</string>
                <key>sourceSize</key>
                <string>{58,44}</string>
            </dict>
            <key>L08_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,70},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>L08_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,167},{73,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,79}}</string>
                <key>sourceSize</key>
                <string>{73,79}</string>
            </dict>
            <key>L08_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>L08_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,165},{52,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,79}}</string>
                <key>sourceSize</key>
                <string>{52,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L08_word.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26d41314824a4b0efbe9f655976d264c$</string>
            <key>textureFileName</key>
            <string>L08_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
