<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L06_01_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,318},{134,33}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{134,33}}</string>
                <key>sourceSize</key>
                <string>{138,49}</string>
            </dict>
            <key>L06_02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,149},{38,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>L06_03_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,83},{88,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>L06_04_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,426},{82,69}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{82,69}}</string>
                <key>sourceSize</key>
                <string>{86,79}</string>
            </dict>
            <key>L06_05_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,213},{70,99}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{70,99}}</string>
                <key>sourceSize</key>
                <string>{78,113}</string>
            </dict>
            <key>L06_06_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{58,63}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{58,63}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>L06_07_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,157}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{56,157}}</string>
                <key>sourceSize</key>
                <string>{82,165}</string>
            </dict>
            <key>L06_08_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,271},{44,97}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{44,97}}</string>
                <key>sourceSize</key>
                <string>{54,101}</string>
            </dict>
            <key>L06_09_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,166},{91,43}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{91,43}}</string>
                <key>sourceSize</key>
                <string>{107,63}</string>
            </dict>
            <key>L06_10_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,317},{38,123}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{38,123}}</string>
                <key>sourceSize</key>
                <string>{58,151}</string>
            </dict>
            <key>L06_11_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{134,58}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{134,58}}</string>
                <key>sourceSize</key>
                <string>{138,62}</string>
            </dict>
            <key>L06_12_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,271},{44,37}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{44,37}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>L06_13_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,317},{116,84}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{116,84}}</string>
                <key>sourceSize</key>
                <string>{126,90}</string>
            </dict>
            <key>L06_14_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,426},{84,54}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{84,54}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>L06_15_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{63,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,106}}</string>
                <key>sourceSize</key>
                <string>{63,110}</string>
            </dict>
            <key>L06_16_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,310},{64,86}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{64,86}}</string>
                <key>sourceSize</key>
                <string>{78,112}</string>
            </dict>
            <key>L06_17_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,211},{39,97}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{39,97}}</string>
                <key>sourceSize</key>
                <string>{65,123}</string>
            </dict>
            <key>L06_18_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,233},{70,69}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{70,69}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>L06_19_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,141},{103,128}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{103,128}}</string>
                <key>sourceSize</key>
                <string>{107,146}</string>
            </dict>
            <key>L06_20_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,110},{101,61}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{101,61}}</string>
                <key>sourceSize</key>
                <string>{105,69}</string>
            </dict>
            <key>L06_21_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,172},{78,77}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{78,77}}</string>
                <key>sourceSize</key>
                <string>{90,93}</string>
            </dict>
            <key>L06_22_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{155,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,83}}</string>
                <key>sourceSize</key>
                <string>{155,85}</string>
            </dict>
            <key>L06_23_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{97,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{97,56}}</string>
                <key>sourceSize</key>
                <string>{97,76}</string>
            </dict>
            <key>L06_24_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,317},{92,107}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{92,107}}</string>
                <key>sourceSize</key>
                <string>{96,121}</string>
            </dict>
            <key>L06_25_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,442},{68,95}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{68,95}}</string>
                <key>sourceSize</key>
                <string>{74,103}</string>
            </dict>
            <key>L06_26_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{40,137}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{40,137}}</string>
                <key>sourceSize</key>
                <string>{56,137}</string>
            </dict>
            <key>L06_27_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,435},{43,75}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{43,75}}</string>
                <key>sourceSize</key>
                <string>{67,89}</string>
            </dict>
            <key>L06_28_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{79,101}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{79,101}}</string>
                <key>sourceSize</key>
                <string>{79,105}</string>
            </dict>
            <key>L06_29_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,101},{46,96}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{46,96}}</string>
                <key>sourceSize</key>
                <string>{60,116}</string>
            </dict>
            <key>L06_30_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,67},{48,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{48,97}}</string>
                <key>sourceSize</key>
                <string>{70,103}</string>
            </dict>
            <key>L06_31_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{97,51}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{97,51}}</string>
                <key>sourceSize</key>
                <string>{107,57}</string>
            </dict>
            <key>L06_32_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{107,87}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{107,87}}</string>
                <key>sourceSize</key>
                <string>{111,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L06_word.pvr.ccz</string>
            <key>size</key>
            <string>{494,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:044395a472621298e0b75fccc1236aa0$</string>
            <key>textureFileName</key>
            <string>L06_word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
