<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L12_ball_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{148,156}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,20},{148,156}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>L12_ball_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{150,152}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{150,152}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>L12_ball_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,636},{152,152}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{152,152}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>L12_ball_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{144,152}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{144,152}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>L12_ball_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,328},{156,156}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{156,156}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>L12_ball_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,166},{176,160}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{176,160}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>L12_ball_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{176,162}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{176,162}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>L12_ball_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{166,160}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{166,160}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>L12_ball_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,486},{148,156}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{148,156}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>L12_ball_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,638},{146,150}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{146,150}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>L12_ball_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{156,156}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>L12_ball_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{148,150}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{148,150}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>L12_ball_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,488},{148,154}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{148,154}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>L12_ball_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,328},{166,158}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{166,158}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>L12_ball_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,164}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{184,164}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L12_animation.pvr.ccz</string>
            <key>size</key>
            <string>{512,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc221754e5e75a28c204e7f1914c2588$</string>
            <key>textureFileName</key>
            <string>L12_animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
